@import 'src/styles/mixins';
@import 'src/styles/variables';
@import 'src/styles/themes';

.countdownWrapper {
  text-align: right;
  font-size: 18px;
  font-weight: 600;
  line-height: 100%; /* 27px */

  @include mobile {
    font-size: 14px;
  }

  color: $light-text-color;

  .title {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    svg {
      vertical-align: middle;
      margin-left: 4px;
    }
  }

  .countdown {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    font-size: 32px;
    font-weight: 500;
    line-height: 100%;
    margin-top: 12px;

    @include mobile {
      margin-top: 8px;
    }

    .unit {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 60px;

      margin-left: 12px;

      .symbol {
        color: $dropdown-bg-color-hover-dark;
        font-size: 14px;
        font-weight: 500;
        line-height: 100%;
        margin-top: 10px;
      }
    }
  }

  .countdownStart {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    font-size: 32px;
    font-weight: 500;
    line-height: 100%;
    margin-top: 12px;

    @include mobile {
      margin-top: 8px;
    }

    .startDate {
    }
    .startTime {
      color: $dropdown-bg-color-hover-dark;
      font-size: 14px;
      font-weight: 500;
      line-height: 100%;
      margin-top: 10px;
    }
  }

  .pie {
    height: 28px;
    width: 100%;
    margin-top: 12px;
    display: flex;
    justify-content: flex-end;

    .progress {
      text-align: right;
      height: 28px;
      width: 28px;
      border-radius: 99px;
      //   background: conic-gradient(#232521 80%, #efefef 80%);
    }
  }
  .button {
    display: flex;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 24px;

    button {
      width: 100%;
    }
  }
}

.tooltip {
  color: #efefef;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%; /* 21px */
  text-align: left;

  width: 100%;
  max-width: 400px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid;
  border-color: #494949;
  background: #121511;

  /* Shadow/2 */
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.light {
  color: #494949;
  border-color: #dfe0de;
  background: #fff;
  /* Shadow/2 */
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}
