@import 'src/styles/mixins';

.swap-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 32px;
  justify-content: space-between;

  .tv-chart {
    position: relative;
    height: 420px;
    padding-top: 10px;
    transition: all 1s ease;
    &.hidden {
      height: 0;
    }
  }
  .swap-col {
    &.w60 {
      width: 60%;
    }

    &.w40 {
      width: 38%;
    }
  }
}

@include mobile {
  .swap-container {
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
    .swap-col {
      &.w60 {
        width: 100%;
      }

      &.w40 {
        width: 100%;
        margin-top: 20px;
      }
    }
  }
}
