@import 'src/styles/mixins';

.wrapperEvent {
  width: 100%;
  height: 100vh;
  position: absolute;

  .top {
    position: sticky;
    top: 68px;
    left: 0;

    width: 100px;
    height: 119px;
    z-index: 30;

    @include medium-desktop {
      width: 70px;
      height: 89px;
    }

    @include mobile {
      width: 70px;
      height: 89px;
    }
  }

  .bottom {
    z-index: 30;
    position: fixed;
    right: -50px;
    bottom: -50px;

    width: 136.764px;
    height: 193px;
    transform: rotate(-12deg);

    @include mobile {
      display: none;
    }
  }
}

.swap-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 64px;
  flex-wrap: nowrap;
  width: 100%;

  @include ultra_desktop_max {
    gap: 40px;
  }

  @include medium-desktop {
    gap: 20px;
  }

  @include mobile {
    gap: 20px;
  }

  .swap-col {
    &.w60 {
      z-index: 1;
      width: 100%;
      max-width: 1000px;
    }

    &.w40 {
      width: 100%;
      max-width: 500px;

      .wrapperTop {
        position: sticky;
        top: 80px;
        margin-bottom: -155px;
        width: 100%;
        padding: 0 10px;

        @include mobile {
          margin-top: -40px;
          margin-bottom: -158px;
        }

        .swapTop {
          width: 100%;
        }
      }

      .swapBottom {
        position: sticky;
        top: 800px;
        margin-top: 32px;

        @include mobile {
          margin-bottom: -100px;
        }
      }

      @include medium-desktop {
        max-width: 400px;
      }
    }
  }
}

.luckyDraw {
  width: 100%;
}

.tv-chart {
  height: 100%;
  position: relative;
  padding-top: 18px;
  transition: all 1s ease;

  &.hidden {
    height: 0;
    padding-top: 0px;
  }
}

.tv-chart-container {
  &.activeChart {
    @include mobile {
      height: 430px;
    }

    height: 500px;
  }
}

.chartItem {
  height: 100%;
  display: none;
  border-radius: 12px;
  margin-top: 0px;
  transition: height ease-in-out 1s;

  overflow: unset;

  &.hidden {
    height: 0%;
    overflow: hidden;
  }

  &.activeChart {
    display: block;
  }

  .nodata-wrapper {
    height: 100%;
    border-radius: 12px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    @include theme() {
      border: 1px solid theme-get('neutral-border-border-default');
    }

    &.hidden {
      padding: 0;
      border: none;
    }

    svg {
      @include theme {
        path {
          fill: theme-get('neutral-8');
        }
      }
    }

    .nodata-content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 16px;
      overflow: hidden;
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      line-height: 150%;

      @include theme() {
        color: theme-get('neutral-8');
      }

      .nodata-title {
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        line-height: 150%;

        @include theme() {
          color: theme-get('neutral-text-text-token-name');
        }
      }
    }
  }
}

@include mobile {
  .swap-container {
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
    overflow-x: hidden;

    .swap-col {
      &.w60 {
        width: 100%;
        max-width: unset;
      }

      &.w40 {
        width: 100%;
        margin-top: 68px;
        max-width: unset;

        display: flex;
        flex-direction: column;
        gap: 12px;
      }
    }
  }
}
