@import 'src/styles/mixins';

.swap-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .tv-chart {
    position: relative;
    height: 500px;
    padding-top: 10px;
    transition: all 1s ease;
    margin-top: 8px;

    &.hidden {
      height: 0;
    }
  }

  .swap-col {
    &.w60 {
      width: 60%;
    }

    &.w40 {
      width: 38%;
    }
  }
}

.chartItem {
  height: 100%;
  display: none;
  border-radius: 12px;
  margin-top: 0px;
  transition: height ease-in-out 1s;

  overflow: unset;

  &.hidden {
    height: 0%;
    overflow: hidden;
  }

  // @include theme {
  //   background: theme-get('neutral-surface-bg-2');
  // }

  &.activeChart {
    display: block;
  }

  .nodata-wrapper {
    height: 100%;
    border-radius: 12px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    @include theme() {
      border: 1px solid theme-get('neutral-border-border-default');
    }

    svg {
      @include theme {
        path {
          fill: theme-get('neutral-9');
        }
      }
    }

    .nodata-content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 16px;

      text-align: center;
      font-size: 14px;
      font-weight: 400;
      line-height: 150%;

      @include theme() {
        color: theme-get('neutral-9');
      }

      .nodata-title {
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        line-height: 150%;

        @include theme() {
          color: theme-get('neutral-text-text-token-name');
        }
      }
    }
  }
}

@include mobile {
  .swap-container {
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
    overflow-x: hidden;

    .swap-col {
      &.w60 {
        width: 100%;
      }

      &.w40 {
        width: 100%;
        margin-top: 99px;
      }
    }
  }
}
