.pools {
  padding: 34px;
  color: #ffffff;
  height: 100%;
  @media (max-width: 575px) {
    padding: 0;
  }
}

.header {
  &_title {
    font-weight: 600;
    font-size: 40px;
    @media (max-width: 575px) {
      font-size: 30px;
    }
  }

  &_data {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;

    &_item {
      margin-right: 80px;
      @media (max-width: 575px) {
        margin: 0;
        width: 100%;
      }
    }

    &_name {
      font-weight: 600;
      font-size: 24px;
      color: #777e90;
      @media (max-width: 575px) {
        font-size: 16px;
      }
    }

    &_value {
      font-weight: 600;
      font-size: 24px;
      margin-left: 10px;
      @media (max-width: 575px) {
        font-size: 20px;
      }
    }
  }
}

.watchlist {
  margin-top: 25px;

  &_title {
    font-weight: 600;
    font-size: 18px;
    color: #777e90;
  }
}

.pairbox {
  background: linear-gradient(
    144.98deg,
    rgba(51, 51, 51, 0.8) 5.29%,
    rgba(7, 7, 7, 0.8) 95.51%
  );
  border-radius: 24px;
  padding: 24px 24px 35px;
  width: calc(25% - 27px);
  border: 1px solid;
  border-image-source: linear-gradient(
    99.99deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.15) 26.06%,
    rgba(225, 240, 255, 0.202656) 64.17%,
    rgba(232, 241, 255, 0) 98.89%
  );

  @media (max-width: 1600px) {
    width: calc((100% / 3) - 24px);
  }

  @media (max-width: 1200px) {
    width: calc(50% - 18px);
  }

  @media (max-width: 600px) {
    width: calc(100%);
  }

  &:hover {
    cursor: pointer;
    border: 1px solid #a871df;
  }

  &_header {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
  }

  &_logos {
    position: relative;
    width: 100px;
    height: 60px;
  }

  &_logo1 {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 48px;
    height: 48px;
  }

  &_logo2 {
    position: absolute;
    left: 25px;
    top: 30px;
    z-index: 1;
    width: 48px;
    height: 48px;
  }

  &_pair_name {
    font-weight: 600;
    font-size: 22px;
  }

  &_pair_rate {
    margin: 5px 0;
    color: #777e90;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
  }

  &_pair_apr {
    background: rgba(97, 47, 202, 0.5);
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
    padding: 4px 6px;
  }

  &_content {
    margin-top: 40px;
  }

  &_data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &_name {
      font-weight: 500;
      font-size: 14px;
      line-height: 150%;
      color: #777e90;
    }

    &_value {
      font-weight: 600;
      font-size: 16px;
    }
  }
}

.listpools {
  margin-top: 40px;

  .no_data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #191b21;
    border-radius: 16px;
    padding: 60px 20px;
    span {
      color: #505665;
      font-size: 20px;
      font-weight: 400;
      margin-top: -20px;
    }
  }

  &_header {
    display: flex;
    align-items: center;
  }

  .trigger_dropdown {
    display: flex;
    align-items: center;
    color: #505665;
    font-size: 16px;
    font-weight: 500;
    background: #1e1e21;
    border-radius: 8px;
    padding: 10px 16px;
    height: 48px;
    cursor: pointer;
    white-space: nowrap;
    @media (max-width: 575px) {
      font-size: 15px;
    }
    img {
      margin-right: 10px;
      @media (max-width: 575px) {
        margin-right: 5px;
      }
    }
  }

  .content_dropdown {
    background: #1e1e21;
    border-radius: 8px;
    overflow: hidden;
    .item_dropdown {
      white-space: nowrap;
      color: #ebebeb;
      font-size: 16px;
      font-weight: 500;
      padding: 14px 26px;
      cursor: pointer;
      &.active {
        color: #a871df;
      }
      &:hover {
        background: #3e3e42;
      }
    }
  }

  &_filter {
    display: inline-block;
  }

  &_title {
    font-weight: 600;
    font-size: 18px;
    color: #777e90;
  }

  &_search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
    @media (max-width: 575px) {
      margin-left: 10px;
    }

    &_input {
      width: 420px;
      height: 48px;
      background-color: #1e1e21;
      border-radius: 8px;
      padding: 12px 16px;
      font-weight: 500;
      font-size: 16px;
      color: white;      
      @media (max-width: 575px) {
        font-size: 15px;
        width: 100%;
      }
      &::placeholder {
        color: #505665;
      }
    }
  }

  &_create {
    padding: 16px 76px;
  }

  &_list {
    display: flex;
    gap: 35px;
    margin-top: 35px;
    flex-wrap: wrap;
  }

  &_btn {
    width: 250px;
    padding: 14px 10px;
    background: #612fca;
    box-shadow: inset 0px -2px 0px #4b2993, inset 1px 2px 0px #804af2;
    border-radius: 8px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    /* identical to box height, or 16px */
    padding: auto;

    text-align: center;

    /* aiRight/White */

    color: #ffffff;
    cursor: pointer;
  }
}
