@import 'src/styles/themes';
@import 'src/styles/mixins';

.pool_detail {
  max-width: 90%;
  margin: 40px auto 0;

  @media screen and (max-width: 1200px) {
    max-width: 95%;
  }

  @include small-mobile {
    margin-top: 85px;
  }

  .backWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    border-bottom: 2px;
    margin-bottom: 16px;
    gap: 8px;

    @include small-mobile {
      flex-direction: column;
      align-items: flex-start;
    }

    .back {
      cursor: pointer;
      display: flex;
      align-items: center;
      width: fit-content;

      @include mobile {
        text-decoration: underline;
      }

      .backIcon {
        @include theme() {
          path {
            stroke: theme-get('neutral-text-text-token-name');
          }
        }
      }

      span {
        margin-left: 5px;
        border-bottom: 2px solid transparent;

        @include theme() {
          color: theme-get('neutral-text-text-token-name');

          &:hover {
            border-color: theme-get('neutral-text-text-token-name');
          }
          @include mobile {
            &:hover {
              border: none;
            }
          }
        }
      }
    }

    .price {
      display: flex;
      align-items: center;

      gap: 8px;

      svg {
        width: 24px;
        height: 24px;
        vertical-align: middle;
      }
    }
  }

  .summary {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 16px;

    .overview {
      width: 34%;

      @include medium-desktop {
        width: 44%;
      }

      @include mobile {
        width: 100%;
      }
    }

    .chart {
      width: calc(66% - 16px);

      @include medium-desktop {
        width: calc(56% - 16px);
      }

      @include mobile {
        width: 100%;
      }
    }
  }
}

// .pool-detail {
//   padding: 40px;

//   @media (max-width: 500px) {
//     padding: 20px;
//   }

// .header {
//   display: flex;
//   align-items: center;
//   margin-bottom: 40px;
//   flex-wrap: wrap;
//   justify-content: space-between;
//   gap: 20px;

//   .token-info {
//     display: flex;
//     gap: 20px;

//     .logo {
//       position: relative;
//       width: 75px;
//       height: 80px;

//       .token1 {
//         width: 48px;
//         height: 48px;
//       }

//       .token2 {
//         width: 48px;
//         height: 48px;
//         position: absolute;
//         bottom: 0;
//         right: 0;
//         z-index: 1;
//       }
//     }

//     .title {
//       display: flex;
//       flex-direction: column;
//       justify-content: space-between;
//       flex-grow: 1;

//       .name {
//         font-style: normal;
//         font-weight: 600;
//         font-size: 22px;
//         line-height: 100%;
//         /* identical to box height, or 22px */

//         font-feature-settings: 'tnum' on, 'lnum' on, 'zero' on;

//         /* aiRight/White */

//         color: #ffffff;

//         &.light {
//           color: $light-text-color;
//         }
//       }

//       .value {
//         font-style: normal;
//         font-weight: 600;
//         font-size: 40px;
//         line-height: 100%;
//         /* identical to box height, or 40px */
//         margin-top: 10px;
//         font-feature-settings: 'tnum' on, 'lnum' on, 'zero' on;

//         color: #ffffff;

//         &.light {
//           color: $light-text-color;
//         }
//       }
//     }
//   }

//   .des {
//     font-style: normal;
//     font-weight: 600;
//     font-size: 16px;
//     line-height: 100%;
//     /* identical to box height, or 16px */

//     text-align: center;
//     font-feature-settings: 'tnum' on, 'lnum' on, 'zero' on;

//     /* aiRight/Gray 3 */

//     color: #777e90;
//   }
// }

// .info {
//   .row {
//     display: flex;
//     justify-content: space-between;
//     gap: 30px;
//     flex-wrap: wrap;

//     &:first-child {
//       padding-bottom: 40px;

//       @include theme() {
//         border-bottom: theme-get('hr-color');
//       }
//     }
//   }

//   .label {
//     font-style: normal;
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 150%;
//     color: #777e90;

//     &--bold {
//       font-weight: 600;
//       font-size: 18px;
//       line-height: 100%;
//       color: #fff;
//     }

//     &--sub {
//       font-weight: 500;
//       font-size: 14px;
//       line-height: 150%;
//       color: #777e90;
//       margin-top: 10px;
//     }
//   }

//   .container {
//     padding: 25px;
//     border-radius: 16px;

//     @include theme() {
//       background-color: theme-get('bg-container');
//       box-shadow: theme-get('shadow-pair');
//     }

//     font-style: normal;
//     font-weight: 600;
//     font-size: 22px;
//     line-height: 100%;
//     /* identical to box height, or 22px */

//     font-feature-settings: 'tnum' on, 'lnum' on, 'zero' on;

//     /* aiRight/White */

//     color: #ffffff;
//     display: flex;
//     flex-direction: column;
//     // margin-top: 25px;

//     &.tokens {
//       min-width: 500px;
//       display: flex;
//       flex: 1;
//       flex-direction: row;
//       gap: 30px;

//       .available-tokens {
//         width: 30%;
//         text-align: center;
//         display: flex;
//         flex-direction: column;
//         // justify-content: space-between;
//         align-items: center;
//         gap: 30px;

//         .amount {
//           font-weight: 600;
//           font-size: 18px;
//           line-height: 100%;

//           &.light {
//             background-color: $light-bg-primary-box;
//             color: $light-text-color;
//           }
//         }

//         .amount-usd {
//           font-weight: 600;
//           font-size: 14px;
//           line-height: 100%;
//           color: $light-text-color-gray;
//         }
//       }

//       .liquidity {
//         width: 70%;

//         .liquidity_token {
//           display: flex;
//           margin-top: 30px;

//           .liquidity_token_name {
//             display: flex;
//             gap: 5px;
//             flex-grow: 2;

//             .mark {
//               width: 16px;
//               height: 16px;
//               border-radius: 4px;
//             }

//             .token-name {
//               font-weight: 600;
//               font-size: 18px;
//               line-height: 100%;

//               &.light {
//                 color: $light-text-color;
//               }
//             }
//           }

//           .liquidity_token_value {
//             flex-grow: 1;
//             display: flex;
//             flex-direction: column;
//             align-items: flex-end;
//             gap: 10px;

//             .amount {
//               font-weight: 600;
//               font-size: 18px;
//               line-height: 100%;

//               &.light {
//                 color: $light-text-color;
//               }
//             }

//             .amount-usd {
//               font-weight: 600;
//               font-size: 14px;
//               line-height: 100%;
//               color: #777e90;
//             }
//           }
//         }
//       }
//     }

//     &.pool-catalyst {
//       min-width: calc(30% - 30px);

//       .pool-catalyst_token {
//         display: flex;
//         margin-top: 30px;

//         .pool-catalyst_token_name {
//           display: flex;
//           gap: 5px;
//           flex-grow: 2;

//           .token-name {
//             font-weight: 600;
//             font-size: 18px;
//             line-height: 100%;

//             &.light {
//               color: $light-text-color;
//             }
//           }

//           .icon {
//             width: 18px;
//             height: 18px;
//           }
//         }

//         .pool-catalyst_token_value {
//           flex-grow: 1;
//           padding-left: 40px;
//           display: flex;
//           flex-direction: column;
//           align-items: flex-end;
//           gap: 10px;

//           .amount {
//             font-weight: 600;
//             font-size: 18px;
//             line-height: 100%;

//             &.light {
//               color: $light-text-color;
//             }
//           }

//           .amount-usd {
//             font-weight: 600;
//             font-size: 14px;
//             line-height: 100%;
//             color: #777e90;
//           }
//         }
//       }

//       .pool-catalyst_token_lp {
//         display: flex;

//         .pool-catalyst_token_name {
//           display: flex;
//           gap: 5px;
//           flex-grow: 2;

//           .token-name {
//             font-weight: 600;
//             font-size: 18px;
//             line-height: 100%;

//             &.light {
//               color: $light-text-color;
//             }
//           }

//           .icon {
//             width: 18px;
//             height: 18px;
//           }
//         }

//         .pool-catalyst_token_value {
//           flex-grow: 1;
//           padding-left: 40px;
//           display: flex;
//           flex-direction: column;
//           align-items: flex-end;
//           gap: 10px;

//           .amount {
//             font-weight: 600;
//             font-size: 18px;
//             line-height: 100%;

//             &.light {
//               color: $light-text-color;
//             }
//           }

//           .amount-usd {
//             font-weight: 600;
//             font-size: 14px;
//             line-height: 100%;
//             color: #777e90;
//           }
//         }
//       }
//     }
//   }

//   .btn {
//     @include theme() {
//       background-color: theme-get('bg-btn-primary');
//       box-shadow: theme-get('shadow-btn');
//     }

//     padding: 16px;
//     width: 100%;
//     text-align: center;
//     border-radius: 8px;

//     font-style: normal;
//     font-weight: 600;
//     font-size: 16px;
//     line-height: 100%;
//     text-align: center;
//     color: $white-color;
//     cursor: pointer;
//     display: flex;
//     justify-content: center;
//     margin: 10px auto;
//     display: flex;
//     gap: 10px;
//     justify-content: center;
//     align-items: center;

//     &--dark {
//       background: #2d2938;
//       border: none;
//       box-shadow: none;
//     }
//   }

//   .mining {
//     // margin-top: 50px;
//     min-width: 70%;

//     .container_mining {
//       display: flex;
//       flex-direction: row;
//       gap: 30px;
//       height: 100%;

//       .icon {
//         width: 30%;
//       }

//       .bonded {
//         width: 70%;
//         display: flex;
//         flex-direction: column;
//         justify-content: space-between;

//         &-apr,
//         &-unbouding {
//           display: flex;
//           // margin-top: 20px;
//           justify-content: space-between;
//         }

//         &-apr {
//           .bonded-value {
//             background: $blue-color;
//             border-radius: 8px;
//             padding: 5px;
//           }
//         }

//         &-name {
//           font-weight: 500;
//           font-size: 16px;
//           line-height: 100%;
//           color: #777e90;
//         }

//         &-value {
//           font-weight: 500;
//           font-size: 16px;
//           line-height: 100%;
//         }
//       }

//       .amount {
//         font-weight: 600;
//         font-size: 18px;
//         line-height: 100%;
//         // margin-top: 20px;
//       }

//       .amount-usd {
//         font-weight: 600;
//         font-size: 14px;
//         line-height: 100%;
//         color: #777e90;
//         margin-top: 10px;
//       }
//     }
//   }

//   .earning {
//     // margin-top: 50px;
//     width: 27%;

//     .container_earning {
//       display: flex;
//       flex-direction: column;
//       justify-content: space-between;
//       gap: 14px;
//       // margin-top: 15px;
//       height: 100%;

//       .amount {
//         font-weight: 600;
//         font-size: 18px;
//         line-height: 100%;
//         margin-top: 20px;
//       }

//       .amount-usd {
//         font-weight: 600;
//         font-size: 14px;
//         line-height: 100%;
//         color: #777e90;
//       }
//     }
//   }
// }
// }

//responsive mobile
// @media (max-width: 575px) {
//   .pool-detail {
//     padding: 0;
//     margin-top: 20px;

//     .header {
//       margin-bottom: 20px;

//       .token-info {
//         gap: 16px;

//         .logo {
//           width: 45px;
//           height: 50px;

//           .token1,
//           .token2 {
//             width: 32px;
//             height: 32px;
//           }
//         }

//         .title {
//           .name {
//             font-size: 16px;
//           }

//           .value {
//             font-size: 24px;
//           }
//         }
//       }

//       .des {
//         font-size: 14px;
//       }
//     }

//     .info {
//       .container {
//         padding: 16px;
//         width: 100%;

//         &.tokens {
//           flex-wrap: wrap;
//           min-width: auto;
//           gap: 15px;

//           .available-tokens {
//             width: 100%;
//           }

//           .liquidity {
//             width: 100%;

//             .liquidity_token {
//               margin-top: 15px;

//               .liquidity_token_name {
//                 .token-name {
//                   font-size: 16px;
//                 }

//                 .amount {
//                   font-size: 16px;
//                 }
//               }

//               .liquidity_token_value {
//                 .amount {
//                   font-size: 16px;
//                 }
//               }
//             }
//           }
//         }

//         .btn {
//           font-size: 14px;
//         }

//         &.pool-catalyst {
//           .pool-catalyst_token {
//             margin-top: 15px;

//             .pool-catalyst_token_name {
//               .token-name {
//                 font-size: 16px;
//               }
//             }

//             .pool-catalyst_token_value {
//               .amount {
//                 font-size: 16px;
//               }
//             }
//           }
//         }
//       }
//     }
//   }
// }
