@import 'src/styles/themes';
@import 'src/styles/mixins';

.pool_detail {
  max-width: 90%;
  margin: 40px auto 40px;

  @media screen and (max-width: 1200px) {
    max-width: 95%;
  }

  @include small-mobile {
    margin-top: 85px;
    margin-bottom: 85px;
  }

  .backWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    border-bottom: 2px;
    margin-bottom: 16px;

    @include small-mobile {
      flex-direction: column;
      align-items: flex-start;
    }

    .back {
      cursor: pointer;
      display: flex;
      align-items: center;
      width: fit-content;

      @include mobile {
        text-decoration: underline;
      }

      .backIcon {
        margin-right: 24px;

        @include theme() {
          path {
            fill: theme-get('neutral-text-text-token-name');
          }
        }
      }

      .info {
        display: flex;
        align-items: center;
        gap: 8px;

        .tag {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 26px;
          height: 24px;
          padding: 2px;
          gap: 10px;
          border-radius: 6px;

          @include theme {
            border: 1px solid theme-get('colors-neutral-border-border-bold');
            color: theme-get('colors-neutral-text-body-on-row');
          }

          &.v3 {
            @include theme {
              border: 1px solid theme-get('primary-surface-default-dark-3');
              color: theme-get('primary-surface-default-dark-3');
            }
          }

          font-size: 12px;
          font-weight: 500;
          line-height: 150%;
          /* 18px */
        }

        .icons {
          display: inline-flex;

          img,
          svg {
            width: 32px;
            height: 32px;

            &:not(:first-of-type) {
              margin-left: -10px;
            }
          }

          &.light {
            img {
              filter: invert(1);
            }
          }
        }
      }
    }

    .price {
      display: flex;
      align-items: center;

      gap: 8px;
      margin-top: 12px;
      margin-left: 40px;

      @include mobile {
        margin-top: 8px;
        font-size: 11px;
      }

      font-size: 14px;
      font-weight: 400;
      line-height: 150%;
      /* 21px */

      .divider {
        padding: 0 6px;
        opacity: 0.3;

        @include theme {
          color: theme-get('neutral-8');
        }
      }

      svg {
        width: 24px;
        height: 24px;
        vertical-align: middle;
      }
    }

    .addPosition {
      button {
        svg {
          path {
            fill: $text-btn-default;
          }

          vertical-align: text-bottom;
        }
      }

      @include mobile {
        position: fixed;
        z-index: 10;
        bottom: 16px;
        left: 50%;
        transform: translateX(-50%);
        padding: 12px 16px;
        width: calc(100% - 20px);

        @include theme {
          background: theme-get('neutral-surface-bg-tooltip');
          border: 1px solid theme-get('neutral-border-border-default');
          border-radius: 99px;
        }

        & button {
          width: 100%;
        }
      }
    }
  }

  .summary {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 16px;

    .overview {
      width: 34%;

      @include medium-desktop {
        width: 44%;
      }

      @include mobile {
        width: 100%;
      }
    }

    .chart {
      width: calc(66% - 16px);

      @include medium-desktop {
        width: calc(56% - 16px);
      }

      @include mobile {
        width: 100%;
      }
    }
  }
}