.pool-detail {
  padding: 40px;

  @media (max-width: 500px) {
    padding: 20px;
  }

  .header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;

    .token-info {
      display: flex;
      gap: 20px;

      .logo {
        position: relative;
        width: 75px;
        height: 80px;

        .token1 {
          width: 48px;
          height: 48px;
        }

        .token2 {
          width: 48px;
          height: 48px;
          position: absolute;
          bottom: 0;
          right: 0;
          z-index: 1;
        }
      }

      .title {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;

        .name {
          font-style: normal;
          font-weight: 600;
          font-size: 22px;
          line-height: 100%;
          /* identical to box height, or 22px */

          font-feature-settings: 'tnum' on, 'lnum' on, 'zero' on;

          /* aiRight/White */

          color: #ffffff;
        }

        .value {
          font-style: normal;
          font-weight: 600;
          font-size: 40px;
          line-height: 100%;
          /* identical to box height, or 40px */
          margin-top: 10px;
          font-feature-settings: 'tnum' on, 'lnum' on, 'zero' on;

          color: #ffffff;
        }
      }
    }

    .des {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 100%;
      /* identical to box height, or 16px */

      text-align: center;
      font-feature-settings: 'tnum' on, 'lnum' on, 'zero' on;

      /* aiRight/Gray 3 */

      color: #777e90;
    }

    .btn {
      padding: 16px 24px;
      text-align: center;
      border-radius: 8px;

      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 100%;
      /* identical to box height, or 16px */

      text-align: center;

      /* aiRight/White */

      color: #ffffff;
      // cursor: pointer;
    }

    .swap {
      background: #191b21;
    }

    .liquidity {
      background: #612fca;
      /* Inner/Button */

      box-shadow: inset 0px -2px 0px #4b2993, inset 1px 2px 0px #804af2;
    }
  }

  .info {
    .row {
      display: flex;
      justify-content: space-between;
      gap: 30px;
      flex-wrap: wrap;

      &:first-child {
        padding-bottom: 40px;
        border-bottom: 1px solid #2d2938;
      }
    }

    .label {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 150%;
      color: #777e90;

      &--bold {
        font-weight: 600;
        font-size: 18px;
        line-height: 100%;
        color: #fff;
      }

      &--sub {
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        color: #777e90;
        margin-top: 10px;
      }
    }

    .container {
      padding: 25px;
      background: #17181c;
      border-radius: 16px;

      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 100%;
      /* identical to box height, or 22px */

      font-feature-settings: 'tnum' on, 'lnum' on, 'zero' on;

      /* aiRight/White */

      color: #ffffff;
      display: flex;
      flex-direction: column;
      // margin-top: 25px;

      &.tokens {
        min-width: 500px;
        display: flex;
        flex: 1;
        flex-direction: row;
        gap: 30px;

        .available-tokens {
          width: 30%;
          text-align: center;
          display: flex;
          flex-direction: column;
          // justify-content: space-between;
          align-items: center;
          gap: 30px;

          .amount {
            font-weight: 600;
            font-size: 18px;
            line-height: 100%;
          }

          .amount-usd {
            font-weight: 600;
            font-size: 14px;
            line-height: 100%;
            color: #777e90;
          }
        }

        .liquidity {
          width: 70%;

          .liquidity_token {
            display: flex;
            margin-top: 30px;

            .liquidity_token_name {
              display: flex;
              gap: 5px;
              flex-grow: 2;

              .mark {
                width: 16px;
                height: 16px;
                border-radius: 4px;
              }

              .token-name {
                font-weight: 600;
                font-size: 18px;
                line-height: 100%;
              }
            }

            .liquidity_token_value {
              flex-grow: 1;
              display: flex;
              flex-direction: column;
              align-items: flex-end;
              gap: 10px;

              .amount {
                font-weight: 600;
                font-size: 18px;
                line-height: 100%;
              }

              .amount-usd {
                font-weight: 600;
                font-size: 14px;
                line-height: 100%;
                color: #777e90;
              }
            }
          }
        }
      }

      &.pool-catalyst {
        min-width: calc(30% - 30px);

        .pool-catalyst_token {
          display: flex;
          margin-top: 30px;

          .pool-catalyst_token_name {
            display: flex;
            gap: 5px;
            flex-grow: 2;

            .token-name {
              font-weight: 600;
              font-size: 18px;
              line-height: 100%;
            }

            .icon {
              width: 18px;
              height: 18px;
            }
          }

          .pool-catalyst_token_value {
            flex-grow: 1;
            padding-left: 40px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 10px;

            .amount {
              font-weight: 600;
              font-size: 18px;
              line-height: 100%;
            }

            .amount-usd {
              font-weight: 600;
              font-size: 14px;
              line-height: 100%;
              color: #777e90;
            }
          }
        }

        .pool-catalyst_token_lp {
          display: flex;
          .pool-catalyst_token_name {
            display: flex;
            gap: 5px;
            flex-grow: 2;

            .token-name {
              font-weight: 600;
              font-size: 18px;
              line-height: 100%;
            }

            .icon {
              width: 18px;
              height: 18px;
            }
          }

          .pool-catalyst_token_value {
            flex-grow: 1;
            padding-left: 40px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 10px;

            .amount {
              font-weight: 600;
              font-size: 18px;
              line-height: 100%;
            }

            .amount-usd {
              font-weight: 600;
              font-size: 14px;
              line-height: 100%;
              color: #777e90;
            }
          }
        }
      }
    }

    .btn {
      background: #612fca;
      box-shadow: inset 0px -2px 0px #4b2993, inset 1px 2px 0px #804af2;
      padding: 16px;
      width: 100%;
      text-align: center;
      border-radius: 8px;

      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 100%;
      text-align: center;
      color: #ffffff;
      cursor: pointer;
      display: flex;
      justify-content: center;
      margin: 10px auto;
      display: flex;
      gap: 10px;
      justify-content: center;
      align-items: center;

      &--dark {
        background: #2d2938;
        border: none;
        box-shadow: none;
      }
    }

    .mining {
      // margin-top: 50px;
      min-width: 70%;

      .container_mining {
        display: flex;
        flex-direction: row;
        gap: 30px;
        height: 100%;

        .icon {
          width: 30%;
        }

        .bonded {
          width: 70%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          &-apr,
          &-unbouding {
            display: flex;
            // margin-top: 20px;
            justify-content: space-between;
          }

          &-apr {
            .bonded-value {
              background: #612fca;
              border-radius: 8px;
              padding: 5px;
            }
          }

          &-name {
            font-weight: 500;
            font-size: 16px;
            line-height: 100%;
            color: #777e90;
          }

          &-value {
            font-weight: 500;
            font-size: 16px;
            line-height: 100%;
          }
        }

        .amount {
          font-weight: 600;
          font-size: 18px;
          line-height: 100%;
          // margin-top: 20px;
        }

        .amount-usd {
          font-weight: 600;
          font-size: 14px;
          line-height: 100%;
          color: #777e90;
          margin-top: 10px;
        }
      }
    }

    .earning {
      // margin-top: 50px;
      width: 27%;

      .container_earning {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 14px;
        // margin-top: 15px;
        height: 100%;

        .amount {
          font-weight: 600;
          font-size: 18px;
          line-height: 100%;
          margin-top: 20px;
        }

        .amount-usd {
          font-weight: 600;
          font-size: 14px;
          line-height: 100%;
          color: #777e90;
        }
      }
    }
  }
}

//responsive mobile
@media (max-width: 575px) {
  .pool-detail {
    padding: 0;
    margin-top: 20px;
    .header {
      margin-bottom: 20px;
      .token-info {
        gap: 16px;
        .logo {
          width: 45px;
          height: 50px;
          .token1,
          .token2 {
            width: 32px;
            height: 32px;
          }
        }
        .title {
          .name {
            font-size: 16px;
          }
          .value {
            font-size: 24px;
          }
        }
      }
      .des {
        font-size: 14px;
      }
    }
    .info {
      .container {
        padding: 16px;
        width: 100%;
        &.tokens {
          flex-wrap: wrap;
          min-width: auto;
          gap: 15px;
          .available-tokens {
            width: 100%;
          }
          .liquidity {
            width: 100%;
            .liquidity_token {
              margin-top: 15px;
              .liquidity_token_name {
                .token-name {
                  font-size: 16px;
                }
                .amount {
                  font-size: 16px;
                }
              }
              .liquidity_token_value {
                .amount {
                  font-size: 16px;
                }
              }
            }
          }
        }
        .btn {
          font-size: 14px;
        }
        &.pool-catalyst {
          .pool-catalyst_token {
            margin-top: 15px;
            .pool-catalyst_token_name {
              .token-name {
                font-size: 16px;
              }
            }
            .pool-catalyst_token_value {
              .amount {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
}
