{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    [
      "./plugins/operator-overloading",
      {
        "enabled": true
      }
    ]
  ]
}
