# we need config for mainnet in seperate env files, for testnet, modify config file is ok
REACT_APP_NETWORK=mainnet
REACT_APP_SITE_TITLE=OraiDEX
REACT_APP_SITE_DESC="OraiDEX is an IBC and CosmWasm-based decentralized exchange platform with multichain interoperability, optimal speed, and a lot of liquidity options for users."

# config for relayer
REACT_APP_ATOM_ORAICHAIN_CHANNELS="channel-301 channel-15"
REACT_APP_TERRA_ORAICHAIN_CHANNELS="channel-43 channel-14"
REACT_APP_OSMOSIS_ORAICHAIN_CHANNELS="channel-216 channel-13"

# config for ibc denom
REACT_APP_ATOM_ORAICHAIN_DENOM='ibc/A2E2EEC9057A4A1C2C0A6A4C78B0239118DF5F278830F50B4A6BDD7A66506B78'
REACT_APP_LUNA_ORAICHAIN_DENOM='ibc/BA44E90EAFEA8F39D87A94A4A61C9FFED5887C2730DFBA668C197BA331372859'
REACT_APP_UST_ORAICHAIN_DENOM='ibc/9E4F68298EE0A201969E583100E5F9FAD145BAA900C04ED3B6B302D834D8E3C4'
REACT_APP_OSMOSIS_ORAICHAIN_DENOM='ibc/9C4DCD21B48231D0BC2AC3D1B74A864746B37E4292694C93C617324250D002FC'

# config for oraichain token
REACT_APP_AIRI_CONTRACT='orai10ldgzued6zjp0mkqwsv2mux3ml50l97c74x8sg'
REACT_APP_ORAIX_CONTRACT='orai1fe8g87lpsdttlth8e5wwae7mpjy8m4t3lya7fl'

# config for oraichain contract
REACT_APP_FACTORY_CONTRACT='orai1hemdkz4xx9kukgrunxu3yw0nvpyxf34v82d2c8'
REACT_APP_ROUTER_CONTRACT='orai1x7s4a42y8scugcac5vj2zre96z86lhntq7qg23'
REACT_APP_ORACLE_CONTRACT='orai18rgtdvlrev60plvucw2rz8nmj8pau9gst4q07m'
REACT_APP_GRAVITY_CONTRACT='0xf4e77E5Da47AC3125140c470c71cBca77B5c638c'
REACT_APP_STAKING_CONTRACT='orai19p43y0tqnr5qlhfwnxft2u5unph5yn60y7tuvu'
REACT_APP_REWARDER_CONTRACT='orai15qt00ztw72n2ne7ugcu49v83xuwe5l0kd2fmvp'
REACT_APP_ORAIX_CONTRACT='orai1lus0f0rhx8s03gdllx2n6vhkmf0536dv57wfge'

# config for bsc network
REACT_APP_BSC_NODE='https://bsc-dataseed.binance.org/'
REACT_APP_ORAI_CONTRACT_BSC='0xA325Ad6D9c92B55A3Fc5aD7e412B1518F96441C0'