# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# vendor 
vendor
public/vendor.*

# misc
.DS_Store
.env
.env.*
!.env.example
!.env.deprecate
!.env.oraix.test

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vercel
.firebase/

# ide
.idea

public/injected-provider.bundle.js

# for Yarn 3
.yarn
*.scss.d.ts