@import 'src/styles/mixins';
@import 'src/styles/variables';
@import 'src/styles/themes';

.vaultDetailInfo {
  width: 60%;

  .vaultName {
    .strategy {
      display: flex;
      align-items: center;
      gap: 10px;

      .strategyName {
        @include theme() {
          color: theme-get('neutral-text-title');
        }

        .strategyNameTitle {
          font-size: 14px;
          font-weight: 600;
          line-height: 150%;
        }

        .strategyNameValue {
          font-size: 24px;
          font-weight: 600;
          line-height: 150%;
        }
      }
    }
  }
}