@import 'src/styles/themes';
@import 'src/styles/mixins';

.poolList {
  width: 100%;

  .headerTable {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
    gap: 16px;

    @include small-mobile {
      flex-direction: column;
      align-items: flex-start;
    }

    .headerInfo {
      width: 100%;
      display: flex;
      align-items: center;
      border-radius: 12px;

      @include mobile() {
        flex-direction: column;
        align-items: flex-start;
      }

      @include theme() {
        background-color: theme-get('neutral-surface-bg-section');
      }

      &_item {
        display: flex;
        padding: 16px;
        flex-direction: column;
        flex: 1 0 0;

        color: $neutron-text-body-light;
        font-size: 16px;
        font-weight: 500;
        line-height: 100%;

        @include mobile() {
          width: 100%;
        }

        .info {
          display: flex;
          align-items: center;
          cursor: pointer;

          .content {
            display: flex;
            flex-direction: column;
            flex: 1;
            gap: 16px;
          }
        }

        .chart {
          max-height: 0px;
          padding: 0px 16px;
          border-radius: 12px;
          margin-top: 0px;

          overflow: hidden;
          transition: max-height ease-in-out 0.5s, padding ease-in-out 0.5s, margin-top ease-in-out 0.5s;

          @include theme {
            background: theme-get('neutral-surface-bg-2');
          }

          &.active {
            padding: 16px;
            margin-top: 16px;
            max-height: 300px;
          }
        }

        &:nth-child(even) {
          border-start-end-radius: 12px;
          border-end-end-radius: 12px;

          @include theme() {
            background-color: theme-get('neutral-surface-bg-section-3');
          }

          @include mobile {
            border-radius: unset;
            border-end-start-radius: 12px;
            border-end-end-radius: 12px;
          }
        }

        &_info {
          display: flex;
          align-items: flex-end;
          gap: 8px;
          align-self: stretch;

          img {
            width: 32px;
            height: 32px;
          }

          svg {
            width: 18px;
            height: 18px;
          }

          .liq_value {
            font-size: 24px;
            font-weight: 500;
            line-height: 120%;

            /* 28.8px */
            @include theme() {
              color: theme-get('sea-stone-200');
            }
          }

          .liq_suffix {
            font-size: 16px;
            font-weight: 500;
            line-height: 150%;
            color: $success-color;

            &.negative {
              color: $error-color;
            }
          }
        }
      }
    }

    .total {
      display: flex;
      padding: 24px;
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
      flex: 1 0 0;
      border-radius: 16px;

      font-size: 14px;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: 0.1px;

      @include mobile {
        gap: 12px;
        padding: 12px;
      }

      @include theme {
        color: theme-get('neutral-8');
        border: 1px solid theme-get('neutral-border-border-default');
        background: theme-get('neutral-surface-bg-swap');
      }

      h1 {
        @include theme {
          color: theme-get('colors-neutral-text-text-token-name');
        }

        font-size: 24px;
        font-weight: 500;
        line-height: 120%;
        /* 28.8px */
      }
    }
  }

  .list {
    margin-top: 24px;

    .tableWrapper {
      border-radius: 24px;
      overflow-x: auto;

      &::-webkit-scrollbar {
        height: 4px;
      }

      border: 1px solid;

      @include theme {
        border-color: theme-get('neutral-border-border-default');
        background: theme-get('neutral-surface-bg-swap');
      }
    }

    .listMobile {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include theme {
          color: theme-get('colors-neutral-text-text-token-name');
        }

        font-size: 16px;
        font-weight: 500;
        line-height: 120%;
        /* 28.8px */
      }

      .sortMobileWrapper {
        display: flex;
        gap: 4px;
        align-items: center;

        .sortBtn {
          padding: 2px 4px;
          border-radius: 4px;

          svg {
            vertical-align: middle;
          }

          @include theme {
            border-color: theme-get('neutral-border-border-default');
            background: theme-get('neutral-surface-bg-swap');
          }
        }

        .labelSort {
          position: relative;
          font-weight: 400;
          font-size: 14px;
          padding: 0 2px 2px 0px;

          @include theme {
            // color: theme-get('colors-neutral-text-text-token-name');
            color: theme-get('neutral-8');
            border-bottom: 1px solid theme-get('neutral-border-border-default');
          }
        }

        .sortList {
          position: absolute;
          display: none;
          flex-direction: column;
          gap: 4px;
          border-radius: 4px;
          padding: 8px;

          width: 150px;
          right: 0;
          top: 30px;

          @include theme {
            border-color: theme-get('neutral-border-border-default');
            background: theme-get('neutral-surface-bg-swap');
          }

          &.active {
            display: flex;
          }

          .item {
            padding: 6px 12px;
            text-align: left;
          }
        }
      }

      .mobilePoolItem {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 20px;

        border-radius: 12px;
        border: 1px solid;

        @include theme {
          border-color: theme-get('neutral-6');
        }

        @include small-mobile {
          padding: 12px;
        }

        .itemMobile {
          display: flex;
          justify-content: space-between;
          align-items: center;

          &.flexStart {
            align-items: flex-start;
          }

          .label {
            @include theme {
              color: theme-get('neutral-8');
            }

            font-size: 12px;
            font-weight: 400;
            line-height: 120%;
          }
        }
      }
    }

    .nodata {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      font-size: 14px;
      font-weight: 400;
      line-height: 150%;
      /* 21px */
      border-radius: 12px;

      @include theme {
        color: them-get('neutral-8');
      }

      height: 200px;

      span {
        margin-top: 8px;
      }
    }

    table {

      /* required css to make the rows rounded */
      thead {
        white-space: nowrap;
        cursor: pointer;

        svg {
          vertical-align: bottom;
        }

        th:first-child {
          border-top-left-radius: 24px;
        }

        th:last-child {
          border-top-right-radius: 24px;
          cursor: auto;
        }

        border-bottom: 1px solid;

        @include theme {
          border-color: theme-get('neutral-border-border-default');
        }
      }

      tbody {
        @include theme {
          background: theme-get('neutral-surface-bg-swap');
        }

        tr {
          width: '15%';

          &:first-of-type {
            width: '50%';
          }
        }

        tr:not(:last-of-type) {
          border-bottom: 1px solid;

          @include theme {
            border-color: theme-get('neutral-border-border-default');
          }
        }

        tr:last-child td:first-child {
          border-bottom-left-radius: 24px;
        }

        tr:last-child td:last-child {
          border-bottom-right-radius: 24px;
        }

        tr:hover {
          @include theme {
            background: theme-get('neutral-6');
          }
        }
      }

      th {
        padding: 24px;

        @include theme {
          color: theme-get('neutral-8');
        }

        font-size: 12px;
        font-weight: 500;
        line-height: 150%;
      }

      td {
        padding: 24px;

        @include theme {
          color: theme-get('neutral-text-text-dropdown');
        }

        font-size: 14px;
        font-weight: 500;
        line-height: 150%;
        /* 21px */
      }
    }

    .textRight {
      text-align: right;
    }

    .name {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 8px;
      align-self: stretch;
      flex-wrap: nowrap;
      white-space: nowrap;

      font-size: 16px;
      font-weight: 500;
      line-height: 150%;

      @include small-mobile {
        flex-direction: column;
        align-items: flex-start;
      }

      .title {
        display: flex;
        gap: 12px;
        align-items: center;

        @include mobile {
          gap: 8px;
        }

        .tag {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 26px;
          height: 24px;
          padding: 2px;
          gap: 10px;
          border-radius: 6px;

          @include theme {
            border: 1px solid theme-get('colors-neutral-border-border-bold');
            color: theme-get('colors-neutral-text-body-on-row');
          }

          &.v3 {
            @include theme {
              border: 1px solid theme-get('primary-surface-default-dark-3');
              color: theme-get('primary-surface-default-dark-3');
            }
          }

          font-size: 12px;
          font-weight: 500;
          line-height: 150%;
          /* 18px */
        }
      }

      .info {
        display: flex;
        align-items: center;
        gap: 12px;
      }

      .icons {
        display: inline-flex;

        img,
        svg {
          width: 32px;
          height: 32px;
          padding: 1px;

          &:not(:first-of-type) {
            margin-left: -10px;
          }
        }

        &.light {
          img {
            filter: invert(1);
          }
        }
      }

      .fee {
        display: flex;
        align-items: center;
        height: 24px;
        padding: 12px;
        border-radius: 6px;
        border: 1px solid #494949;

        @include theme {
          color: theme-get('colors-neutral-text-body-on-row');
        }

        font-size: 12px;
        font-weight: 400;
        line-height: 150%;
        /* 18px */
        letter-spacing: 0.012px;
        white-space: nowrap;
      }
    }

    .amount {
      text-align: right;
    }

    .apr {
      width: 100%;
      text-align: right;
      font-size: 14px;
      font-weight: 500;
      line-height: 150%;
      /* 21px */

      display: inline-flex;
      gap: 6px;
      align-items: center;
      justify-content: flex-end;
      white-space: nowrap;

      @include theme {
        color: theme-get('primary-surface-default-dark-3');
      }

      svg {
        transform: translateY(1px);

        path {
          @include theme {
            fill: theme-get('primary-surface-default-dark-3');
          }
        }
      }
    }

    .actions {
      display: flex;
      justify-content: flex-end;
    }

    .add {
      display: flex;
      height: 36px;
      padding: 8px 16px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: var(--Dimension-Corner-Radius-button, 99px);

      @include theme {
        border: 1px solid theme-get('colors-neutral-text-text-token-name');
        color: theme-get('colors-neutral-text-text-token-name');
      }

      font-size: 14px;
      font-weight: 600;
      line-height: 150%;
      /* 21px */
      white-space: nowrap;

      cursor: pointer;

      &:hover {
        filter: brightness(0.7);
      }
    }

    .tooltipWrapper {
      margin-top: -4px;
    }
  }

  .paginate {
    width: 100%;
    padding: 24px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.tooltip {
  border: 1px solid #494949;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;

  display: flex;
  width: 100vw;
  max-width: 320px;
  padding: 12px;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  border-radius: 8px;
  background: var(--Colors-Trading-trade-bg-section, #232521);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);

  .itemInfo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
    width: 100%;

    color: var(--Colors-Neutral-Text-body, #979995);
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    /* 21px */

    .value {
      color: var(--Colors-Neutral-Icon-icon-negative-btn, #fff);
      font-size: 12px;
      font-weight: 500;
      line-height: 150%;
      /* 18px */
    }

    .totalApr {
      color: var(--Colors-Primary-Text-text-highlight, #aee67f);
      font-size: 12px;
      font-weight: 500;
      line-height: 150%;
      /* 18px */
    }

    svg {
      width: 12px;
      height: 12px;
    }
  }

  &.light {
    border-color: #f0f1ee;
    background: #fff;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);

    .itemInfo {
      color: var(--Colors-Neutral-Text-body, #686a66);

      .value {
        color: #232521;
      }

      .totalApr {
        color: #2f5711;
      }

      svg {
        width: 12px;
        height: 12px;
      }
    }
  }

  @include mobile {
    font-size: 12px;
    padding: 8px;
    width: calc(100vw - 20px);
  }
}

.aprHeader {
  // display: flex;
  // align-items: center;
  // justify-content: flex-end;
  // gap: 4px;

  svg {
    vertical-align: unset !important;
    margin-left: 4px;
    transform: translateY(3px);

    path {
      @include theme {
        fill: theme-get('neutral-8');
      }
    }
  }
}

.tooltipApr {
  border: 1px solid #494949;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  text-align: left;

  width: 100%;
  max-width: 400px;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  background: var(--Colors-Trading-trade-bg-section, #232521);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  color: var(--Colors-Neutral-Text-body, #979995);

  .titleApr {
    font-size: 20px;
    margin-bottom: 16px;
    text-align: center;
  }

  &.light {
    border-color: #f0f1ee;
    background: #fff;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    color: var(--Colors-Neutral-Text-body, #686a66);
  }

  @include mobile {
    font-size: 12px;
    padding: 8px;
    width: calc(100% - 20px);
  }
}

.tooltipWrapper {
  // background-color: #232521;
}