.btn_close {
  margin-top: -5px;
  align-self: flex-start;
}

.btn_close_light {
  path {
    fill: #777e90;
  }
}

.btn_close_img:hover {
  path {
    fill: #a871df;
  }
}

.toast_content {
  display: flex;
  justify-content: flex-start;

  > img {
    height: 50px;
  }
}

.toast_section {
  h6 {
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    margin-bottom: 10px;
    text-align: left;
  }

  p {
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    font-feature-settings: 'zero' on;
    text-align: left;
    max-width: 230px;
    overflow-wrap: break-word;
  }

  a {
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    text-align: left;
    font-feature-settings: 'zero' on;
    color: #a871df;
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 15px;
}

.cw20_section {
  padding-bottom: 10px;
  font-size: 14px;
  display: flex;
  align-items: center;
  &_label {
    color: #a871df;
  }
  &_value {
    color: #bdc3d3;
    padding-left: 6px;
    padding-right: 6px;
    &:hover {
    }
  }
}
.cw20_section {
  padding-bottom: 10px;
  font-size: 14px;
  display: flex;
  align-items: center;
  &_label {
    color: #a871df;
  }
  &_value {
    color: #bdc3d3;
    padding-left: 6px;
    padding-right: 6px;
    &:hover {
    }
  }
}
