.btn_close {
  margin-top: -5px;
  margin-right: 5px;
  align-self: flex-start;
}

.btn_close_light {
  path {
    fill: #777E90;
  }
}

.btn_close_img:hover {
  path {
    fill: #a871df;
  }
}

.toast_content {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  >img {
    height: 50px;
  }
}

.toast_broadcasting {}

.toast_failed {}

.toast_success {}

.toast_section {
  h6 {
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    margin-bottom: 10px;
    text-align: left;
  }

  p {
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    font-feature-settings: 'zero' on;
    text-align: left;
    max-width: 230px;
    overflow-wrap: break-word;
  }

  a {
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    text-align: left;
    font-feature-settings: 'zero' on;
    color: #a871df;
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 15px;

  .toast_maintain {
    line-height: 1.3;

    svg {
      width: 30px;
      height: 30px;
      position: relative;
      top: 8px;
      right: 5px;
    }
  }
}