@import 'src/styles/mixins';
@import 'src/styles/variables';
@import 'src/styles/themes';

.mySharePerformance {
  width: 30%;
  max-width: 380px;
  min-width: 320px;
  padding: 29px 24px;
  border-radius: 16px;
  border: 1px solid;
  height: fit-content;

  @include theme() {
    border-color: theme-get('primary-text-text-link');
    background-color: theme-get('primary-surface-default-subtle');
    color: theme-get('primary-surface-default-dark-4');
  }

  .title {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 600;
    line-height: 150%;

    svg {
      path {
        @include theme() {
          stroke: theme-get('primary-surface-default-dark-4');
        }
      }
    }
  }

  .performInfo {
    margin-bottom: 34px;

    .key {
      font-size: 14px;
      font-weight: 400;
      line-height: 150%;
      margin-bottom: 10px;
    }

    .amount {
      font-size: 24px;

      @include medium-desktop {
        font-size: 20px;
      }

      @include mobile {
        font-size: 14px;
      }

      font-style: normal;
      font-weight: 500;
      line-height: 120%;
      display: flex;
      gap: 8px;
      align-items: center;
    }
  }

  .cta {
    display: flex;
    gap: 12px;

    button {
      padding: 14.5px 32px;
    }

    button:first-child {
      background-color: transparent;
    }
  }
}