@import 'src/styles/themes';
@import 'src/styles/mixins';

.earningWrapper {
  height: 100%s;
  margin-bottom: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;

  .apr {
    width: 34%;

    @include medium-desktop {
      width: 44%;
    }

    @include mobile {
      width: 100%;
    }
  }

  .earning {
    width: calc(66% - 16px);

    @include medium-desktop {
      width: 54%;
    }

    @include mobile {
      width: 100%;
    }
  }
}

.apr {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex-shrink: 1;
  flex: 1;

  padding: 24px;

  border-radius: 12px;

  @include theme {
    background: theme-get('neutral-surface-bg-section');
  }

  .header {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .volumeAmount {
      color: #f7f7f7;
      font-size: 24px;
      font-weight: 500;
      line-height: 100%; /* 28.8px */
    }
  }

  .aprDetail {
    display: flex;
    flex-direction: column;
    gap: 12px;

    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    color: $neutron-text-body-light;

    .fee {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include theme {
        color: theme-get('neutral-9');
      }
    }

    .aprBoost {
      display: flex;
      justify-content: space-between;
      align-items: center;

      font-weight: 600;
      @include theme {
        color: theme-get('primary-surface-default');
      }

      .text {
        display: flex;
        gap: 4px;

        @include mobile {
          font-size: 12px;
          // flex-direction: column-reverse;
        }
      }
    }
  }
}

.earning {
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
  border: 1px solid $primary-text-link;
  padding: 24px 40px;

  gap: 16px;
  flex-wrap: wrap;

  @include theme() {
    background-color: theme-get('primary-surface-default-subtle');
  }

  @include small-mobile() {
    flex-wrap: wrap;
    padding: 24px 16px;
  }

  .earningLeft {
    display: flex;
    flex: 1;
    align-items: flex-start;
    width: 100%;

    @include mobile {
      // flex-wrap: wrap;
    }

    .assetEarning {
      margin-right: 100px;

      @include mobile() {
        margin-right: 50px;
      }

      @include small-mobile() {
        margin-right: 0px;
      }
      .title {
        @include theme() {
          color: theme-get('primary-surface-default');
        }

        height: 24px;
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
        white-space: nowrap;
      }

      .amount {
        @include theme() {
          color: theme-get('primary-surface-default');
        }

        margin: 12px 0 16px 0;
        font-size: 32px;
        font-weight: 500;
        line-height: 120%;
      }

      .amountOrai {
        @include theme() {
          color: theme-get('neutral-text-body');
        }

        font-size: 16px;
        font-weight: 500;
        line-height: 150%;
      }
    }

    @include small-mobile() {
      flex: 1;
      width: 100%;
      margin-bottom: 24px;

      .assetEarning {
        width: 50%;
      }

      .assetEarning:first-child {
        width: 100%;
        margin-right: 0;
        margin-bottom: 24px;

        .amount {
          margin-bottom: 0;
        }

        &.single {
          width: 50%;
        }
      }
    }
  }

  .claim {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .earnMore {
      margin-top: 15px;

      @include theme() {
        color: theme-get('primary-surface-default');
      }

      div {
        display: flex;
        align-items: center;

        .downIcon {
          @include theme() {
            path {
              stroke: theme-get('primary-surface-default');
            }

            margin-left: 4px;
          }
        }
      }
    }

    @include small-mobile() {
      width: 100%;
      align-items: center;

      button {
        width: 100%;
      }
    }
  }
}
