@import 'src/styles/themes';
@import 'src/styles/mixins';

.earningWrapper {
  height: 100%;
  margin-bottom: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;

  .earning {
    width: 100%;
  }
}

.earning {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 24px;
  border: 1px solid;
  padding: 32px;

  gap: 32px;

  @include theme() {
    background-color: theme-get('neutral-surface-bg-swap');
    border-color: theme-get('primary-text-text-link');
  }

  @include small-mobile() {
    padding: 16px;
    gap: 24px;

    flex-direction: column;
  }

  .earningLeft {
    display: flex;
    flex: 1;
    align-items: flex-start;
    width: 100%;

    @include mobile {
      flex-direction: column-reverse;
      gap: 24px;
    }

    .assetEarning {
      display: flex;
      flex-direction: column;
      gap: 16px;

      margin-right: 100px;

      @include mobile() {
        margin-right: 50px;
      }

      @include small-mobile() {
        margin-right: 0px;
      }

      .title {
        @include theme() {
          color: theme-get('neutral-8');
        }

        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 100%;
        white-space: nowrap;

        @include small-mobile() {
          font-size: 12px;
        }
      }

      .amountWrapper {
        display: flex;
        gap: 16px;
        flex-direction: column;
        justify-content: space-between;

        @include small-mobile {
          display: flex;
          flex-direction: row;
          gap: 16px;
          justify-content: space-between;
          align-items: flex-end;
        }
      }

      .amount {
        @include theme() {
          color: theme-get('colors-neutral-text-title');
        }

        font-size: 20px;
        font-weight: 500;
        line-height: 120%;

        @include small-mobile() {
          font-size: 16px;
        }

        &.total {
          @include theme() {
            color: theme-get('primary-surface-default-dark-3');
          }
        }
      }

      .amountOrai {
        @include theme() {
          color: theme-get('neutral-8');
        }

        font-size: 14px;
        font-weight: 400;
        line-height: 100%;

        @include small-mobile() {
          font-size: 12px;
        }
      }
    }

    @include small-mobile() {
      flex: 1;
      width: 100%;

      .assetEarning {
        width: 50%;
      }

      .assetEarning:first-child {
        width: 100%;
        margin-right: 0;

        .amount {
          margin-bottom: 0;
        }

        &.single {
          width: 50%;
        }
      }
    }
  }

  .claim {
    display: flex;

    .earnMore {
      margin-top: 15px;

      @include theme() {
        color: theme-get('primary-surface-default');
      }

      div {
        display: flex;
        align-items: center;

        .downIcon {
          @include theme() {
            path {
              stroke: theme-get('primary-surface-default');
            }

            margin-left: 4px;
          }
        }
      }
    }

    @include small-mobile() {
      width: 100%;
      align-items: center;

      button {
        width: 100%;
      }
    }
  }
}