@import 'src/styles/mixins';
@import 'src/styles/variables';
@import 'src/styles/themes';

.headerWrapper {
  // height: 298px;
  width: 100%;

  // @include theme {
  //   background: theme-get('bg-linear-highlight');
  // }

  padding-top: 24px;
  padding-bottom: 24px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 1140px;

    @include medium-desktop {
      padding-left: 80px;
      padding-right: 80px;
    }

    @include mobile {
      padding: 24px 8px 24px 8px;
    }

    .title {
      .text {
        @include theme {
          color: theme-get('neutral-text-text-dropdown');
        }

        font-size: 36px;
        font-weight: 600;
        line-height: 150%;

        .highlight {
          @include theme {
            color: theme-get('primary-text-text-link');
          }
        }

        @include small-mobile {
          font-size: 24px;
        }
      }

      .desc {
        @include theme {
          color: theme-get('neutral-9');
        }
        font-size: 14px;
        font-weight: 400;
        line-height: 150%;
      }
    }

    .img {
      img {
        width: 100%;
        max-width: 390px;
        height: 100%;
        max-height: 250px;
      }

      @include mobile {
        img {
          width: 100%;
        }
      }

      @include small-mobile {
        display: none;
      }
    }
  }
}
