@import 'src/styles/mixins';
@import 'src/styles/themes';

.listpools {
  .listpools_all {
    display: flex;
    justify-content: space-between;

    @media (max-width: 930px) {
      flex-direction: column;
      justify-content: space-between;
    }
  }

  .no_data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 16px;
    padding: 60px 20px;

    @include theme() {
      color: theme-get('bg-color');
    }

    span {
      color: #505665;
      font-size: 20px;
      font-weight: 400;
      margin-top: -20px;
    }
  }

  &_header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &_filter {
    display: flex;
    align-items: center;

    .filter_item {
      height: 48px;
      padding: 8px 16px;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      margin-right: 15px;

      @include theme() {
        background-color: theme-get('bg-color');
        color: theme-get('text-color-filter');
      }

      &:hover {
        @include theme() {
          background-color: theme-get('bg-hover-color');
          color: $white-color;
        }
      }

      border-radius: 8px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }

    .filter_active {
      color: $blue-color !important;

      &:hover {
        color: $white-color !important;
      }
    }
  }

  &_search {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 575px) {
      margin-top: 10px;
      width: 100%;
    }
  }

  &_create {
    padding: 16px 76px;
  }

  &_list {
    display: flex;
    gap: 35px;
    // margin-top: 16px;
    flex-wrap: wrap;
  }
}

.symbols {
  display: flex;
  align-items: center;

  &_logo {
    margin-right: 12px;

    &_right {
      position: relative;
      right: 10px;
      width: 44px;
      height: 44px;
    }

    &_left {
      width: 44px;
      height: 44px;
    }
  }

  &_name {
    font-weight: 500;
    font-size: 16px;
  }
}

.apr {
  .aprValue {
    display: flex;
    align-items: center;

    svg {
      vertical-align: text-top;
    }

    @include theme {
      color: theme-get('primary-surface-default-dark-3');
    }
  }

  .apr_reward {
    display: flex;
    align-items: center;
    margin-top: 6px;

    span {
      padding: 4px 6px;
      letter-spacing: 0.012px;
      line-height: 100%;
      font-size: 12px;
      border-radius: 4px;
      margin-right: 6px;

      @include theme() {
        background-color: theme-get('neutral-surface-bg-section-2');
        color: theme-get('sea-stone-200');
      }
    }
  }
}

.my_stake_lp {
  @include theme() {
    color: theme-get('neutral-text-body');
  }
}

.earned {
  @include theme() {
    color: theme-get('neutral-text-body');
  }
}

.text_number {
  @include theme() {
    color: theme-get('neutral-text-body');
  }
}

.liquidity {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
