@import 'src/styles/mixins';
@import 'src/styles/variables';
@import 'src/styles/themes';

.swap-box-wrapper {
  border-radius: 12px;
  position: sticky;
  top: 140px;
  overflow: hidden;
  z-index: 1;

  .custom-loader-root {
    border-radius: 12px;
  }

  .select-box {
    padding-top: 10px;
    transition: all 1s ease;
    .hidden {
      height: 0;
    }
  }

  .powered {
    display: flex;
    align-items: center;
    padding-top: 18px;
    gap: 10px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    @include theme() {
      color: theme-get('neutral-text-body-on-section');
    }
  }
}

.swap-box {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  width: 100%;
  backdrop-filter: blur(5px);
  border-radius: 12px;

  @include theme() {
    border: 1px solid theme-get('neutral-6');
    background: theme-get('neutral-white');
    box-shadow: theme-get('shadow-swap-box');
  }

  @include mobile {
    position: static;
    padding: 16px;
    margin: 0;
    background: none;
    box-shadow: none;
    backdrop-filter: none;
  }

  .header {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 12px;
    margin-bottom: 16px;

    .title {
      font-size: 18px;
      font-weight: 600;
      line-height: 100%;
      flex-grow: 1;

      @include mobile {
        font-size: 14px;
      }

      letter-spacing: 0.02em;

      @include theme() {
        color: theme-get('text-color');
      }
    }

    .actions {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 16px;

      .icon {
        cursor: pointer;

        svg {
          width: 18px;
          height: 18px;
          vertical-align: middle;

          path {
            @include theme() {
              stroke: theme-get('svg-fill-color');
            }
          }
        }
      }

      .btn {
        cursor: pointer;

        svg {
          width: 21px;
          height: 21px;
          vertical-align: middle;

          path {
            @include theme() {
              fill: theme-get('svg-fill-color');
            }
          }
        }
      }
    }
  }

  .from,
  .to {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 12px;
    gap: 15px;
    width: 100%;
    border-radius: 8px;

    @include theme() {
      background: theme-get('neutral-6');
    }

    @include mobile {
      border: none;
      border-radius: 8px;
      background: none;
      box-shadow: none;
      padding: 16px;
    }

    /* Inside auto layout */

    .token-info {
      flex-grow: 1;

      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 10px;
    }

    .token-symbol {
      font-weight: 500;
      font-size: 24px;
    }

    .ratio {
      @include theme() {
        color: theme-get('colors-neutral-text-text-token-name');
      }

      font-size: 13px;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: 0.013px;
      padding-top: 13px;
    }
  }

  .coeff {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 14px;
    font-size: 14px;
    gap: 8px;

    button {
      border-radius: 99px;
      display: flex;
      height: 35px;
      padding: 13px;
      justify-content: center;
      align-items: center;
      flex: 1 0 0;

      @include theme() {
        color: theme-get('neutral-text-text-dropdown');
        background-color: theme-get('neutral-surface-bg-section-3');
      }

      &:hover {
        @include theme() {
          background-color: theme-get('neutral-surface-bg-section-hover');
          opacity: 1;
        }
      }
    }

    .is-active {
      @include theme() {
        color: theme-get('sea-stone-800');
        border: 1px solid theme-get('sea-stone-800');
        background-color: theme-get('neutral-surface-bg-section-active');
      }
    }
  }

  .token-org {
    opacity: 0.5;
    font-size: 13px;
    width: max-content;
  }

  .balance {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */

    text-align: center;
    font-feature-settings: 'ss03' on;

    /* aiRight/Gray 3 */

    color: #777e90;

    display: flex;
    gap: 8px;
    width: 100%;

    .btn {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 4px 6px;

      @include theme() {
        background-color: theme-get('bg-color-active');
      }

      border-radius: 4px;

      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 100%;
      /* identical to box height, or 13px */

      /* Stroke/Primary */

      color: #a871df;

      &:hover {
        @include theme() {
          background-color: theme-get('bg-color-active');
        }
      }
    }

    .active {
      @include theme() {
        background-color: theme-get('bg-color-active');
      }
    }
  }

  .input-wrapper {
    width: 100%;
    position: relative;

    @include medium-desktop {
      .input {
        font-size: 20px;

        .amount {
          font-size: 18px;
        }
      }
    }

    .token-fee {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 500;
      color: #777e90;
      margin-top: 10px;
    }
  }

  .input {
    /* Auto layout */
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 5px;

    @include theme() {
      background: theme-get('bg-color-secondary');
      color: theme-get('text-color');
    }

    border-radius: 8px;

    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    /* identical to box height, or 24px */

    text-align: center;
    font-feature-settings: 'tnum' on, 'lnum' on, 'zero' on;

    .token {
      cursor: pointer;
      display: flex;

      align-items: center;

      gap: 5px;

      .logo {
        width: 32px;
        height: 32px;
      }

      .arrow-down {
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;

        @include theme() {
          border-top: theme-get('bg-color-arrow');
        }
      }
    }

    .amount {
      flex-grow: 1;
      text-align: right;
      max-width: 50%;
      width: inherit;

      @include mobile {
        width: 100%;
      }
    }
  }
}

.from {
  .impact-warning {
    .title {
      span {
        color: $warning-color;
      }
    }
  }

  @include mobile {
    border-bottom: 1px solid;
  }
}

.to {
  input.amount {
    color: $text-placeholder;
  }

  @include mobile {
    border-top: 1px solid;
  }
}

.recipient {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 6px;
  font-family: 'IBM Plex Sans';
  @include theme() {
    background-color: theme-get('neutral-6');
  }

  border-radius: 8px;
  font-size: 14px;

  @include small-mobile() {
    font-size: 13px;
  }

  .paste {
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.extraBtnWrapper {
  display: flex;
  align-items: center;
  gap: 8px;

  @include small-mobile {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .book {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 4px;

    &:hover {
      opacity: 0.7;
    }

    @include theme {
      color: theme-get('primary-text-text-link');
    }
    font-size: 14px;
    font-weight: 600;
    line-height: 150%; /* 21px */

    svg {
      vertical-align: middle;

      path {
        @include theme {
          stroke: theme-get('primary-text-text-link');
        }
      }
    }
  }

  .currentAddress {
    &:hover {
      opacity: 0.7;
    }

    cursor: pointer;
    display: flex;
    height: 22px;
    padding: 0 6px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: var(--Dimension-Corner-Radius-button, 99px);

    border: 1px solid;

    @include theme() {
      color: theme-get('colors-neutral-text-body-on-row');
      background-color: theme-get('colors-neutral-surface-bg-section-3');
      border-color: theme-get('neutral-border-border-xbold');
    }

    font-size: 14px;
    font-weight: 400;
    line-height: 150%; /* 21px */
  }
}

.estFee {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 8px 16px;
  margin-top: 6px;
  cursor: pointer;

  @include theme() {
    background-color: theme-get('neutral-6');
    color: theme-get('neutral-9');
  }

  border-radius: 8px;
  font-size: 14px;

  @include small-mobile() {
    font-size: 13px;
  }

  .label {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .info {
    display: flex;
    gap: 8px;
    cursor: pointer;
    text-align: right;

    .icon {
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.swap-center {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;

  .title {
    flex: 1;

    font-size: 18px;
    font-weight: 600;
    line-height: 100%;

    @include mobile {
      font-size: 14px;
    }

    letter-spacing: 0.02em;

    @include theme() {
      color: theme-get('text-color');
    }

    @include small-mobile {
      display: none;
    }
  }

  .wrap-img {
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 6px;

    border: 1px solid;
    @include theme() {
      background-color: theme-get('colors-neutral-surface-bg-section-3');
      border-color: theme-get('neutral-border-border-xbold');
    }

    &:hover {
      opacity: 0.8;
    }

    img {
      border-radius: 50%;
      cursor: pointer;
      height: 24px;
      width: 24px;
    }
  }

  .ratio {
    @include theme() {
      color: theme-get('colors-neutral-text-text-token-name');
    }

    flex: 1;

    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    cursor: pointer;

    font-size: 13px;
    font-weight: 500;
    line-height: 100%;

    &:hover {
      opacity: 0.8;
    }

    svg {
      vertical-align: middle;
    }
  }
}

.swap-btn {
  width: 100%;
  gap: 5px;

  @include theme() {
    background-color: theme-get('primary-1');
    color: theme-get('neutral-text-text-btn-default');
  }

  &.disable {
    @include theme() {
      background-color: theme-get('neutral-5');
      color: theme-get('neutral-8');
    }
  }

  border-radius: 99px;
  padding: 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  cursor: pointer;
  margin-top: 16px;

  svg {
    margin: 0 5px 0 0 !important;
  }
}

.detail {
  padding: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  /* identical to box height, or 21px */

  // text-align: center;
  font-feature-settings: 'ss03' on;

  /* aiRight/Gray 3 */
  @include theme() {
    background-color: theme-get('neutral-6');
    color: theme-get('neutral-8');
  }

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .warning-slippage-0 {
      color: $warning-color;
    }

    .title {
      width: 70%;
      display: flex;
      justify-content: flex-start;
      // align-items: center;
      gap: 5px;
    }

    .value {
      text-align: right;
    }
  }
}

.setting {
  z-index: 1;
  width: 100%;
  height: 35%;

  position: absolute;
  bottom: 0;

  transition: all 0.5s;
  transform: translateY(100%);

  &.activeSetting {
    transform: translateY(0);
  }
}

.overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;

  border-radius: 12px;
  opacity: 0.25;
  background: #000;

  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;

  &.activeOverlay {
    visibility: visible;
    opacity: 0.25;
    transition: visibility 0s linear 0s, opacity 300ms;
  }
}

.tooltip {
  color: #efefef;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  text-align: left;
  width: 100%;
  max-width: 400px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid;
  border-color: #494949;
  background: #121511;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);

  &.light {
    color: #494949;
    border-color: #dfe0de;
    background: #fff;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  }

  @include mobile {
    font-size: 12px;
    padding: 8px;
    width: calc(100% - 20px);
  }
}
