@import 'src/styles/mixins';
@import 'src/styles/variables';
@import 'src/styles/themes';

.listVault {
  margin-top: 44px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 30px;
  width: fit-content;
}