@import 'src/styles/mixins';
@import 'src/styles/variables';
@import 'src/styles/themes';

.chartColumn {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 350px;
  align-items: center;
  opacity: 0.7;

  padding: 0 6px;

  @include mobile {
    padding: 0 5px;
  }

  font-size: 13px;
  font-weight: 400;
  line-height: 100%;

  @include theme {
    color: theme-get('sea-stone-900');
  }

  .volume {
    @include theme {
      color: theme-get('neutral-9');
    }
    font-size: 13px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0.013px;
    writing-mode: vertical-lr;
    transform-origin: center center;
    transform: rotate(-45deg);
    @include mobile {
      transform-origin: unset;
      transform: unset;
    }
    height: 60px;
  }

  .percentWrapper {
    display: flex;
    flex-direction: column-reverse;
    // height: 250px;

    width: 12px;
    gap: 8px;
    flex: 1 0 0;
    border-radius: 99px;
    @include theme {
      background: theme-get('neutral-6');
      color: theme-get('neutral-text-text-token-name');
    }

    .percent {
      @include theme {
        background: theme-get('primary-highlight-section');
      }
      border-radius: 99px;
    }
  }

  &:hover {
    opacity: 1;
    font-weight: 600;

    .volume {
      font-weight: 600;
      @include theme {
        color: theme-get('sea-stone-900');
      }
    }

    .percentWrapper {
      @include theme {
        color: theme-get('sea-stone-900');
      }
    }
  }
}
