@import 'src/styles/themes';
@import 'src/styles/mixins';

.createPositionForm {
  display: flex;
  width: 100%;
  justify-content: space-between;

  max-height: calc(100vh - 200px);
  overflow-y: auto;

  .tab {
    flex: 2;
    width: 100%;
    padding: 24px;
    // background-color: rgb(188, 134, 134);

    &:not(:first-of-type) {
      width: auto;
      border-left: 1px solid #232521;
      flex: 1;
    }

    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-weight: 600;
      font-size: 16px;
      margin-bottom: 12px;

      p {
        line-height: 24px;
        // background-color: white;
      }
    }

    .alert {
      display: flex;
      padding: 12px 16px;
      gap: 12px;
      margin-bottom: 12px;
      @include theme {
        border: 1px solid theme-get('warning-text-default');
        background: theme-get('warning-surface-default-subtle');
        color: theme-get('warning-text-default');
      }
      border-radius: 8px;

      font-size: 12px;
      font-weight: 400;
      letter-spacing: 0.012px;

      div {
        align-self: center;
        display: flex;
      }
    }

    .actionWrapper {
      width: 100%;
      display: flex;
      flex: 1;
      justify-content: space-evenly;
      gap: 24px;
      margin-bottom: 12px;

      button {
        border-radius: 10px;
        width: 100%;
        padding: 12px;

        @include theme {
          border: 2px solid #2f4d08;
          color: black;
        }

        font-size: 14px;
        font-weight: 500;
        line-height: 150%;
      }

      .one {
        @include theme {
          background: #6c933a;
        }
      }

      .five {
        @include theme {
          background: #6b8747;
        }
      }

      .twenty {
        @include theme {
          background: #809565;
        }
      }

      .fifty {
        @include theme {
          background: #92a37c;
        }
      }

      .full {
        @include theme {
          background: #909983;
        }
      }
    }

    .wrapChart {
      display: flex;
      flex-direction: row;
      height: 340px;
      padding: 0 20px 0 20px;
      justify-content: space-between;
      margin-bottom: 12px;

      @include theme {
        background-color: theme-get('neutral-6');
        border-radius: 8px;
      }
    }

    .menuWrapper {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 10px;
      align-self: stretch;
      margin-bottom: 24px;
    
      @include small-mobile {
        flex-direction: column;
        gap: 8px;
      }
    
      @include theme {
        border-bottom: 1px solid theme-get('neutral-border-border-bold');
      }
    
      .btnOption {
        flex: 1;
        display: flex;
        height: 48px;
        padding: 4px;
        // flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
    
        @include small-mobile {
          width: 100%;
        }
    
        &.activeBtn {
          @include theme {
            border-bottom: 2px solid theme-get('colors-neutral-text-text-token-name');
            color: theme-get('colors-neutral-text-text-token-name');
          }
        }
    
        @include theme {
          color: theme-get('colors-neutral-text-text-token-name');
          border-bottom: 2px solid transparent;
        }
    
        font-size: 14px;
        font-weight: 700;
        line-height: 150%;
        /* 21px */
    
        @keyframes greenLighter {
          0% {
            transform: scale(1);
            opacity: 0.7;
          }
    
          50% {
            transform: scale(1.1);
            opacity: 1;
          }
    
          100% {
            transform: scale(1);
            opacity: 0.7;
          }
        }
    
        span {
          background-color: #aee67f;
          display: flex;
          width: 40px;
          height: 22px;
          padding: 8px 0px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          border-radius: var(--Dimension-Corner-Radius-button, 99px);
    
          @include theme {
            color: theme-get('colors-neutral-text-text-btn-default');
          }
    
          -webkit-animation-name: greenLighter;
          -webkit-animation-duration: 0.7s;
          -webkit-animation-iteration-count: infinite;
    
          font-size: 12px;
          font-weight: 400;
          line-height: 150%;
          /* 18px */
          letter-spacing: 0.012px;
          cursor: pointer;
          transition: all ease-in-out 0.3s;
    
          animation: greenLighter 2s infinite;
        }
      }
    }
  }
}
