@import 'src/styles/mixins';
@import 'src/styles/themes';

.wrapper {
  padding: 32px;

  @include mobile {
    padding: 0;
  }
}

.header {
  display: flex;
  flex-direction: column;

  .totalAssets {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #777e90;
  }

  .balance {
    font-weight: 600;
    font-size: 40px;
    color: #ffffff;
  }
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #2d2938;
  margin-top: 16px;
  margin-bottom: 16px;
}

.transferBtn {
  width: 126px;
  margin: 10px 30px;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.balance_block {
  background: linear-gradient(144.98deg, rgba(51, 51, 51, 0.8) 5.29%, rgba(7, 7, 7, 0.8) 95.51%);
  box-shadow: -6px 6px 9px -10px rgba(0, 0, 0, 0.12);
  height: 100%;
}

.border_gradient {
  position: relative;
  background: linear-gradient(to top right, transparent, #777e9022);
  padding: 1px;
  width: 100%;
  overflow: hidden;
  border-radius: 24px 24px 15px 15px;
}

.label {
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.balanceDescription {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #777e90;
  align-self: flex-start;
  margin: 8px 8px 8px 0;
}

.tableHeader {
  display: flex;
  flex-direction: column;
  background: #141416;
  padding: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-top-right-radius: 24px;
}

.tokenWrapper:hover {
  background: #2b2d3b;
  box-sizing: border-box;
}

.tokenWrapper.light:hover {
  background-color: #fcfcfc;
  border: 1px solid $blue-color;
}

.tokenWrapper {
  padding: 24px;
  cursor: pointer;

  .balanceAmountInfo {
    display: flex;
    flex-direction: row;
    align-items: center;

    .tokenBalance {
      flex-direction: column;
      display: flex;
      align-items: flex-end;

      .row {
        display: flex;
        gap: 0px;
        align-items: center;
      }
    }

    .tokenAmount {
      font-weight: 600;
      font-size: 22px;
      &.light {
        color: $light-text-color;
      }
    }
  }

  &.active {
    background: #191b21;
    &.light {
      background-color: #fcfcfc;
    }
    border: 1px solid #a871df;
    box-sizing: border-box;
    border-radius: 12px;

    &.token_from {
      border-color: #fff;
    }
  }
}

.token_from {
  .token {
    .tokenInfo {
      .tokenOrg {
        background: none;
        color: #777e90;
        padding: 0;
        font-size: 16px;
      }
    }
  }
}

.token {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;

  .tokenInfo {
    padding-left: 16px;

    .tokenName {
      font-weight: 600;
      font-size: 22px;
      &.light {
        color: $light-text-color;
      }
    }
  }
}

.table {
  .tableDes {
    padding: 24px;
    padding-top: 0px;
    justify-content: space-between;
    display: flex;
  }
}

.subLabel {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: #777e90;

  &.token {
    align-self: flex-end;
  }
}

.fromBalanceDes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.balanceFromGroup {
  display: flex;
  flex-direction: row;
  align-items: center;

  .balanceBtn {
    cursor: pointer;
    background: #191b21;
    border-radius: 8px;
    padding: 8px;
    margin-left: 4px;
    margin-right: 4px;
    color: #a871df;
  }
}

.amount {
  text-align: right;
  background: #1e1e21;
  border-radius: 8px;
  height: 48px;
  width: 180px;
  padding: 12px;
  box-sizing: border-box;
  color: #505665;
  font-weight: 600;
  font-size: 24px;

  @include mobile {
    width: 100%;
    font-size: 20px;
  }
}

.tokenFromGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;

  &.small {
    .amount {
      height: 36px;
      font-size: 16px;
      border-radius: 6px;
    }

    .balanceBtn {
      font-size: 12px;
    }

    .tfBtn {
      margin-top: 15px;
      padding: 5px 10px;
    }
  }
}

.tokenIcon {
  width: 44px;
  height: 44px;
}

.tooltipAmount {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px 10px;

  .row {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    text-align: left;

    .description {
      color: gray;
    }
  }
}
