@import 'src/styles/mixins';
@import 'src/styles/themes';

.header {
    border-radius: 12px;
    display: flex;
    justify-content: space-between;

    @include theme() {
        background-color: theme-get('neutral-6');
    }

    &_data {
        display: flex;
        gap: 10px;
        padding: 24px;

        &_item {
            margin-right: 100px;

            @media (max-width: 575px) {
                margin: 0;
                width: 100%;
            }
        }

        &_name {
            font-weight: 500;
            font-size: 24px;
            color: #777e90;

            @media (max-width: 575px) {
                font-size: 16px;
            }

            @include theme() {
                color: theme-get('neutral-text-title');
            }
        }

        &_value {
            font-weight: 500;
            font-size: 24px;

            @media (max-width: 575px) {
                font-size: 20px;
            }

            @include theme() {
                color: theme-get('neutral-text-title');
            }
        }
    }

    &_claim_reward {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 30px;
        margin-right: 24px;
        position: relative;

        .claim_reward_bg {
            position: absolute;
            top: -5px;
        }

        button {
            z-index: 1;
        }
    }
}