@import 'src/styles/mixins';
@import 'src/styles/variables';
@import 'src/styles/themes';

.btn {
  margin-bottom: 10px;
  cursor: pointer;

  img {
    width: 100%;
  }
}

.contentModal {
  max-width: 600px !important;
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.wheel {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;

  margin-bottom: 20px;

  .info {
    z-index: 10;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;

    align-items: center;
    flex-wrap: wrap;
    gap: 12px;

    strong {
      @include theme {
        color: theme-get('text-color');
      }
    }

    @include theme {
      color: theme-get('neutral-8');
    }

    @include small-mobile {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .balance {
      @include theme {
        color: theme-get('text-color');
      }
    }
  }

  .spin {
    position: relative;



    .spinMask {
      z-index: 100;
      position: absolute;

      background: #d7f5bf;
      border-radius: 50%;
      width: 72px;
      height: 72px;
      top: 50%;
      left: 50%;
      transform: translate(calc(-50% - 0.5px), calc(-50% - 0.5px));

      transition: all ease-in-out 0.2s;

      &:hover {
        opacity: 1;
        background: #bdd2ab;
      }

      &:disabled {
        opacity: 1;
        cursor: not-allowed;
        background: #a5b795;
      }

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      font-size: 16px;
      font-weight: 500;
      text-align: center;
      color: #2f5711;

      .spinTxt {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;

        img {

          filter: saturate(3);
        }
      }

      .token {
        font-size: 12px;
        font-weight: 700;

        svg {
          width: 18px;
          height: 18px;
          vertical-align: middle;
        }
      }
    }
  }

  .result {
    @include theme {
      color: theme-get('text-color');
    }

    font-size: 16px;
    font-weight: 400;
    text-align: center;

    &.done {
      animation-iteration-count: 4;
      animation: wiggle ease-in-out 0.8s;
      -webkit-animation: wiggle ease-in-out 0.8s;
    }
  }
}

.rangeWrapper {
  display: flex;
  align-items: center;
  width: 100%;

  .title {
    white-space: nowrap;
    margin-right: 4px;
  }

  .range {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;

    input {
      flex: 1;
      height: 100px;

      input[type='range' i]::-webkit-slider-container {
        height: 20px;
      }

      &[type='range'] {
        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        height: 12px;
        cursor: pointer;
        outline: none;
        border-radius: 99px;

        height: 6px;

        @include theme {
          background: theme-get('neutral-surface-bg-section-2');
        }
      }

      &[type='range']::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        height: 24px;
        width: 24px;
        border-radius: 50%;
        border: 2px solid;

        @include theme {
          background-color: $primary-text-link;
          border-color: theme-get('neutral-white');


        }

        transition: 0.2s ease-in-out;
      }

      /* Thumb: Firefox */
      &[type='range']::-moz-range-thumb {
        height: 15px;
        width: 15px;
        border-radius: 50%;
        border: 4px solid;

        @include theme {
          background-color: theme-get('primary-text-text-link');
          border-color: theme-get('neutral-white');
        }

        transition: 0.2s ease-in-out;
      }
    }
  }
}

.lottie {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;



  &>div {
    height: 100%;
    width: 100%;
  }
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(2deg);
  }

  25% {
    -webkit-transform: rotate(-2deg);
  }

  50% {
    -webkit-transform: rotate(4deg);
  }

  75% {
    -webkit-transform: rotate(-2deg);
  }

  100% {
    -webkit-transform: rotate(2deg);
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(2deg);
  }

  25% {
    transform: rotate(-2deg);
  }

  50% {
    transform: rotate(4deg);
  }

  75% {
    transform: rotate(-2deg);
  }

  100% {
    transform: rotate(2deg);
  }
}



@keyframes bounce {

  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@-webkit-keyframes bounce {

  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}