@import 'src/styles/themes';
@import 'src/styles/mixins';

.chartPrice {
  display: flex;
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
  flex-direction: column;
  flex: 2;
  //   margin-right: 6px;
  // background-color: yellow;

  // @media (min-width: 640px) {
  //   padding-top: 1.75rem;
  //   padding-bottom: 1.75rem;
  // }

  // background-color: red;

  .chartOptions {
    display: flex;
    flex-direction: row;

    @media (min-width: 640px) {
      row-gap: 1rem;
      align-items: flex-end;
    }

    .priceWrapper {
      display: flex;
      flex-direction: row;
      flex: 1 1 0%;
      margin-left: 1rem;

      .price {
        padding-right: 0.25rem;
        grid-row: span 2 / span 2;
        font-size: 2rem;
      }

      .text {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .xPerY {
          white-space: nowrap;
        }
      }
    }

    .time {
      // background-color: red;
      display: flex;
      padding-right: 0.5rem;
      flex: 1 1 0%;
      gap: 0.25rem;
      justify-content: flex-end;
      align-self: center;

      button {
        display: flex;
        padding-left: 0.2rem;
        padding-right: 0.2rem;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        border: 1px solid;
        border-radius: 5px;
        font-size: smaller;
        font-weight: 500;
      }
    }
  }
}
