$light-bg-primary-box: #fcfcfc;
$light-bg-btn-active-gray: #d9dbdd;
$light-text-color: #272b30;
$light-text-color-gray: #777e90;
$white-color: #fff;
$blue-color: #a871df;
$shadow-modal: 0px 4px 8px -4px rgba(0, 0, 0, 0.1), inset 0px -1px 1px rgba(0, 0, 0, 0.04);
$shadow-btn: inset 0px -2px 0px #4b2993, inset 1px 2px 0px #804af2;
$blue-color: #7e5cc5;
$success-color: #00ad26;
$error-color: #e01600;
$primary-text-link: #78ca11;
// for dark-light mode
$themes: (
  dark: ('text-color': white,
    'text-color-secondary': #fff,
    'text-color-third': #fff,
    'text-color-hover': black,
    'text-color-filter': #505665,
    'text-color-placeholder': #505665,
    'text-color-menu': #ebebeb,
    'text-active': #ffffff,
    'bg-color': #191b21,
    'bg-hover-color': #2b2d3b,
    'bg-color-secondary': #1e1e21,
    'bg-color-active': #1e1e21,
    'bg-chart': #111111,
    'bg-pair': linear-gradient(144.98deg, rgba(51, 51, 51, 0.8) 5.29%, rgba(7, 7, 7, 0.8) 95.51%),
    'bg-btn-switch': #ffffff,
    'bg-btn-time': #777e90,
    'bg-btn-active': #2c2f34,
    'bg-btn-primary': #7e5cc5,
    'bg-swap-box': linear-gradient(144.98deg, rgba(51, 51, 51, 0.8) 5.29%, rgba(7, 7, 7, 0.8) 95.51%),
    'bg-color-arrow': 6px solid #ffffff,
    'bg-container': #17181c,
    'shadow-swap-box': -6px 6px 9px -10px rgba(0, 0, 0, 0.12),
    'shadow-swap-from-to': 0px 0px 30px rgba(23, 11, 70, 0.5),
    'shadow-modal-token': 0px 0px 22.9083px rgba(23, 11, 70, 0.5),
    'shadow-input': none,
    'shadow-btn': $shadow-btn,
    'shadow-pair': none,
    'border-color': #484454,
    'border-color-secondary': transparent,
    'placeholder-color': #46484e,
    'svg-fill-color': #bdc3d3,
    'hr-color': 1px solid #2d2938,
    'accent-1': #03a727,
    'neutral-8': #979995,
    'neutral-7': #fbfbfb,
    'neutral-6': #232521,
    'neutral-5': #494949,
    'neutral-4': #d1d0d0,
    'neutral-3': #979797,
    'neutral-2': #efefef,
    'neutral-1': #f7f7f7,
    'neutral-white': #121511,
    'primary-1': #aee67f,
    'sea-stone-800': #f7f7f7,
    'sea-stone-700': #4a4d46,
    'sea-stone-500': #232521,
    'sea-stone-200': #efefef,
    'neutral-text-body': #979995,
    'neutral-border-border-default': #232521,
    'neutral-surface-bg-section': #232521,
    'neutral-text-title': #efefef,
    'neutral-surface-bg-btn-disabled': #232521,
    'neutral-text-text-token-name': #f7f7f7,
    'neutral-surface-bg-section-2': #31332e,
    'neutral-border-border-bold': #494949,
    'primary-surface-default': #92e54c,
    'neutral-surface-bg': #121511,
    'neutral-text-body-on-section': #979995,
  ),
  light: ('text-color': #272b30,
    'text-color-secondary': #a871df,
    'text-color-third': #484d56,
    'text-color-hover': white,
    'text-color-filter': #b5b9c2,
    'text-color-placeholder': #cccdd0,
    'text-color-menu': #6f767e,
    'text-active': #323537,
    'bg-color': #fcfcfc,
    'bg-hover-color': #7e5cc5,
    'bg-color-secondary': #efefef,
    'bg-color-active': #efe7f8,
    'bg-chart': #ffffff,
    'bg-pair': #fcfcfc,
    'bg-btn-switch': #47494b,
    'bg-btn-time': #777e90,
    'bg-btn-active': #dadbdd,
    'bg-btn-primary': #7e5cc5,
    'bg-swap-box': #ececec,
    'bg-color-arrow': 6px solid #272b30,
    'bg-container': #fcfcfc,
    'shadow-swap-box': none,
    'shadow-swap-from-to': none,
    'shadow-modal-token': $shadow-modal,
    'shadow-input': 0px 4px 4px rgba(0, 0, 0, 0.25),
    'shadow-btn': none,
    'shadow-pair': 0px 4px 24px rgba(0, 0, 0, 0.05),
    'border-color': #d9dbdd,
    'border-color-secondary': #e6e6e6,
    'placeholder-color': #b9b9b9,
    'svg-fill-color': #777e90,
    'hr-color': 1px solid #cccdd0,
    'accent-1': #03a727,
    'neutral-8': #686868,
    'neutral-7': #fbfbfb,
    'neutral-6': #f7f7f7,
    'neutral-5': #efefef,
    'neutral-4': #d1d0d0,
    'neutral-3': #979797,
    'neutral-2': #454847,
    'neutral-1': #1e300a,
    'neutral-white': #fff,
    'primary-1': #aee67f,
    'sea-stone-800': #242b1b,
    'sea-stone-700': #4a4d46,
    'sea-stone-500': #979995,
    'sea-stone-200': #efefef,
    'neutral-text-body': #979995,
    'neutral-border-border-default': #efefef,
    'neutral-surface-bg-section': #f7f7f7,
    'neutral-text-title': #4a4d46,
    'neutral-surface-bg-btn-disabled': #efefef,
    'neutral-surface-bg-section-2': #efefef,
    'neutral-border-border-bold': #dfe0de,
    'primary-surface-default': #2f5711,
    'neutral-surface-bg': #fff,
    'neutral-text-body-on-section': #686a,
    'neutral-text-text-token-name': #232521)
);