$light-bg-primary-box: #f7f7f7;
$light-bg-btn-active-gray: #d9dbdd;
$light-text-color: #272b30;
$light-text-color-gray: #777e90;
$light-shade-color: #ffedeb;
$white-color: #fff;
$black-color: black;
$blue-color: #a871df;
$shadow-modal: 0px 4px 8px -4px rgba(0, 0, 0, 0.1), inset 0px -1px 1px rgba(0, 0, 0, 0.04);
$shadow-btn: inset 0px -2px 0px #4b2993, inset 1px 2px 0px #804af2;
$blue-color: #7e5cc5;
$success-color: #00ad26;
$error-color: #ff5947;
$warning-color: #e01600;
$primary-text-link: #78ca11;
$yellow-brown-color: #ad9c00;
$primary-surface-default-light: #e5f7d6;
$primary-bg-btn: #aee67f;
$error-bg-btn: #a81100;
$text-btn-default: #1e300a;
$text-placeholder: #505665;
$neutral-gray: #686a66;
$warning-surface-default: #e6cf00;

$neutron-text-body-dark: #979995;
$neutron-text-body-light: #979995;

$dropdown-bg-color-dark: #181a17;
$dropdown-border-color-dark: #494949;
$dropdown-bg-color-hover-dark: #232521;

$dropdown-color-light: #979995;
$dropdown-border-color-light: #dfe0de;
$dropdown-bg-color-hover-light: #f7f7f7;

$primary-surface-default-subtle: #111900;
$primary-surface-default-subtle-light: #eef9e5;
$primary-surface-default-light: #2f5711;
$primary-surface-default: #92e54c;
$primary-surface-light-default: #efefef;

$primary-banner-default: #c9ff85;
$neutral-text-title: #efefef;
$error-surface-default-subtle: #380016;
$warning-surface-default-subtle: #383200;

$primary-surface-default-subtle-2: #292f23;
$primary-border-highlight: #89a571;
$primary-text-highlight: #d7f5bf;

// for dark-light mode
$themes: (
  dark: (
    'colors-neutral-text-text-token-name': #f7f7f7,
    'colors-neutral-text-body-on-section': #979995,
    'colors-primary-surface-default': #aee67f,
    'colors-neutral-text-text-btn-default': #292f23,
    'colors-neutral-surface-bg-section-3': #494949,
    'colors-neutral-surface-bg-section-2': #31332e,
    'colors-neutral-surface-bg-section': #232521,
    'colors-neutral-text-body-on-row': #efefef,
    'colors-neutral-text-body': #979995,
    'colors-neutral-surface-bg': #181a17,
    'colors-neutral-border-border-bold': #494949,
    'colors-neutral-text-title': #efefef,
    'colors-neutral-border-border-btn-default': #f7f7f7,
    'colors-neutral-surface-bg-dropdown-hover': #494949,
    'text-color': white,
    'text-color-secondary': #fff,
    'bg-connect-wallet': #232521,
    'text-color-third': #fff,
    'text-color-hover': black,
    'text-color-filter': #505665,
    'text-color-placeholder': #505665,
    'text-color-menu': #ebebeb,
    'text-active': #ffffff,
    'bg-color': #191b21,
    'bg-hover-color': #2b2d3b,
    'bg-color-secondary': #1e1e21,
    'bg-color-active': #1e1e21,
    'bg-chart': #111111,
    'bg-pair': linear-gradient(144.98deg, rgba(51, 51, 51, 0.8) 5.29%, rgba(7, 7, 7, 0.8) 95.51%),
    'bg-btn-switch': #ffffff,
    'bg-btn-time': #777e90,
    'bg-btn-active': #2c2f34,
    'bg-btn-primary': #7e5cc5,
    'bg-swap-box': linear-gradient(144.98deg, rgba(51, 51, 51, 0.8) 5.29%, rgba(7, 7, 7, 0.8) 95.51%),
    'bg-color-arrow': 6px solid #ffffff,
    'bg-container': #17181c,
    'shadow-swap-box': -6px 6px 9px -10px rgba(0, 0, 0, 0.12),
    'shadow-swap-from-to': 0px 0px 30px rgba(23, 11, 70, 0.5),
    'shadow-modal-token': 0px 0px 22.9083px rgba(23, 11, 70, 0.5),
    'shadow-input': none,
    'shadow-btn': $shadow-btn,
    'shadow-pair': none,
    'border-color': #484454,
    'border-color-secondary': transparent,
    'placeholder-color': #46484e,
    'svg-fill-color': #bdc3d3,
    'hr-color': 1px solid #2d2938,
    'accent-1': #03a727,
    'neutral-9': #979995,
    'neutral-8': #979995,
    'neutral-7': #fbfbfb,
    'neutral-6': #232521,
    'neutral-5': #494949,
    'neutral-4': #d1d0d0,
    'neutral-3': #979797,
    'neutral-2': #efefef,
    'neutral-1': #f7f7f7,
    'neutral-white': #181a17,
    'primary-1': #aee67f,
    'sea-stone-900': #f7f7f7,
    'sea-stone-800': #f7f7f7,
    'sea-stone-700': #4a4d46,
    'sea-stone-500': #232521,
    'sea-stone-200': #efefef,
    'neutral-text-body': $neutron-text-body-dark,
    'neutral-border-border-default': #232521,
    'neutral-surface-bg-section': #232521,
    'neutral-text-title': #efefef,
    'neutral-text-title-2': #efefef,
    'neutral-surface-bg-btn-disabled': #232521,
    'neutral-text-text-token-name': #f7f7f7,
    'neutral-text-text-token-name-2': #f7f7f7,
    'neutral-surface-bg-section-2': #31332e,
    'neutral-border-border-bold': #494949,
    'neutral-border-border-xbold': #595b57,
    'primary-surface-default': #d7f5bf,
    'neutral-surface-bg': #121511,
    'neutral-surface-bg-2': #181a17,
    'neutral-text-body-on-section': #979995,
    'neutral-text-text-btn-default': #163300,
    'neutral-surface-bg-toast': #232521,
    'neutral-surface-bg-dropdown-hover': #494949,
    'success-surface-default': #00ad26,
    'primary-surface-default-dark': #92e54c,
    'primary-surface-default-subtle': #292f23,
    'primary-surface-default-subtle-2': #152703,
    'primary-surface-default-light': #e5f7d6,
    'neutral-text-text-dropdown': #f7f7f7,
    'neutral-surface-bg-section-3': #31332e,
    'neutral-surface-bg-section-4': #31332e,
    'neutral-surface-bg-section-5': #494949,
    'neutral-surface-bg-section-6': #31332e,
    'neutral-surface-bg-section-hover': #494949,
    'neutral-surface-bg-section-active': #494949,
    'warning-surface-default': #e6cf00,
    'warning-surface-1': #e01600,
    'warning-text-default': #e6cf00,
    'warning-text-1': #ff5947,
    'basic-primary-surface-default': #ffffff,
    'primary-text-text-link': #89a571,
    'primary-highlight-section': #aee67f,
    'primary-surface-default-dark-2': #2f5711,
    'primary-surface-default-dark-3': #aee67f,
    'bg-section-05': #1b1c1a,
    'neutral-text-text-disabled': #494949,
    'neutral-surface-bg-modal': #232521,
    'bg-iframe-modal': #0a121f,
    'bg-overlay-section': rgba(7, 10, 19, 0.4),
    'bg-linear-highlight': linear-gradient(180deg, #152703 0%, #181a17 298px),
    'bg-linear-section': linear-gradient(180deg, #232521 0%, #181a17 100%),
    'neutral-surface-btn-default': #152703,
    'neutral-text-btn-default': #152703,
    'neutral-surface-bg-3': #f7f7f7
  ),
  light: (
    'colors-neutral-text-text-token-name': #181a17,
    'colors-neutral-text-body-on-section': #686a66,
    'colors-primary-surface-default': #aee67f,
    'colors-neutral-text-text-btn-default': #292f23,
    'colors-neutral-surface-bg-section-3': #dfe0de,
    'colors-neutral-surface-bg-section-2': #dfe0de,
    'colors-neutral-surface-bg-section': #f7f7f7,
    'colors-neutral-text-body-on-row': #232521,
    'colors-neutral-text-body': #979995,
    'colors-neutral-surface-bg': #fff,
    'colors-neutral-border-border-bold': #dfe0de,
    'colors-neutral-text-title': #232521,
    'colors-neutral-border-border-btn-default': #232521,
    'colors-neutral-surface-bg-dropdown-hover': #efefef,
    'text-color': #272b30,
    'bg-connect-wallet': #f7f7f7,
    'text-color-secondary': #a871df,
    'text-color-third': #484d56,
    'text-color-hover': white,
    'text-color-filter': #b5b9c2,
    'text-color-placeholder': #cccdd0,
    'text-color-menu': #6f767e,
    'text-active': #323537,
    'bg-color': #fcfcfc,
    'bg-hover-color': #7e5cc5,
    'bg-color-secondary': #efefef,
    'bg-color-active': #efe7f8,
    'bg-chart': #ffffff,
    'bg-pair': #fcfcfc,
    'bg-btn-switch': #47494b,
    'bg-btn-time': #777e90,
    'bg-btn-active': #dadbdd,
    'bg-btn-primary': #7e5cc5,
    'bg-swap-box': #ececec,
    'bg-color-arrow': 6px solid #272b30,
    'bg-container': #fcfcfc,
    'shadow-swap-box': none,
    'shadow-swap-from-to': none,
    'shadow-modal-token': $shadow-modal,
    'shadow-input': 0px 4px 4px rgba(0, 0, 0, 0.25),
    'shadow-btn': none,
    'shadow-pair': 0px 4px 24px rgba(0, 0, 0, 0.05),
    'border-color': #d9dbdd,
    'border-color-secondary': #e6e6e6,
    'placeholder-color': #b9b9b9,
    'svg-fill-color': #777e90,
    'hr-color': 1px solid #cccdd0,
    'accent-1': #03a727,
    'neutral-9': #686a66,
    'neutral-8': #686868,
    'neutral-7': #fbfbfb,
    'neutral-6': #f7f7f7,
    'neutral-5': #efefef,
    'neutral-4': #d1d0d0,
    'neutral-3': #979797,
    'neutral-2': #454847,
    'neutral-1': #1e300a,
    'neutral-white': #fff,
    'primary-1': #aee67f,
    'sea-stone-900': #181a17,
    'sea-stone-800': #242b1b,
    'sea-stone-700': #4a4d46,
    'sea-stone-500': #979995,
    'sea-stone-200': #494949,
    'neutral-text-body': $neutron-text-body-light,
    'neutral-border-border-default': #efefef,
    'neutral-surface-bg-section': #f7f7f7,
    'neutral-text-title': #4a4d46,
    'neutral-text-title-2': #232521,
    'neutral-surface-bg-btn-disabled': #efefef,
    'neutral-surface-bg-section-2': #efefef,
    'neutral-border-border-bold': #dfe0de,
    'neutral-border-border-xbold': #c7c8c6,
    'primary-surface-default': #2f5711,
    'neutral-surface-bg': #fff,
    'neutral-surface-bg-2': #fff,
    'neutral-text-body-on-section': #686a,
    'neutral-text-text-token-name': #232521,
    'neutral-text-text-token-name-2': #181a17,
    'neutral-text-text-btn-default': #232521,
    'neutral-surface-bg-toast': #f7f7f7,
    'success-surface-default': #00ad26,
    'neutral-surface-bg-dropdown-hover': #efefef,
    'primary-surface-default-dark': #2f5711,
    'primary-surface-default-subtle': #eef9e5,
    'primary-surface-default-subtle-2': #eef9e5,
    'primary-surface-default-light': #e5f7d6,
    'neutral-text-text-dropdown': #232521,
    'neutral-surface-bg-section-3': #efefef,
    'neutral-surface-bg-section-4': #fff,
    'neutral-surface-bg-section-5': #dfe0de,
    'neutral-surface-bg-section-6': #dfe0de,
    'neutral-surface-bg-section-hover': #dfe0de,
    'neutral-surface-bg-section-active': #efefef,
    'warning-surface-default': #979995,
    'warning-surface-1': #e01600,
    'warning-text-default': #ad9c00,
    'warning-text-1': #e01600,
    'basic-primary-surface-default': #000000,
    'primary-text-text-link': #5ea402,
    'primary-highlight-section': #5ea402,
    'primary-surface-default-dark-2': #000,
    'primary-surface-default-dark-3': #2f5711,
    'bg-section-05': #f7f7f7,
    'neutral-text-text-disabled': #c7c8c6,
    'neutral-surface-bg-modal': #fff,
    'bg-iframe-modal': #fff,
    'bg-linear-highlight': linear-gradient(180deg, #eaffd0 0%, #fff 298px),
    'bg-linear-section': linear-gradient(180deg, #f5f5f5 0%, rgba(251, 251, 251, 0) 100%),
    'neutral-surface-btn-default': #eef9e5,
    'neutral-text-btn-default': #232521,
    'bg-overlay-section': rgba(255, 255, 255, 0.5),
    'neutral-surface-bg-3': #181a17
  )
);
