$light-bg-primary-box: #fcfcfc;
$light-bg-btn-active-gray: #d9dbdd;
$light-text-color: #272b30;
$light-text-color-gray: #777e90;
$white-color: #fff;
$blue-color: #A871DF;
$shadow-modal: 0px 4px 8px -4px rgba(0, 0, 0, 0.1), inset 0px -1px 1px rgba(0, 0, 0, 0.04);
$shadow-btn: inset 0px -2px 0px #4b2993, inset 1px 2px 0px #804af2;
$blue-color: #7E5CC5;

// for dark-light mode
$themes: (
  dark: ('text-color': white,
    'text-color-secondary': #fff,
    'text-color-hover': black,
    'text-color-filter': #505665,
    'text-color-placeholder': #505665,
    'text-active': #FFFFFF,
    'bg-color': #191b21,
    'bg-hover-color': #2b2d3b,
    'bg-color-secondary': #1e1e21,
    'bg-color-active': #1e1e21,
    'bg-chart': #111111,
    'bg-pair': linear-gradient(144.98deg, rgba(51, 51, 51, 0.8) 5.29%, rgba(7, 7, 7, 0.8) 95.51%),
    'bg-btn-switch': #ffffff,
    'bg-btn-time': #777E90,
    'bg-btn-active': #2c2f34,
    'bg-btn-primary': #7E5CC5,
    'bg-swap-box': linear-gradient(144.98deg, rgba(51, 51, 51, 0.8) 5.29%, rgba(7, 7, 7, 0.8) 95.51%),
    'bg-color-arrow': 6px solid #ffffff,
    'bg-container': #17181c,
    'shadow-swap-box': -6px 6px 9px -10px rgba(0, 0, 0, 0.12),
    'shadow-swap-from-to': 0px 0px 30px rgba(23, 11, 70, 0.5),
    'shadow-modal-token': 0px 0px 22.9083px rgba(23, 11, 70, 0.5),
    'shadow-input': none,
    'shadow-btn': $shadow-btn,
    'shadow-pair': none,
    'border-color': #484454,
    'border-color-secondary': transparent,
    'placeholder-color': #46484E,
    'svg-fill-color': #BDC3D3),
  light: ('text-color': #272B30,
    'text-color-secondary': #A871DF,
    'text-color-hover': white,
    'text-color-filter': #B5B9C2,
    'text-color-placeholder': #cccdd0,
    'text-active': #323537,
    'bg-color': #fcfcfc,
    'bg-hover-color': #7e5cc5,
    'bg-color-secondary': #EFEFEF,
    'bg-color-active': #efe7f8,
    'bg-chart': #ffffff,
    'bg-pair': #FCFCFC,
    'bg-btn-switch': #47494B,
    'bg-btn-time': #777E90,
    'bg-btn-active': #dadbdd,
    'bg-btn-primary': #7E5CC5,
    'bg-swap-box': #ECECEC,
    'bg-color-arrow': 6px solid #272B30,
    'bg-container': #FCFCFC,
    'shadow-swap-box': none,
    'shadow-swap-from-to': none,
    'shadow-modal-token': $shadow-modal, 
    'shadow-input': 0px 4px 4px rgba(0, 0, 0, 0.25),
    'shadow-btn': none,
    'shadow-pair': 0px 4px 24px rgba(0, 0, 0, 0.05),
    'border-color': #D9DBDD,
    'border-color-secondary': #E6E6E6,
    'placeholder-color': #B9B9B9,
    'svg-fill-color': #777E90)
);
