/* Colors */
$bg: #121a2f;
$bggray: #b5b5b5;
$darkblue: #001212;
$semiblue: #e2e7ff;

$gray: #cccccc;
$gray9: #141416;
$purple-plumeria: #423a56;
$brown: #a0a0a0;
$light: #f0f0f0;
$white: #ffffff;
$black: #000000;
$primary-background: #111111;
// $primary-background-other: #181a17;
$primary-background-other: #111111;
$modal-background: #191b21;
$battleship: #6d738c;
$slate: #505466;
$deepgray: #5c5c5c;

$blue: #0222ba;
$aqua: #47d7e2;
$red: #e64c57;
$green: #73e64c;
$orange: #dd794a;
$cultured: #f7f7f7;
$raisin-black: #232521;
$outer-space: #494949;
$gainsboro: #dfe0de;
$spanish-gray: #979599;
$lavender-gray: #bdc3d3;
$neutral-question-bg: #2f5711;
$neutral-surface-bg: #121511;
$neutral-text-title: #efefef;
$neutral-text-describe: #686a66;
$neutral-surface-bg-section-2: #31332e;
$neutral-text-body-on-section: #979995;
$neutral-surface-bg-dropdown-hover: #494949;
$neutral-surface-bg-item-hover: #232521;
$neutral-surface-fill: #777e91;
$neutral-surface-search: #f7f7f7;
$text: $gray;

$label-colour-light: #efefef;
$toggle-colour-light: #5ea402;

$label-colour: #31332e;
$disabled-colour: #ddd;
$toggle-colour: #89a571;
$focus-color: #ff0;
$spanish-yellow: #f0b90b;

$hr-shadow: fade-out(black, 0.8);
$hr: fade-out(white, 0.92);
$border: 1px solid fade-out($slate, 0.8);

/* Fonts */
$font-size: 14px;
$font-family: 'IBM Plex Sans';
$font-family-swap: 'IBM Plex Sans', arial, sans-serif;

/* Sizes */
$breakpoint: 992px;
$breakpoint_medium: 768px;
$breakpoint_ultra_desktop_max: 1599px;
$breakpoint-lg: 1440px;
$breakpoint-sm: 576px;
$gutter: 16px;
$line-height: 1.5;
$nav-height: 70px;
$footer-height: 50px;
$footer-height-mobile: 100px;

$card-padding-horizontal: 25px;
$card-padding-header: 20px $card-padding-horizontal;
$card-padding-main: $card-padding-header;

$modal-width: 460px;

/* Transitions */
$transition-duration: 0.2s;

/* Z-indexes */
$zindex-sticky: 1020;

$menu-height: 68px;
$sidebar-width: 218px;
