@import 'src/styles/themes';
@import 'src/styles/mixins';

.container {
  height: 185px;
  position: relative;

  .cover {
    width: 100%;
    background: #01051499;
    position: absolute;
    z-index: 11;
    border-radius: 10px;
    backdrop-filter: blur(16px);
    display: flex;
    align-items: center;
    justify-content: center;

    .errorWrapper {
      margin: auto;

      .errorText {
        color: white;
      }

      .reloadButton {
        width: 130px;
        height: 40px;
        border-radius: 14px;
        background: #aee67f;
        color: #040b22;
        margin-top: 24px;
        text-transform: none;
      }
    }
  }

  .zoomButtonsWrapper {
    position: absolute;
    top: 0;
    right: 0;
    // right: 8px;
    // max-width: 21px;
    height: 64px;
    z-index: 10;
    display: flex;
    flex-direction: row;
    gap: 6px;

    .zoomButton {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 28px;
      width: 28px;
      height: 28px;
      border-radius: 8px;
      background-color: transparent;
      border: 1px solid;
      padding: 8px 0;

      &:hover {
        opacity: 0.7;
      }

      @include theme {
        border-color: theme-get('neutral-8');

        svg {
          path {
            stroke: theme-get('neutral-8');
          }
        }
      }
    }
  }
}