@import 'src/styles/themes';
@import 'src/styles/mixins';

.createPosition {
  display: flex;
  padding: 48px 64px 24px 64px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  flex-shrink: 0;
}

.box {
  width: 100%;
  display: flex;
  //   max-width: 926px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;

  border-radius: var(--Dimension-Corner-Radius-modal, 12px);
  border: 1px solid var(--Colors-Neutral-Border-border-default, #232521);
  background: var(--Colors-Neutral-Surface-bg-swap, #1b1d19);

  /* Shadow/1 */
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.05);

  .header {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--Colors-Neutral-Border-border-default, #232521);

    h1 {
      color: var(--Colors-Neutral-Text-text-token-name, #f7f7f7);
      font-size: 18px;
      font-weight: 600;
      line-height: 150%; /* 27px */
    }

    svg {
      path {
        @include theme {
          fill: theme-get('neutral-9');
        }
      }
    }

    .setting {
      svg {
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
    }
  }

  .content {
    width: 100%;
    margin-top: 32px;

    display: flex;
    gap: 48px;

    .item {
      flex: 1;

      .wrapper {
        width: 100%;
        display: flex;
        margin-bottom: 48px;

        .itemTitleWrapper {
          width: 70%;

          .itemTitle {
            color: var(--Colors-Neutral-Text-text-token-name, #f7f7f7);
            font-weight: 600;
            font-size: 16px;
          }

          .liquidityActive {
            color: #979995;
            font-size: 12px;
            font-weight: 400;
            line-height: 18px;

            .activeLiquidityIcon {
              display: inline-block;
              height: 14px;
              width: 14px;
              border: 2px solid;
              border-color: #979995;
              color: #979995;
              border-radius: 50%;
              font-size: 8px;
              line-height: 10px;
              font-weight: bolder;
              text-align: center;
              box-sizing: border-box;
              cursor: default;
            }
          }
        }

        .itemSwitcherWrapper {
          width: 30%;
          display: flex;
          flex-direction: row-reverse;

          .switcherContainer {
            overflow: visible;
            height: 33px;
            border-radius: 14px;
            display: flex;
            justify-content: space-evenly;
            width: 90px;
            align-items: end;
            background-color: #232521;

            .singleTabClasses {
              z-index: 1;
              display: flex;
              justify-content: center;
              align-items: center;

              .continuous {
                display: block;
              }

              .discrete {
                display: block;
              }
            }
          }
        }
      }

      .itemChartAndPriceWrapper {
        gap: 12px;
        display: flex;
        flex-direction: column;

        .plot {
          width: 100%;
          height: 185;
        }

        .chartWrapper {
          width: 100%;
          height: 200px;
        }

        .currentPriceWrapper {
          border-radius: 8px;
          padding: 12px;
          display: flex;
          background-color: #232521;
          align-items: center;
          justify-content: space-between;

          .currentPriceTitle {
            color: var(--Colors-Neutral-Text-text-token-name, #979995);
            font-size: 13px;
            font-weight: 400;
            line-height: 18px;
          }
          
          .currentPriceValue {
            color: var(--Colors-Neutral-Text-text-token-name, #f7f7f7);
            text-align: end;
            font-size: 18px;
            font-weight: 600;
            line-height: 30px;

            .pair {
              color: var(--Colors-Neutral-Text-text-token-name, #979995);
              font-size: 12px;
              font-weight: 400;
              line-height: 18px;
            }
          }
        }

        .minMaxPriceWrapper {
          display: flex;
          gap: 12px;
          align-items: center;
          justify-content: space-between;
          width: 100%;

          .minMaxPrice {
            border-radius: 8px;
            display: flex;
            gap: 12px;
            align-items: center;
            justify-content: space-between;
            background-color: #232521;
            width: 100%;
            padding: 12px;

            .minMaxPriceTitle {
              color: var(--Colors-Neutral-Text-text-token-name, #979995);
              font-size: 13px;
              text-align: end;
              font-weight: 400;
              line-height: 18px;
            }

            .minMaxPriceValue {
              color: var(--Colors-Neutral-Text-text-token-name, #f7f7f7);
              font-size: 18px;
              text-align: end;
              font-weight: 600;
              line-height: 30px;

              .pair {
                color: var(--Colors-Neutral-Text-text-token-name, #979995);
                font-size: 12px;
                font-weight: 400;
                line-height: 18px;
              }
            }
          }
        }
      }
    }

    @include mobile {
      flex-direction: column;
    }
  }
}
