@import 'src/styles/themes';
@import 'src/styles/mixins';

.createPoolForm {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  width: 100%;
  gap: 12px;
  padding: 24px;

  @include mobile {
    padding: 16px;
  }

  max-height: calc(100vh - 300px);
  overflow-y: auto;
}

.itemChartAndPriceWrapper {
  position: relative;

  .mask {
    height: 170px;
    width: 100%;
    background: linear-gradient(180deg, transparent 0%, rgba(174, 230, 127, 0.16) 185px);
    position: absolute;
    top: 0;
    left: 0;
  }
}

// .header {
//   width: 100%;
//   position: relative;
//   display: none;
//   justify-content: space-between;
//   align-items: center;
//   padding-bottom: 24px;
//   @include theme {
//     border-bottom: 1px solid theme-get('neutral-border-border-default');
//   }

//   h1 {
//     @include theme {
//       color: theme-get('colors-neutral-text-text-token-name');
//     }
//     font-size: 18px;
//     font-weight: 600;
//     line-height: 150%; /* 27px */
//   }

//   svg {
//     cursor: pointer;

//     path {
//       @include theme {
//         fill: theme-get('neutral-8');
//       }
//     }
//   }

//   .setting {
//     svg {
//       width: 20px;
//       height: 20px;
//       cursor: pointer;
//     }
//   }
// }

.warning {
  display: flex;
  padding: 12px 16px;
  align-items: center;
  gap: 12px;
  align-self: stretch;

  border-radius: 8px;

  @include theme {
    border: 1px solid theme-get('warning-text-default');
    background: theme-get('warning-surface-default-subtle');
    color: theme-get('warning-text-default');
  }

  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  /* 18px */
  letter-spacing: 0.012px;
}

.item {
  flex: 1;
  position: relative;

  .noToken {
    width: 100%;
    height: 500px;
    opacity: 0.8;
    border-radius: 12px;

    @include theme {
      background: theme-get('bg-section-05');
      color: theme-get('colors-neutral-text-text-token-name');
    }

    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    /* 24px */

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .wrapper {
    width: 100%;
    display: flex;
    margin-bottom: 48px;

    .itemTitleWrapper {
      width: 70%;

      .itemTitle {
        @include theme {
          color: theme-get('colors-neutral-text-text-token-name');
        }

        font-weight: 600;
        font-size: 16px;
      }

      .liquidityActive {
        @include theme {
          color: theme-get('neutral-8');
        }

        font-size: 12px;
        font-weight: 400;
        line-height: 18px;

        display: flex;
        align-items: center;
        gap: 4px;

        svg {
          width: 14px;
          height: 14px;
        }
      }
    }

    .itemSwitcherWrapper {
      width: 30%;
      display: flex;
      flex-direction: row-reverse;

      .switcherContainer {
        overflow: visible;
        border-radius: 12px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 4px;
        height: 36px;

        @include theme {
          background-color: theme-get('neutral-6');
        }

        .singleTabClasses {
          z-index: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          padding: 4px;
          border-radius: 8px;
          width: 45px;

          svg {
            vertical-align: middle;
          }

          &.light {
            svg {
              filter: invert(1);
            }
          }

          &.chosen {
            @include theme {
              background: theme-get('neutral-surface-bg-swap');
            }
          }

          .continuous {
            display: block;
          }

          .discrete {
            display: block;
          }
        }
      }
    }
  }

  .itemChartAndPriceWrapper {
    gap: 12px;
    display: flex;
    flex-direction: column;

    .plot {
      width: 100%;
      height: 185;
    }

    .chartWrapper {
      width: 100%;
      height: 200px;
    }

    .currentPriceWrapper {
      border-radius: 8px;
      padding: 12px;
      display: flex;

      @include theme {
        background-color: theme-get('neutral-6');
      }

      align-items: center;
      justify-content: space-between;

      .currentPriceTitle {
        @include theme {
          color: theme-get('neutral-8');
        }

        font-size: 13px;
        font-weight: 400;
        line-height: 18px;
      }

      .currentPriceValue {
        @include theme {
          color: theme-get('colors-neutral-text-text-token-name');
        }

        text-align: end;
        font-size: 18px;
        font-weight: 600;
        line-height: 30px;

        .pair {
          @include theme {
            color: theme-get('neutral-8');
          }

          font-size: 12px;
          font-weight: 400;
          line-height: 18px;
        }
      }
    }

    .minMaxPriceWrapper {
      display: flex;
      gap: 12px;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      flex-wrap: wrap;

      .item {
        flex: 1;
      }

      .percent {
        display: flex;
        align-items: center;
        gap: 4px;
        margin-top: 6px;

        @include theme {
          color: theme-get('neutral-8');
        }

        font-size: 13px;
        font-weight: 400;
        line-height: 150%;
        /* 19.5px */
        letter-spacing: 0.013px;

        .value {
          color: var(--chart-bear, #ff4d52);
          font-size: 13px;
          font-weight: 400;
          line-height: 150%;
          /* 19.5px */
          letter-spacing: 0.013px;

          &.positive {
            color: #0ecb81;
          }
        }
      }

      .minMaxPrice {
        border-radius: 8px;
        display: flex;
        gap: 12px;
        align-items: center;
        justify-content: space-between;

        @include theme {
          background-color: theme-get('neutral-6');
        }

        width: 100%;
        padding: 12px;

        .minMaxPriceTitle {
          @include theme {
            color: theme-get('neutral-8');
          }

          font-size: 13px;
          text-align: end;
          font-weight: 400;
          line-height: 18px;
        }

        .minMaxPriceValue {
          @include theme {
            color: theme-get('colors-neutral-text-text-token-name');
          }

          font-size: 18px;
          text-align: end;
          font-weight: 600;
          line-height: 30px;

          .pair {
            @include theme {
              color: theme-get('neutral-8');
            }

            font-size: 12px;
            font-weight: 400;
            line-height: 18px;
          }
        }
      }
    }
  }
}

.actions {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  margin-top: 16px;

  @include small-mobile {
    flex-direction: column;
    gap: 8px;
  }

  button {
    flex: 1;
    display: flex;
    height: 48px;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;

    border-radius: 8px;

    @include small-mobile {
      width: 100%;
    }

    @include theme {
      border: 1.5px solid theme-get('neutral-border-border-default');
      color: theme-get('colors-neutral-text-text-token-name');
    }

    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
    /* 21px */
  }
}

.itemInput {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  border-radius: 16px;

  @include theme {
    background: theme-get('neutral-6');
  }

  &:first-of-type {
    margin-bottom: 8px;
  }

  &.disabled {
    opacity: 0.5;
    filter: blur(2px);
    pointer-events: none;
  }

  .tokenInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    gap: 12px;

    .name {
      height: 40px;
      display: flex;
      padding: 8px 12px 8px 8px;
      align-items: center;
      gap: 8px;
      flex-wrap: nowrap;
      white-space: nowrap;

      border-radius: var(--Dimension-Corner-Radius-button, 99px);

      @include theme {
        border: 1px solid theme-get('neutral-border-border-xbold');
        background: theme-get('colors-neutral-border-border-bold');
        color: theme-get('colors-neutral-text-text-token-name');
      }

      font-size: 16px;
      font-weight: 500;
      line-height: 150%;
      /* 24px */

      svg {
        width: 28px;
        height: 28px;
      }
    }

    .input {
      flex: 1;
      text-align: right;
      display: flex;
      flex-direction: column;

      .amount {
        flex-grow: 1;
        max-width: 100%;
        opacity: 1;
        width: inherit;
        text-align: right;
        font-size: 18px;
        font-weight: 500;

        @include theme() {
          color: theme-get('colors-neutral-text-text-token-name');
        }

        @include mobile {
          width: 100%;
          font-size: 24px;
        }
      }

      .usd {
        @include theme() {
          color: theme-get('colors-neutral-text-body');
        }

        display: flex;
        justify-content: flex-end;
      }
    }
  }

  .balance {
    width: 100%;

    @include theme {
      color: theme-get('neutral-8');
    }

    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
    /* 18px */
    letter-spacing: 0.012px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .bal {
      margin-right: 8px;

      p {
        @include theme {
          color: theme-get('colors-neutral-text-text-token-name');
        }
      }
    }

    .btnGroup {
      display: flex;
      flex-wrap: nowrap;
      gap: 4px;
    }

    button {
      display: flex;
      width: 40px;
      height: 22px;
      padding: 8px 0px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: var(--Dimension-Corner-Radius-button, 99px);

      @include theme {
        background: theme-get('primary-highlight-section');
        color: theme-get('colors-neutral-text-text-btn-default');
      }

      font-size: 12px;
      font-weight: 400;
      line-height: 150%;
      /* 18px */
      letter-spacing: 0.012px;
      cursor: pointer;
      transition: all ease-in-out 0.3s;

      &:hover {
        filter: brightness(1.25);
      }
    }
  }
}

.btn {
  width: 100%;
  margin-top: 12px;

  button {
    width: 100%;
    display: flex;
    height: 40px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
  }
}