@import 'src/styles/themes';
@import 'src/styles/mixins';

.overlay {
  position: absolute;
  top: 0;
  left: 0;

  border-radius: var(--Dimension-Corner-Radius-modal, 12px);
  opacity: 0.25;
  background: var(--Colors-Universal-Base-1000, #000);

  width: 100%;
  height: 100%;

  visibility: hidden;

  &.active {
    visibility: visible;
  }
}

.contentWrapper {
  z-index: 1000;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  inset: 0;
  align-items: center;
  justify-content: center;

  @include small-mobile {
    justify-content: flex-end;
  }

  &.active {
    visibility: visible;
    display: flex;
    flex-direction: column;
  }
}

.modal {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 500px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  border-radius: var(--Dimension-Corner-Radius-modal, 12px);
  background: var(--Colors-Neutral-Surface-bg, #181a17);

  @include small-mobile {
    max-width: unset;
  }

  h1 {
    width: 100%;
    text-align: center;
    color: var(--Colors-Neutral-Text-text-token-name, #f7f7f7);
    font-size: 20px;
    font-weight: 600;
    line-height: 150%; /* 30px */
  }

  .close {
    svg {
      cursor: pointer;
      width: 30px;
      height: 30px;

      position: absolute;
      top: 24px;
      right: 24px;
    }
  }

  .content {
    h2 {
      margin: 12px 0px 16px;
      letter-spacing: 0.00938em;
      font-size: 16px;
      line-height: 20px;
      font-weight: 400;
      color: rgb(247, 247, 247);
    }

    .input {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 8px;

      margin-bottom: 16px;

      input {
        flex: 1;
        padding: 8px 12px;

        border-radius: 99px;
        background-color: #232521;
        border: 1px solid #494949;
      }
    }

    .desc {
      color: var(--Colors-Neutral-Text-body-on-section, #979995);
      font-size: 13px;
      font-weight: 400;
      line-height: 150%; /* 19.5px */
      letter-spacing: 0.013px;
    }
  }
}
