@import 'src/styles/mixins';
@import 'src/styles/variables';

.tooltip {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: $white;
  border-radius: 8px;
  margin-top: 10px;
  transform: translateX(12px);
  background: transparent;

  article:not(:first-child) {
    margin-top: 1em;
  }

  :global {
    .tippy-content {
      padding: 0;
    }

    .tippy-arrow {
      display: none;
    }
  }
}

.button {
  @include flex;
  cursor: pointer;
  justify-content: flex-start;
}

/* with tooltip */
.flex {
  @include flex(flex-start);
  display: inline-flex;
}
.icon {
  // color: fade-out($slate, 0.25);
  // cursor: pointer;
  // background: $cultured;
  // border-radius: 8px;
  // padding: 12px;

  // @include theme() {
  //   background-color: theme-get('bg-color-secondary');
  // }

  svg {
    path {
      // @include theme() {
      //   fill: theme-get('svg-fill-color');
      // }
    }
  }
}
