@import 'src/styles/mixins';

.swap-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -12px;
  padding: 80px 32px 32px 32px;
  .swap-col {
    padding: 0 12px;
    &.w60 {
      width: 60%;
    }
    &.w40 {
      width: 40%;
    }
  }
}

@include mobile {
  .swap-container {
    padding: 0;
    .swap-col {
      &.w60 {
        width: 100%;
      }
      &.w40 {
        width: 100%;
      }
    }
  }
}
