@import 'src/styles/themes';
@import 'src/styles/mixins';

.createPositionForm {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-height: calc(100vh - 200px);
  overflow-y: auto;
  flex: 1 1 auto;

  @media only screen and (max-width: 600px) {
    flex-direction: column;
  }

  .infoTab {
    // flex: 2;
    width: 550px;
    padding: 24px;
    // background-color: rgb(188, 134, 134);

    @media only screen and (max-width: 600px) {
      width: 100%;
    }

    &:not(:first-of-type) {
      width: 450px;
      border-left: 1px solid #232521;
      // flex: 1;
    }

    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 28px;
      margin-bottom: 32px;

      @include theme {
        border-bottom: 1px solid theme-get('colors-neutral-surface-bg-section');
      }

      .currentInfo {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .title {
          font-size: 12px;
          font-weight: 300;

          @include theme {
            color: theme-get('colors-neutral-text-body');
          }
        }

        .content {
          font-weight: 500;
          font-size: 18px;

          @include theme {
            color: theme-get('sea-stone-900');
          }
        }
      }

      .switchTokenWrapper {
        display: flex;
        align-self: center;
        flex-direction: row;
        justify-content: space-between;
        // gap: 5px;
        padding: 4px;
        border-radius: 32px;
        height: fit-content;
        font-size: 12px;
        font-weight: 400;

        @include theme {
          background: theme-get('bg-connect-wallet');
        }

        span {
          display: flex;
          align-self: center;
          padding: 4px 8px;
          cursor: pointer;
        }

        .chosen {
          padding: 4px 8px;
          border-radius: 32px;

          @include theme {
            background: theme-get('colors-neutral-surface-bg');
            color: theme-get('sea-stone-900');
          }
        }
      }
    }

    .alert {
      display: flex;
      padding: 12px 16px;
      gap: 12px;
      margin-bottom: 12px;
      @include theme {
        border: 1px solid theme-get('warning-text-default');
        background: theme-get('warning-surface-default-subtle');
        color: theme-get('warning-text-default');
      }
      border-radius: 8px;

      font-size: 12px;
      font-weight: 400;
      letter-spacing: 0.012px;

      div {
        align-self: center;
        display: flex;
      }
    }

    .actionWrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 24px;
      margin-bottom: 32px;

      .title {
        font-weight: 600;
        font-size: 16px;

        @include theme {
          color: theme-get('neutral-surface-bg-3');
        }
      }

      .strategyBtnList {
        display: flex;
        flex-direction: row;
        gap: 12px;
        justify-content: space-between;

        .btn {
          text-align: center;
          flex: 1;
          padding: 16px 16px 16px 16px;
          // gap: 12px;
          // align-items: center;
          // justify-content: center;
          height: 88px;
          border-radius: 15px;
          cursor: pointer;

          @media only screen and (max-width: 600px) {
            padding: 8px 8px 8px 8px;
            font-size: 10px;
          }

          // svg {
          //   width: 60px;
          //   height: 60px;
          // }

          @include theme {
            border: 1.5px solid theme-get('bg-connect-wallet');
            background-color: theme-get('neutral-surface-bg-swap');
          }
        }

        .chosen {
          @include theme {
            border: 1.5px solid theme-get('basic-primary-surface-default');
            color: theme-get('neutral-surface-bg-3');
          }
        }
      }

      .explain {
        font-weight: 400;
        font-size: 13px;

        @include theme {
          color: theme-get('colors-neutral-text-body');
        }
      }
    }

    .wrapChart {
      touch-action: none;
      display: flex;
      flex-direction: column;
      height: 250px;
      justify-content: space-between;
      margin-bottom: 20px;

      .chartOptions {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .time {
          display: flex;
          flex-direction: row;
          gap: 6px;

          font-size: 10px;
          font-weight: 500;

          button {
            padding: 4px 5px;
            border-radius: 6px;

            @include theme {
              background-color: theme-get('bg-section-05');
              border: 1px solid theme-get('neutral-border-border-bold');
            }
          }

          .chosen {
            @include theme {
              background-color: theme-get('neutral-surface-bg-section-active');
              color: theme-get('neutral-surface-bg-3');
              border: 1px solid theme-get('neutral-surface-bg-3');
            }
          }
        }

        .actions {
          display: flex;
          flex-direction: row;
          gap: 6px;

          svg {
            display: flex;
            align-self: center;
            border-radius: 6px;
            width: 24px;
            height: 24px;
            padding: 4px 5px;
            cursor: pointer;
            @include theme {
              background-color: theme-get('bg-section-05');
              border: 1px solid theme-get('neutral-border-border-bold');
              color: theme-get('neutral-surface-bg-3');
            }
            path {
              @include theme {
                stroke: theme-get('neutral-surface-bg-3');
              }
            }
          }
        }
      }

      .chartContent {
        display: flex;
        justify-content: space-between;
        height: 210px;
      }
    }

    .menuWrapper {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 10px;
      align-self: stretch;
      margin-bottom: 24px;

      @include small-mobile {
        flex-direction: column;
        gap: 8px;
      }

      @include theme {
        border-bottom: 1px solid theme-get('neutral-border-border-bold');
      }

      .btnOption {
        flex: 1;
        display: flex;
        height: 48px;
        padding: 4px;
        // flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;

        @include small-mobile {
          width: 100%;
        }

        &.activeBtn {
          @include theme {
            border-bottom: 2px solid theme-get('colors-neutral-text-text-token-name');
            color: theme-get('colors-neutral-text-text-token-name');
          }
        }

        @include theme {
          color: theme-get('colors-neutral-text-body');
          border-bottom: 2px solid transparent;
        }

        font-size: 16px;
        font-weight: 500;
        line-height: 150%;
        /* 21px */

        @keyframes greenLighter {
          0% {
            transform: scale(1);
            opacity: 0.7;
          }

          50% {
            transform: scale(1.1);
            opacity: 1;
          }

          100% {
            transform: scale(1);
            opacity: 0.7;
          }
        }

        span {
          background-color: #aee67f;
          display: flex;
          width: 40px;
          height: 22px;
          padding: 8px 0px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          border-radius: var(--Dimension-Corner-Radius-button, 99px);

          @include theme {
            color: theme-get('colors-neutral-text-text-btn-default');
          }

          -webkit-animation-name: greenLighter;
          -webkit-animation-duration: 0.7s;
          -webkit-animation-iteration-count: infinite;

          font-size: 12px;
          font-weight: 400;
          line-height: 150%;
          /* 18px */
          letter-spacing: 0.012px;
          cursor: pointer;
          transition: all ease-in-out 0.3s;

          animation: greenLighter 2s infinite;
        }
      }
    }
  }

  .line {
    width: 1px;
    height: 720px;

    overflow: hidden;

    @include theme {
      background-color: theme-get('colors-neutral-surface-bg-section');
    }
  }

  .depositTab {
    width: 449px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include theme {
      border-left: theme-get('colors-neutral-surface-bg-section');
    }

    @media only screen and (max-width: 600px) {
      width: 100%;
    }

    .depositInput {
      .menuWrapper {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 10px;
        align-self: stretch;
        margin-bottom: 24px;

        @include small-mobile {
          flex-direction: column;
          gap: 8px;
        }

        @include theme {
          border-bottom: 1px solid theme-get('neutral-border-border-bold');
        }

        .btnOption {
          flex: 1;
          display: flex;
          height: 48px;
          padding: 4px;
          // flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 5px;

          @include small-mobile {
            width: 100%;
          }

          &.activeBtn {
            @include theme {
              border-bottom: 2px solid theme-get('colors-neutral-text-text-token-name');
              color: theme-get('colors-neutral-text-text-token-name');
            }
          }

          @include theme {
            color: theme-get('colors-neutral-text-body');
            border-bottom: 2px solid transparent;
          }

          font-size: 16px;
          font-weight: 500;
          line-height: 150%;
          /* 21px */

          @keyframes greenLighter {
            0% {
              transform: scale(1);
              opacity: 0.7;
            }

            50% {
              transform: scale(1.1);
              opacity: 1;
            }

            100% {
              transform: scale(1);
              opacity: 0.7;
            }
          }

          span {
            background-color: #aee67f;
            display: flex;
            width: 40px;
            height: 22px;
            padding: 8px 0px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: var(--Dimension-Corner-Radius-button, 99px);

            @include theme {
              color: theme-get('colors-neutral-text-text-btn-default');
            }

            -webkit-animation-name: greenLighter;
            -webkit-animation-duration: 0.7s;
            -webkit-animation-iteration-count: infinite;

            font-size: 12px;
            font-weight: 400;
            line-height: 150%;
            /* 18px */
            letter-spacing: 0.012px;
            cursor: pointer;
            transition: all ease-in-out 0.3s;

            animation: greenLighter 2s infinite;
          }
        }
      }
    }

    .submit {
      width: 100%;

      button {
        width: 100%;
        padding: 8px 24px;
      }
    }
  }
}
