@import 'src/styles/mixins';
@import 'src/styles/variables';
@import 'src/styles/themes';

.unstakeTab {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;

  border-radius: 24px;

  @include theme {
    background: theme-get('neutral-6');
  }

  @include small-mobile {
    padding: 16px;
  }

  .note {
    @include theme {
      color: theme-get('neutral-9');
    }

    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.1px;
  }

  .noteHighlight {
    @include theme {
      color: theme-get('warning-text-default');
    }
  }

  .contentConfirm {
    @include theme {
      color: theme-get('neutral-9');
    }

    font-size: 16px;
    font-weight: 500;
    line-height: 150%;

    margin-bottom: 16px;

    @include small-mobile {
      margin-bottom: 0px;
    }

    .desc {
      margin-bottom: 16px;

      @include small-mobile {
        margin-bottom: 8px;
      }
    }
  }

  .result {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 8px;

      @include small-mobile {
        flex-direction: column;
        align-items: flex-start;

        gap: 12px;
      }

      @include theme {
        color: theme-get('neutral-text-text-dropdown');
      }

      font-size: 18px;
      font-weight: 600;
      line-height: 100%;

      .btnGroup {
        display: flex;
        gap: 8px;
        justify-content: flex-end;

        @include small-mobile {
          width: 100%;
        }

        button {
          font-size: 16px;
          font-weight: 500;
          line-height: 100%;

          @include small-mobile {
            width: 100%;

            font-size: 12px;
          }
        }
      }
    }

    .list {
      width: 100%;
      display: flex;
      gap: 16px;

      overflow-x: auto;
      &::-webkit-scrollbar {
        height: 8px;
      }

      @include small-mobile {
        flex-wrap: wrap;
      }

      .item {
        display: flex;
        padding: 16px;
        flex-direction: column;
        gap: 12px;
        border-radius: 12px;
        width: 100%;

        @include theme {
          background: theme-get('neutral-surface-bg-section-4');
        }

        .title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 8px;

          @include theme {
            color: theme-get('neutral-9');
          }

          font-size: 14px;
          font-weight: 400;
          line-height: 150%; /* 21px */
          letter-spacing: 0.1px;

          white-space: nowrap;

          .timeleft {
            display: flex;
            gap: 8px;
          }

          .usd {
            opacity: 0.3;

            &.active {
              opacity: 1;
            }
          }
        }

        .value {
          display: flex;
          align-items: center;

          gap: 6px;

          svg {
            width: 18px;
            height: 18px;
          }

          @include theme {
            color: theme-get('neutral-text-text-dropdown');
          }
          font-size: 20px;
          font-weight: 600;
          line-height: 100%;

          opacity: 0.3;

          &.activeValue {
            opacity: 1;
          }
        }

        .pie {
          height: 24px;
          width: 100%;
          display: flex;
          justify-content: flex-end;

          .progress {
            text-align: right;
            height: 24px;
            width: 24px;
            border-radius: 99px;
            //   background: conic-gradient(#232521 80%, #efefef 80%);
          }
        }
      }
    }
  }
}
