@import 'src/styles/mixins';
@import 'src/styles/variables';
@import 'src/styles/themes';

.txHistory {
  margin-bottom: 40px;

  .tableWrapper {
    border-radius: 24px;
    overflow-x: auto;

    // &::-webkit-scrollbar {
    //   height: 8px;
    // }
    border: 1px solid;

    @include theme {
      border-color: theme-get('neutral-border-border-bold');
      background: theme-get('neutral-white');
    }
  }

  .title {
    margin-bottom: 8px;
    @include theme {
      color: theme-get('sea-stone-200');
    }
    font-size: 16px;
    font-weight: 500;
    line-height: 150%; /* 24px */
  }

  .nodata {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // color: #686a66;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%; /* 21px */
    border-radius: 12px;

    @include theme {
      color: them-get('neutral-8');
    }

    height: 200px;
    span {
      margin-top: 8px;
    }
  }

  table {
    /* required css to make the rows rounded */
    thead {
      white-space: nowrap;
      th:first-child {
        border-top-left-radius: 24px;
      }
      th:last-child {
        border-top-right-radius: 24px;
      }
    }
    tbody {
      @include theme {
        background: theme-get('neutral-6');
      }

      tr:not(:last-of-type) {
        border-bottom: 1px solid;

        @include theme {
          border-color: theme-get('neutral-border-border-bold');
        }
      }

      tr:last-child td:first-child {
        border-bottom-left-radius: 24px;
      }
      tr:last-child td:last-child {
        border-bottom-right-radius: 24px;
      }
    }

    th {
      padding: 10px 24px;
      @include theme {
        color: theme-get('neutral-9');
      }

      font-size: 14px;
      font-weight: 400;
      line-height: 150%; /* 21px */
      letter-spacing: 0.1px;
    }

    td {
      padding: 24px;
      @include theme {
        color: theme-get('neutral-text-text-dropdown');
      }
      font-size: 14px;
      font-weight: 400;
      line-height: 100%; /* 27px */
    }

    .alignRight {
      // text-align: right;
    }
  }

  .hash {
    font-weight: 500;
    white-space: nowrap;

    .txhash {
      margin-right: 4px;
    }

    a {
      cursor: pointer;
    }

    svg {
      width: 14px;
      height: 14px;
      vertical-align: top;

      path {
        fill: $neutron-text-body-light;
      }
    }
  }

  .address {
    font-weight: 500;
    white-space: nowrap;

    .txt {
      margin-right: 4px;
    }

    a {
      cursor: pointer;
    }

    svg {
      width: 14px;
      height: 14px;
      vertical-align: top;

      path {
        fill: $neutron-text-body-light;
      }
    }
  }

  .time {
    @include theme {
      color: theme-get('neutral-9');
    }

    & > div {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 8px;
    }
  }

  .amount {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;

    svg {
      width: 20px;
      height: 20px;

      vertical-align: middle;
    }

    .symbol {
      @include theme {
        color: theme-get('neutral-9');
      }
    }
  }

  .detailPrice {
    @include theme {
      color: theme-get('neutral-9');
    }
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;

    margin-top: 12px;
  }

  .listData {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include theme {
      color: theme-get('neutral-text-text-dropdown');
    }
    font-size: 14px;
    font-weight: 400;
    line-height: 100%; /* 27px */

    .item {
      width: 100%;
      border: 1px solid;
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 16px;
      gap: 12px;

      @include theme() {
        border-color: theme-get('neutral-surface-bg-btn-disabled');
        background-color: theme-get('neutral-surface-bg-section');
      }

      .titleItem {
        margin-bottom: 12px;
        @include theme {
          color: theme-get('neutral-9');
        }
      }

      .info {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 12px;

        .top {
          width: 100%;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;

          .hashWrapper {
            width: 50%;
          }

          .addressWrapper {
            width: 50%;
          }

          .time {
            width: 50%;
          }
        }
      }

      .divider {
        width: 100%;
        height: 1px;

        @include theme {
          background-color: theme-get('neutral-surface-bg-section-3');
        }
      }

      .payReceive {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        margin-bottom: 8px;

        .pay {
          width: 50%;
        }

        .receive {
          width: 50%;
        }
      }

      .valueFee {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .value {
          width: 50%;
        }

        .fee {
          width: 50%;
        }
      }
    }
  }
}

.loadingDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  height: 200px;
}

.loadingDivWrapper {
  border-radius: 24px;
  background: rgba(79, 79, 79, 0.5);
}
