@import 'src/styles/mixins';
@import 'src/styles/variables';

.modal {
  max-width: 900px;
  .container {
    background: #17181c;
    border-radius: 24px;
    padding: 24px;
    max-height: 90vh;
    overflow-y: auto;
    &.light {
      background: rgba(252, 252, 253, 1);
      color: rgba(39, 43, 48, 1);
    }
    &-inner {
      display: flex;
      justify-content: center;
      align-items: center;
      .title {
        font-size: 32px;
        @include mobile {
          font-size: 20px;
        }
        font-weight: 600;
        padding-left: 16px;
        text-transform: uppercase;
        &.light {
          color: rgba(39, 43, 48, 1);
        }
      }
    }

    .content {
      width: 100%;
      height: 60vh;
      display: flex;
      @include mobile {
        flex-direction: column;
        height: 50vh;
      }

      .box {
        width: 50%;
        background-color: #17181c;
        border: 1px solid rgba(225, 240, 255, 0.2027);
        &.light {
          background-color: #fdfdfd;
          border: 1px solid;
          border-image-source: linear-gradient(
            99.99deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.15) 26.06%,
            rgba(225, 240, 255, 0.202656) 64.17%,
            rgba(232, 241, 255, 0) 98.89%
          );
          box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.05);
        }
        border-radius: 16px;
        &:nth-child(1) {
          margin-right: 4px;
        }
        &:nth-child(2) {
          margin-left: 4px;
        }
        @include mobile {
          width: 100%;
          &:nth-child(1) {
            margin-right: 0px;
          }
          &:nth-child(2) {
            margin-left: 0px;
          }
          margin-top: 10px;
          margin-bottom: 10px;
        }
        padding: 24px;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        .token {
          width: 100%;
          border-radius: 16px;
          .row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            &.pt-16 {
              padding-top: 16px;
            }
            .label {
              font-size: 14px;
              line-height: 20px;
              font-weight: 500;
              color: '#fff';
            }
            .input {
              width: 250px;
              height: 48px;
              background-color: #1e1e21;
              &.light {
                background-color: rgba(246, 246, 246, 1);
              }
              border-radius: 8px;
              padding: 12px 16px;
              font-weight: 500;
              font-size: 14px;
              color: white;
              display: flex;
              align-items: center;
              justify-content: space-between;
              @include mobile {
                font-size: 15px;
                width: 60%;
              }

              &::placeholder {
                color: #505665;
              }
            }
          }

          .option {
            padding-top: 31px;
          }

          .btn-add-init {
            display: flex;
            align-items: center;
            max-width: 64px;
            height: 32px;
            background-color: rgba(126, 92, 197, 1);
            border-radius: 8px;
            padding: 6px 8px 6px 6px;
            font-size: 14px;
            font-weight: 500;
            cursor: pointer;
            margin-top: 16px;
            &.light {
              color: rgba(255, 255, 255, 1);
            }
          }

          .header-init {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 16px;
          }

          .wrap-init-balances {
            display: flex;
            align-items: center;
            .wallet {
              padding-left: 20px;
              position: relative;
              &.light {
                span {
                  color: rgba(255, 255, 255, 1);
                }
              }
              span {
                position: absolute;
                left: 12px;
                width: 18px;
                height: 18px;
                background: rgba(126, 92, 197, 1);
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 13px;
              }
            }
          }
        }
        .rewards {
          max-height: 400px;
          .orai {
            padding-bottom: 32px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .orai_label {
              display: flex;
              width: 50%;
              align-items: center;
              // position: relative;
              .logo {
                width: 40px;
                height: 40px;
              }
              .per {
                padding-left: 14px;
                font-weight: 500;
                font-size: 14px;
                span {
                  text-transform: uppercase;
                }
              }
            }
            .input_per {
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: #17181c;

              height: 48px;
              max-width: 147px;
              border: 0.5px solid rgba(255, 255, 255, 0.3);
              border-radius: 8px;
              color: rgba(255, 222, 91, 1);
              &.light {
                background-color: #fdfdfd;
                border-color: rgba(204, 205, 208, 1);
                color: rgba(126, 92, 197, 1);
              }
              .value {
                padding-left: 16px;
                padding-right: 16px;

                font-weight: 500;
                font-size: 16px;
                text-align: center;
                line-height: 100%;
                width: 100%;
              }
            }
          }
          .rewards-list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 24px;
          }
        }
        .add-reward-btn {
          background: rgba(126, 92, 197, 1);
          /* Inner/Button */
          display: flex;
          height: 36px;
          justify-content: center;
          align-items: center;
          border-radius: 8px;

          padding: 6px 8px 6px 6px;

          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 100%;
          /* identical to box height, or 16px */

          text-align: center;

          /* aiRight/White */

          color: rgba(255, 255, 255, 1);
          cursor: pointer;
        }
      }
    }
  }

  .disable-btn {
    opacity: 0.5;
  }

  .create-btn {
    background: #612fca;
    /* Inner/Button */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px -2px 0px #4b2993, inset 1px 2px 0px #804af2;
    border-radius: 8px;

    padding: 16px;

    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    /* identical to box height, or 16px */

    text-align: center;

    /* aiRight/White */

    color: #ffffff;
    cursor: pointer;
    margin-top: 24px;
  }
}

.dropdown-reward {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include mobile {
    max-width: 80%;
    font-size: 12px;
  }
  background: #23262f;
  width: 330px;
  max-height: 373px;
  z-index: 3;
  overflow: auto;
  border-radius: 8px;
  padding: 16px;
  .label {
    padding-left: 10px;
    padding-right: 10px;
    color: rgba(255, 222, 91, 1);
    font-size: 14px;
  }
  .check {
    height: 48px;
    background-color: #333443;
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    color: white;
    margin-top: 16px;
    padding: 13px 4px 13px 16px;
    display: flex;
    align-items: center;
    .input {
      width: 70%;
      padding-right: 10px;
      @include mobile {
        font-size: 13px;
      }
    }
    .btn {
      width: 30%;
      max-height: 48px;
      background-color: rgba(126, 92, 197, 1);
      color: rgba(217, 217, 217, 1);
      border-radius: 8px;
      cursor: pointer;
      div {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 4px;
        span {
          font-size: 10px;
        }
        @include mobile {
          .plus {
            width: 16px;
            height: 24px;
          }
          span {
            font-size: 9px;
          }
        }
      }
    }
  }
  .list {
    ul {
      padding-top: 16px;
      li {
        display: flex;
        align-items: center;
        padding: 10px;
        cursor: pointer;
        .logo {
          width: 18px;
          height: 18px;
        }
        .name {
          padding-left: 10px;
          &.light {
            color: rgba(217, 217, 217, 1);
          }
        }
      }
      li:hover {
        background-color: rgba(43, 45, 59, 1);
      }
    }
  }
  .title-reward {
    font-weight: 600;
    &.light {
      color: rgba(222, 223, 226, 1);
    }
  }
  .content-reward {
    padding-top: 24px;
    &.light {
      color: rgba(222, 223, 226, 1);
    }
    span {
      color: rgba(254, 221, 91, 1);
      text-transform: uppercase;
      font-weight: 600;
    }
  }
}

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 2;
}

.action {
  display: flex;
  .btn {
    width: 50%;
    /* Inner/Button */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid#a871df;
    padding: 16px;

    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;

    text-align: center;

    cursor: pointer;
    margin-top: 40px;

    &-cancel {
      color: rgba(168, 113, 223, 1);
    }

    &-delete {
      color: #ffffff;
      margin-left: 10px;
      background-color: #a871df;
    }
  }
}

.trash {
  cursor: pointer;
}
