@import 'src/styles/themes';
@import 'src/styles/mixins';

.myPoolInfo {
  display: flex;
  margin-bottom: 40px;
  width: 100%;

  @include small-mobile() {
    flex-wrap: wrap;
    margin-bottom: 16px;
  }

  .liquidity {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    position: relative;

    width: 34%;

    @include medium-desktop {
      width: 44%;
    }

    @include mobile {
      width: 50%;
    }
    @include small-mobile() {
      width: 50%;
      border-bottom-left-radius: 0;
      border-top-right-radius: 16px;
    }

    @include theme() {
      background-color: theme-get('neutral-surface-bg-section');
    }

    .dividerWrapper {
      padding: 24px 0;
      width: 1px;
      height: 100%;

      @include small-mobile() {
        width: 100%;
        height: 1px;
        padding: 0 24px;
      }

      .divider {
        width: 1px;
        height: 100%;

        @include theme() {
          background-color: theme-get('neutral-surface-bg-section-3');
        }

        @include small-mobile() {
          width: 100%;
          height: 1px;
        }
      }
      position: absolute;
      right: 0;
      bottom: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translate(50%, 50%);
      z-index: 1;

      @include small-mobile() {
        right: 50%;
        bottom: 0;
      }
    }
  }

  .stake {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    position: relative;

    width: 66%;

    @include medium-desktop {
      width: 56%;
    }

    @include mobile {
      width: 50%;
    }

    @include small-mobile() {
      width: 50%;
      border-top-right-radius: 0;
      border-bottom-left-radius: 0;
      border-end-start-radius: 16px;
    }

    @include theme() {
      background-color: theme-get('neutral-surface-bg-section');
    }

    .bgCoin {
      position: absolute;
      bottom: 0;
      right: 0;
      display: flex;

      @include small-mobile {
        display: none;
      }
    }

    .stakeContent {
      width: 50%;

      @include medium-desktop {
        width: 85%;
      }

      @include mobile {
        width: 85%;
      }

      @include small-mobile() {
        width: 100%;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }

  .liquidity,
  .stake {
    padding: 24px 40px;

    .title {
      @include theme() {
        color: theme-get('neutral-text-title');
      }

      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%;
      margin-bottom: 8px;
    }

    .description {
      @include theme() {
        color: theme-get('neutral-text-body');
      }

      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }

    .amount {
      margin: 24px 0;
      display: flex;
      flex-direction: column;
      gap: 12px;

      @include small-mobile {
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;

        margin: 16px 0;
      }

      .amountUsdt {
        @include theme() {
          color: theme-get('neutral-text-text-token-name');
        }

        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;

        @include small-mobile {
          font-size: 24px;
        }
      }

      .amountLp {
        @include theme() {
          color: theme-get('neutral-text-body');
        }

        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
      }
    }

    .cta {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;

      button {
        width: 45%;
        white-space: nowrap;

        @include small-mobile() {
          padding: 8px 0;
          font-size: 14px;
        }
      }
    }

    @include small-mobile() {
      width: 100%;
      padding: 24px 16px;
    }
  }
}
