@import 'src/styles/themes';
@import 'src/styles/mixins';

.myPoolInfo {
  display: flex;
  padding: var(--Dimensions-32, 32px);
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;

  border-radius: 24px;

  @include theme {
    border: 1px solid theme-get('neutral-border-border-default');
    background: theme-get('neutral-surface-bg-swap');
  }

  @include mobile() {
    padding: 16px;
  }

  .liquidity {
    padding-bottom: 32px;

    @include theme {
      border-bottom: 1px solid theme-get('neutral-border-border-default');
    }

    @include mobile {
      padding-bottom: 16px;
    }
  }

  .liquidity,
  .stake {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      @include theme() {
        color: theme-get('neutral-8');
      }

      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;

      display: flex;
      align-items: center;

      svg {
        margin-left: 6px;
        vertical-align: middle;
        width: 12px;
        height: 12px;

        path {
          @include theme() {
            fill: theme-get('neutral-8');
          }
        }
      }
    }

    .amount {
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin-top: 20px;

      @include mobile {
        gap: 12px;
        margin-top: 18px;
      }

      .amountUsdt {
        @include theme() {
          color: theme-get('neutral-text-text-token-name');
        }

        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;

        @include small-mobile {
          font-size: 18px;
        }
      }

      .amountLp {
        @include theme() {
          color: theme-get('neutral-8');
        }

        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
      }
    }

    .cta {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      gap: 8px;

      @include mobile {
        flex-direction: column;
      }

      button {
        white-space: nowrap;
        padding: 12px;
        min-width: 140px;

        &:hover {
          filter: brightness(1.25);
        }

        svg {
          path {
            @include theme() {
              stroke: theme-get('neutral-text-text-token-name');
            }
          }
        }

        @include small-mobile() {
          padding: 8px 0;
          font-size: 12px;
          min-width: 110px;
        }
      }
    }
  }
}

.descriptionTooltip {
  border: 1px solid #494949;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  text-align: left;

  width: 100%;
  max-width: 400px;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  background: var(--Colors-Trading-trade-bg-section, #232521);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  color: var(--Colors-Neutral-Text-body, #979995);

  .titleApr {
    font-size: 20px;
    margin-bottom: 16px;
    text-align: center;
  }

  &.light {
    border-color: #f0f1ee;
    background: #fff;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    color: var(--Colors-Neutral-Text-body, #686a66);
  }

  @include mobile {
    font-size: 12px;
    padding: 8px;
    width: calc(100% - 20px);
  }
}