@import 'src/styles/mixins';
@import 'src/styles/themes';

.escrow {
  &_title {
    font-weight: 500;
    font-size: 24px;
    @include theme() {
      color: theme-get('color');
    }
  }

  .stakeInfo {
    width: 100%;
    display: flex;
    padding: 24px;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 16px;
    margin-top: 24px;

    @include medium-desktop {
      flex-wrap: wrap;
    }

    @include small-mobile {
      flex-wrap: wrap;
      padding: 16px;
    }

    gap: 32px;
    border-radius: 24px;
    border: 1px solid;

    @include theme {
      border-color: theme-get('primary-text-text-link');
      background: theme-get('primary-surface-default-subtle');
    }

    .info {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 32px;
      flex: 1;

      @include small-mobile {
        flex-wrap: wrap;
      }
    }

    .item {
      width: 100%;
      max-width: 190px;
      white-space: nowrap;

      font-size: 14px;
      font-weight: 400;
      line-height: 100%;

      // @include theme {
      //   color: theme-get('primary-surface-default-dark');
      // }

      @include theme {
        color: theme-get('primary-surface-default');
      }

      @include small-mobile {
        width: unset;
        font-size: 12px;
      }

      .title {
        margin-bottom: 32px;
      }

      .usd {
        font-size: 24px;
        font-weight: 500;
        line-height: 100%;

        margin-bottom: 16px;

        @include small-mobile {
          font-size: 20px;
        }
      }

      .value {
        display: flex;
        align-items: center;
        gap: 4px;

        @include theme {
          color: theme-get('neutral-9');
        }

        svg {
          width: 18px;
          height: 18px;
        }
      }
    }

    .itemBtn {
      @include medium-desktop {
        width: 100%;
      }

      @include small-mobile {
        width: 100%;
      }

      button {
        white-space: nowrap;

        @include medium-desktop {
          width: 100%;
        }

        @include mobile {
          font-size: 14px;
        }

        @include small-mobile {
          width: 100%;
        }
      }
    }
  }
}
