@import 'src/styles/mixins';

.wrapper {
  padding: 32px;

  @include mobile {
    padding: 0;
  }
}

.header {
  display: flex;
  flex-direction: column;
  max-width: 579px;
  .totalAssets {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #777e90;
  }

  .balance {
    font-weight: 600;
    font-size: 40px;
    color: #ffffff;
  }
}

.action {
  display: flex;
  justify-content: center;
}

.search {
  margin-top: 25px;
  display: flex;
  @include mobile {
    width: 100%;
    flex-direction: column;
  }
  @include desktop {
    width: 50%;
    align-items: center;
    justify-content: space-between;
  }
  &_filter {
    width: 50%;
    cursor: pointer;
    @include mobile {
      width: 100%;
    }
    background: #2b2d3b;
    text-align: center;
    margin-right: 20px;
    border-radius: 8px;
    padding: 12px;
    height: 56px;
  }
  &_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
  }
  &_text {
    font-size: 16px;
    font-weight: 600;
    padding-left: 10px;
  }
  &_form {
    width: 420px;
    background: #2B2D3B;
    border-radius: 8px;
    padding: 12px;
    height: 56px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    @include mobile {
      width: 100%;
      margin-top: 20px;
    }
  }
  &_logo {
    display: flex;
    align-items: center;
  }
  input {
    width: 93%;
    font-weight: 600;
    font-size: 16px;
    color: white;
  }
}

.transferTab {
  width: 100%;
  display: flex;
  margin-top: 10px;
  flex-direction: row;

  .tfBtn {
    background: #612fca;
    box-shadow: inset 0px -2px 0px #4b2993, inset 1px 2px 0px #804af2;
    border-radius: 8px;
    padding: 16px;
    justify-content: center;
    align-content: center;
    display: flex;
    align-items: center;
    margin-top: 24px;
    cursor: pointer;

    svg {
      margin-right: 5px !important;
    }
  }

  .tfTxt {
    font-weight: 600;
    font-size: 16px;
  }

  @include mobile {
    flex-direction: column;
    align-items: center;
  }
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #2d2938;
  margin-top: 16px;
  margin-bottom: 16px;
}

.tokens {
  display: flex;
  justify-content: center;
  &_form {
    @include mobile {
      width: 100%;
    }
    @include desktop {
      width: 50%;
    }
  }
  &_element {
    margin-bottom: 20px;
    background-color: #191b21;
    border-radius: 16px;
  }
}


