.walletItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 7px;

    .walletIcon {
        display: flex;
    }

    .walletName {
        color: #232521;
        font-size: 14px;
        font-weight: 500;
        line-height: 150%;
    }
}