@import 'src/styles/variables';

.container {
  margin: 0 auto;
  padding: 0 $gutter;
  max-width: calc(100vw - 2 * #{$gutter});
}

.sm {
  margin: 0 auto;
  max-width: 400px;
}

p {
  color: #5c5c5c;
  font-size: 12px;
  text-align: center;
}
