@import 'src/styles/variables';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  iframe {
    border: none;
    width: 200px;
    height: 100%;
  }
}

.address {
  color: $white;
  margin: 0 10px 0 8px;
}

.connected {
  border: 1px solid $white;
  text-transform: none;
}

.connect {
  text-transform: none;
}
