.search {   
    width: 420px;
    height: 48px;
    background-color: #1e1e21;
    border-radius: 8px;
    padding: 12px 16px;
    font-weight: 500;
    font-size: 16px;
    color: white;
    @media (max-width: 575px) {
        font-size: 15px;
        width: 100%;
    }
    &::placeholder {
        color: #505665;
    }
    
}