@import 'src/styles/mixins';
@import 'src/styles/variables';

.tooltip {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: $white;
  border-radius: 8px;
  margin-top: 10px;
  transform: translateX(12px);
  background: transparent;

  article:not(:first-child) {
    margin-top: 1em;
  }

  :global {
    .tippy-content {
      padding: 0;
    }

    .tippy-arrow {
      display: none;
    }
  }
}

.button {
  @include flex;
  cursor: pointer;
  justify-content: flex-start;
}

/* with tooltip */
.flex {
  @include flex(flex-start);
  display: inline-flex;
}
.icon {
  svg {
    path {
    }
  }
}

.tooltip {
  color: #efefef;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  text-align: left;
  width: 100%;
  max-width: 400px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid;
  border-color: #494949;
  background: #121511;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);

  &.light {
    color: #494949;
    border-color: #dfe0de;
    background: #fff;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  }

  @include mobile {
    font-size: 12px;
    padding: 8px;
    width: calc(100% - 20px);
  }
}
