@import "src/styles/mixins";
@import "src/styles/variables";

.tooltip {
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */

    text-align: center;

    /* aiRight/White */

    color: #ffffff;

    border-radius: 24px;
    article:not(:first-child) {
        margin-top: 1em;
    }
}

.button {
    @include flex;
    cursor: pointer;
    justify-content: flex-start;
}

/* with tooltip */
.flex {
    @include flex(flex-start);
    display: inline-flex;
}

.icon {
    color: fade-out($slate, 0.25);
    margin-left: 3px;
    margin-top: -0.04em;
}
