@import 'src/styles/mixins';
@import 'src/styles/variables';
@import 'src/styles/reboot';
@import 'src/styles/colors';
@import 'src/styles/utils';

.container {
  @include flex(space-between);
}

.network-container {
  @include flex(space-between);
  flex: 1;
  padding: 15px;
  border-radius: 10px;
  height: 100px;
  background-color: $bg;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.toggle-button {
  margin: 10px;
  transform: rotate(-90deg);
}

.network-container-left {
  display: flex;
  flex-direction: column;
}

.network-container-right {
  height: 100%;
}

.network-container-muted {
  margin-bottom: 16px;
  color: $text;
}

.network-container-name {
  white-space: nowrap;
  font-size: 14px;
  color: $white;
  width: 10px;
  z-index: 10;
}
