@import 'src/styles/mixins';
@import 'src/styles/variables';
@import 'src/styles/themes';

.myBid {
  margin-top: 24px;
  margin-bottom: 40px;

  .tableWrapper {
    border-radius: 24px;
    overflow-x: auto;

    &::-webkit-scrollbar {
      height: 4px;
    }
    border: 1px solid;

    @include theme {
      border-color: theme-get('neutral-border-border-bold');
      background: theme-get('neutral-white');
    }
  }

  .title {
    margin-bottom: 8px;
    @include theme {
      color: theme-get('sea-stone-200');
    }
    font-size: 16px;
    font-weight: 500;
    line-height: 150%; /* 24px */
  }

  .nodata {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // color: #686a66;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%; /* 21px */
    border-radius: 12px;

    @include theme {
      color: them-get('neutral-8');
    }

    height: 200px;
    span {
      margin-top: 8px;
    }
  }

  table {
    /* required css to make the rows rounded */
    thead {
      white-space: nowrap;
      th:first-child {
        border-top-left-radius: 24px;
      }
      th:last-child {
        border-top-right-radius: 24px;
      }
    }
    tbody {
      @include theme {
        background: theme-get('neutral-6');
      }

      tr:not(:last-of-type) {
        border-bottom: 1px solid;

        @include theme {
          border-color: theme-get('neutral-border-border-bold');
        }
      }

      tr:last-child td:first-child {
        border-bottom-left-radius: 24px;
      }
      tr:last-child td:last-child {
        border-bottom-right-radius: 24px;
      }
    }

    th {
      padding: 10px 24px;
      @include theme {
        color: theme-get('neutral-9');
      }

      font-size: 14px;
      font-weight: 400;
      line-height: 150%; /* 21px */
      letter-spacing: 0.1px;
    }

    td {
      padding: 24px;
      @include theme {
        color: theme-get('neutral-text-text-dropdown');
      }
      font-size: 18px;
      font-weight: 500;
      line-height: 100%; /* 27px */
    }

    .index {
      width: 8%;
    }

    .bid {
      width: 23%;
    }

    .slot {
      width: 23%;
    }

    .status {
      width: 23%;
      white-space: nowrap;

      svg {
        height: 16px;
        width: 16px;
        vertical-align: middle;
        margin-right: 6px;
      }

      &.Won {
        color: #aee67f;
      }

      &.Bidding {
        color: #ad9c00;
      }

      &.Draw {
        color: #979995;
      }
    }

    .Won {
      color: #aee67f;
    }

    .Bidding {
      color: #ad9c00;
    }

    .Draw {
      color: #979995;
    }

    .return {
      width: 23%;
    }

    .detailPrice {
      @include theme {
        color: theme-get('neutral-9');
      }
      font-size: 14px;
      font-weight: 400;
      line-height: 100%;

      margin-top: 12px;
    }
  }
}

.loadingDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  height: 200px;
}
