@import 'src/styles/mixins';
@import 'src/styles/variables';
@import 'src/styles/themes';

.swap-box {
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 16px 32px 16px;
  width: 100%;
  backdrop-filter: blur(5px);
  border-radius: 24px;

  @include theme() {
    border: 1px solid theme-get('neutral-6');
    background: theme-get('neutral-white');
    box-shadow: theme-get('shadow-swap-box');
  }

  @include mobile {
    position: static;
    padding: 16px;
    margin: 0;
    background: none;
    box-shadow: none;
    backdrop-filter: none;
  }

  .header {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 12px;
    padding: 10px 10px 16px;

    .title {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 100%;
      margin: 5.5px 0;
      flex-grow: 1;

      @include mobile {
        font-size: 14px;
      }

      letter-spacing: 0.02em;
      text-transform: uppercase;

      @include theme() {
        color: theme-get('text-color');
      }
    }

    .btn {
      cursor: pointer;
      display: flex;
      border-radius: 8px;
      padding: 12px;

      @include theme() {
        background-color: theme-get('bg-color-secondary');
      }

      svg {
        path {
          @include theme() {
            fill: theme-get('svg-fill-color');
          }
        }
      }
    }
  }

  .from,
  .to {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 15px;
    width: 100%;

    @include theme() {
      background: theme-get('neutral-6');
    }

    border-radius: 16px;
    border: 1px solid;
    border-image: linear-gradient(99.99deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.15) 26.06%,
      rgba(225, 240, 255, 0.202656) 64.17%,
      rgba(232, 241, 255, 0) 98.89%) 1;

    @include mobile {
      border: none;
      border-radius: 8px;
      background: none;
      box-shadow: none;
      padding: 16px;
    }

    /* Inside auto layout */

    .token-info {
      flex-grow: 1;

      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 10px;
    }

    .token-symbol {
      font-weight: 500;
      font-size: 24px;
    }
  }

  .coeff {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    font-size: 14px;
    color: #979995;

    .is-active {
      @include theme() {
        color: theme-get('sea-stone-800');
        border: 1px solid theme-get('sea-stone-800');
      }

      font-weight: 600;
    }

    button {
      @include theme() {
        background-color: theme-get('neutral-6');
      }

      border-radius: 8px;
      width: 24%;
      padding: 14px;
    }

    button:hover {
      font-weight: 600;

      @include theme() {
        color: theme-get('sea-stone-800');
      }
    }
  }

  .token-org {
    opacity: 0.5;
    font-size: 13px;
    width: max-content;
  }

  .balance {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */

    text-align: center;
    font-feature-settings: 'ss03' on;

    /* aiRight/Gray 3 */

    color: #777e90;

    display: flex;
    gap: 8px;
    width: 100%;

    .btn {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 4px 6px;

      @include theme() {
        background-color: theme-get('bg-color-active');
      }

      border-radius: 4px;

      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 100%;
      /* identical to box height, or 13px */

      /* Stroke/Primary */

      color: #a871df;

      &:hover {
        @include theme() {
          background-color: theme-get('bg-color-active');
        }
      }
    }

    .active {
      @include theme() {
        background-color: theme-get('bg-color-active');
      }
    }
  }

  .input-wrapper {
    width: 100%;
    position: relative;

    @include medium-desktop {
      .input {
        font-size: 20px;

        .amount {
          font-size: 18px;
        }
      }
    }

    .token-fee {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 500;
      color: #777e90;
      margin-top: 10px;
    }
  }

  .input {
    /* Auto layout */
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 5px;

    @include theme() {
      background: theme-get('bg-color-secondary');
      color: theme-get('text-color');
    }

    border-radius: 8px;

    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    /* identical to box height, or 24px */

    text-align: center;
    font-feature-settings: 'tnum' on,
    'lnum' on,
    'zero' on;

    .token {
      cursor: pointer;
      display: flex;

      align-items: center;

      gap: 5px;

      .logo {
        width: 32px;
        height: 32px;
      }

      .arrow-down {
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;

        @include theme() {
          border-top: theme-get('bg-color-arrow');
        }
      }
    }

    .amount {
      flex-grow: 1;
      text-align: right;
      max-width: 50%;
      width: inherit;

      @include mobile {
        width: 100%;
      }
    }
  }
}

.from {
  @include mobile {
    border-bottom: 1px solid;
  }
}

.to {
  input.amount {
    color: #505665;
  }

  @include mobile {
    border-top: 1px solid;
  }
}

.swap-icon {
  padding: 5px;

  @include mobile {
    padding: 3px;
  }

  @include theme() {
    background-color: theme-get('bg-btn-switch');
  }

  .wrap-img {
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include theme() {
      background-color: theme-get('neutral-white');
      border: 6px solid theme-get('neutral-white');

      @include mobile {
        border: 4px solid theme-get('neutral-white');
      }
    }

    img {
      border-radius: 50%;
      // background-color: #f7f7f7;
      cursor: pointer;
      height: 38px;
      width: 38px;

      // position: absolute;
      // transform: translate(-50%, -50%);
      @include mobile {
        height: 24px;
        width: 24px;
      }
    }
  }
}

.swap-btn {
  width: 100%;
  gap: 5px;

  @include theme() {
    background-color: theme-get('primary-1');
    color: #232521;
  }

  &.disable {
    @include theme() {
      background-color: theme-get('neutral-5');
      color: theme-get('neutral-8');
    }
  }

  /* Inner/Button */

  // @include theme() {
  //   box-shadow: theme-get('shadow-btn');
  // }

  border-radius: 20px;

  padding: 16px;

  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  /* identical to box height, or 16px */

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  /* aiRight/White */

  color: #ffffff;
  cursor: pointer;

  margin: 16px 0;
  height: 60px;

  svg {
    margin: 0 5px 0 0 !important;
  }
}

.detail {
  padding: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  /* identical to box height, or 21px */

  text-align: center;
  font-feature-settings: 'ss03' on;

  /* aiRight/Gray 3 */
  @include theme() {
    background-color: theme-get('neutral-6');
    color: theme-get('neutral-8');
  }

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 5px;
    }
  }
}