@import 'src/styles/mixins';
@import 'src/styles/variables';
@import 'src/styles/themes';

.selectTokenWrap {
  width: 100%;
  height: 100%;

  position: absolute;
  bottom: 0;

  transition: all 0.5s;
  transform: translateY(100%);
  &.active {
    transform: translateY(0);
  }
}

.selectTokenOverlay {
  position: absolute;
  top: 0;
  left: 0;

  border-radius: var(--Dimension-Corner-Radius-modal, 12px);
  opacity: 0.25;
  background: var(--Colors-Universal-Base-1000, #000);

  width: 100%;
  height: 100%;
}

.selectToken {
  padding: 16px;

  display: flex;
  border-radius: 24px;

  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 90%;

  bottom: 0;

  transition: all 0.5s;
  transform: translateY(100%);
  &.active {
    transform: translateY(0);
  }

  gap: 24px;
  @include theme() {
    background-color: theme-get('colors-neutral-surface-bg');
    color: theme-get('colors-neutral-text-text-token-name');
    border: 1px solid theme-get('colors-neutral-border-border-bold');
  }
  @include theme() {
    color: theme-get('colors-neutral-text-title');
  }

  .selectTokenHeader {
    display: flex;
    justify-content: space-between;

    .selectTokenHeaderTitle {
      text-align: center;
      font-variant-numeric: lining-nums tabular-nums;
      font-size: 18px;
      font-weight: 600;
      line-height: 150%;
    }

    .selectTokenHeaderClose {
      cursor: pointer;
    }
  }

  .selectTokenSearch {
    .selectTokenSearchInput {
      width: 100%;
      @include theme() {
        background: theme-get('colors-neutral-surface-bg-section');
        color: theme-get('colors-neutral-text-text-token-name');
      }
    }
  }

  .selectTokenNetwork {
    .selectTokenNetworkTitle {
      font-size: 14px;
      font-weight: 600;
      line-height: 150%;
    }
    .selectTokenNetworkList {
      padding-top: 12px;
      display: flex;
      align-items: center;
      gap: 8px;
      .selectTokenNetworkItem {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding: 8px;
        height: 40px;
        text-align: center;
        @include theme() {
          background-color: theme-get('colors-neutral-surface-bg-section-2');
          color: theme-get('colors-neutral-text-text-token-name');
        }
        border-radius: 99px;
        background: #31332e;
        width: calc(100% / 7);
        border: 1px solid inherit;
        &.active {
          @include theme() {
            border: 1px solid theme-get('colors-neutral-border-border-btn-default');
          }
        }
        &:hover {
          //  border-radius: var(--Dimension-Corner-Radius-button, 99px);
          // border: 1px solid var(--Colors-Neutral-Border-border-btn-default, #232521);
          // background: var(--Colors-Neutral-Surface-bg-dropdown-hover, #EFEFEF);
          @include theme() {
            border: 1px solid theme-get('colors-neutral-border-border-btn-default');
          }
        }
      }
    }
  }

  .selectTokenAll {
    .selectTokenList {
      overflow-y: auto;
      height: 460px;

      .selectTokenTitle {
        @include theme() {
          color: theme-get('colors-neutral-text-title');
        }
        font-size: 14px;
        line-height: 150%;
      }

      .selectTokenListNoResult {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
      }

      .selectTokenItem {
        display: flex;
        justify-content: space-between;
        padding: 12px;
        cursor: pointer;
        &:hover {
          border-radius: 8px;
          // border: 1px solid gray;
          @include theme() {
            background-color: theme-get('colors-neutral-surface-bg-dropdown-hover');
          }
        }
        .selectTokenItemLeft {
          display: flex;
          align-items: center;
          gap: 10px;
          .selectTokenItemLeftImg {
            display: flex;
            align-items: center;
            position: relative;
            .selectTokenItemLeftImgChain {
              border-radius: 2px;
              position: absolute;
              top: 60%;
              left: 15px;
              z-index: 1;
              width: 16.5px;
              height: 16.5px;
              border-radius: 50%;
              svg {
                @include theme() {
                  background-color: theme-get('colors-neutral-surface-bg-dropdown-hover');
                }
                border-radius: 50%;
              }
            }
          }

          .selectTokenItemTokenName {
            font-size: 16px;
            font-weight: 500;
            @include theme() {
              color: theme-get('colors-neutral-text-text-token-name');
            }
          }

          .selectTokenItemTokenOrg {
            @include theme() {
              color: theme-get('colors-neutral-text-body');
            }
          }
        }
        .selectTokenItemRight {
          text-align: right;
          .selectTokenItemTokenBalance {
            font-weight: 500;
            @include theme() {
              color: theme-get('colors-neutral-text-text-token-name');
            }
          }
          .selectTokenItemTokenUsd {
            @include theme() {
              color: theme-get('colors-neutral-text-body');
            }
          }
        }
      }
    }
  }
}
