@import 'src/styles/mixins';
@import 'src/styles/variables';
@import 'src/styles/themes';

.bannerWrapper {
  z-index: 30;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: $menu-height;
  padding: 12px 16px;
  gap: 16px;
  left: $sidebar-width;
  right: 0;
  padding-left: 120px;
  padding-right: 120px;

  @include theme() {
    background: theme-get('primary-surface-default-subtle');
    color: theme-get('text-color');
  }

  @include medium-desktop {
    padding-left: 80px;
    padding-right: 80px;
  }

  @include mobile {
    top: $menu-height;
    left: 0px;
    padding: 10px 8px;
  }

  .content {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;

    .text {
      font-size: 14px;
      font-weight: 500;
      line-height: 150%;
      /* 21px */

      @include theme() {
        color: theme-get('primary-surface-default');
      }

      @include mobile {
        font-size: 12px;
      }
    }

    .button {
      display: flex;
      height: 36px;
      padding: 8px 16px;
      justify-content: center;
      align-items: center;
      gap: 10px;

      border-radius: 99px;
      border: 1px solid;

      @include theme() {
        border-color: theme-get('primary-surface-default');
        color: theme-get('primary-surface-default');

        svg {
          path {
            stroke: theme-get('primary-surface-default');
          }
        }
      }

      text-align: center;
      font-size: 16px;
      font-weight: 500;
      line-height: 150%;
      /* 24px */

      cursor: pointer;

      @include mobile {
        font-size: 12px;
      }
    }
  }

  .closeBanner {
    position: absolute;

    @include mobile {
      position: unset;
    }

    right: 10px;
    cursor: pointer;

    @include theme() {
      svg {
        path {
          fill: theme-get('primary-surface-default');
        }
      }
    }
  }
}
