@import 'src/styles/variables';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  iframe {
    border: none;
    width: 200px;
    height: 100%;
  }
}

.address {
  color: $white;
  margin: 0 10px 0 8px;
}

button.connected {
  border: 1px solid $white;
  text-transform: none;
}

button.connect {
  text-transform: none;
  img {
    margin-right: 10px;    
  }
}

.item {
  background: #1e1e21;
  border-radius: 8px;
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 10px;

  &:hover {
    cursor: pointer;
    background: #333642 !important;
  }

  .logo {
    box-sizing: border-box;    
    width: 40px;
    height: 40px;    
  }

  .grow {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    gap: 10px;
    .network-title {
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 100%;
      /* identical to box height, or 18px */

      /* aiRight/White */

      color: #ffffff;
    }

    .des {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 150%;
      /* identical to box height, or 21px */
      font-feature-settings: 'ss03' on;    
      color: #bfa7f2;  
    }
  }

  .arrow-right {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #ffffff;
  }
}
