@import 'src/styles/themes';
@import 'src/styles/mixins';

.historyTab {
  margin-top: 24px;
  margin-bottom: 24px;
  width: 100%;
  border-radius: 12px;
  border: 1px solid;

  @include theme() {
    border-color: theme-get('neutral-border-border-default');
  }

  .historyData {
    h2 {
      padding-top: 20px;
      padding-left: 20px;

      @include theme() {
        color: theme-get('text-color');
      }
    }

    tr {
      padding: 0 !important;
    }
  }

  .info {
    display: flex;
    padding: 24px;

    @include mobile() {
      padding: 24px 16px;
    }

    color: #232521;

    .filter {
      cursor: pointer;
      padding: 8px 16px;

      &-icon {
        width: 20px;
        height: 20px;
      }

      &-title {
        padding-left: 4px;
      }

      display: flex;
      align-items: center;
      border-radius: 99px;
      border: 1px solid;

      @include theme() {
        border-color: theme-get('neutral-border-border-default');
      }

      &:hover {
        opacity: 0.6;
      }

      span {
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
      }
    }

    .search {
      padding-left: 12px;
    }
  }
}

.historyContainer {
  padding: 16px 0;
}

.history {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  font-weight: 400;
  gap: 8px;

  .status {
    // margin-right: 7px;

    svg {
      width: 24px;
      height: 24px;
    }

    @include medium_mobile {
      svg {
        width: 24px;
        height: 24px;
      }
    }
  }

  .from,
  .to {
    width: 26%;

    .list {
      display: flex;

      .img {
        display: flex;
        align-items: center;
        position: relative;

        .imgChain {
          width: 14px;
          height: 14px;
          border-radius: 2px;
          position: absolute;
          top: 95%;
          left: 115%;
          transform: translate(-95%, -115%);
          z-index: 1;
        }
      }

      .value {
        padding-left: 12px;

        .subBalance,
        .addBalance {
          font-size: 14px;
          white-space: nowrap;

          @include mobile {
            font-size: 12px;
          }

          .denom {
            padding-left: 4px;
            text-transform: uppercase;
          }
        }

        .subBalance {
          color: $error-color;
        }

        .addBalance {
          color: $success-color;
        }

        .timestamp {
          @include mobile {
            font-size: 12px;
          }
          @include theme() {
            color: theme-get('neutral-text-body-on-section');
          }
        }
      }
    }
  }

  .icon {
    width: 5%;
    display: flex;
    align-items: center;
  }

  .time,
  .txhash {
    width: 18%;
    z-index: 1;

    .type {
      font-size: 14px;
      text-transform: capitalize;
      font-style: normal;
      font-weight: 500;

      @include mobile {
        font-size: 12px;
      }

      @include theme() {
        color: theme-get('neutral-text-text-token-name');
      }
    }

    .link {
      display: flex;

      &:hover {
        font-weight: 600;
      }

      .open_link {
        padding-left: 4px;
        display: flex;
        align-items: center;
      }
    }
  }

  .from,
  .txhash,
  .icon {
    @include mobile() {
      display: none;
    }
  }

  .time,
  .to {
    @include mobile() {
      width: 50%;
    }
  }

  .txhash {
    .type {
      @include theme() {
        color: theme-get('neutral-text-body');
      }
    }
  }
}

.action {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 24px;
  border-radius: 99px;

  font-size: 14px;
  font-weight: 600;
  line-height: 150%;

  @include theme {
    background: theme-get('neutral-border-border-bold');
    color: theme-get('neutral-text-text-token-name');
  }

  .btn {
    button {
      font-size: 14px;
      font-weight: 400;
      line-height: 1;

      display: flex;
      height: 30px;
      padding: 5px 10px;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
  }

  @include small-mobile {
    display: flex;
    padding: 8px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    border-radius: 12px;

    .btn {
      width: 100%;

      button {
        width: 100%;

        display: flex;
        height: 30px;
        padding: 5px 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
      }
    }
  }
}

.loadingTrans {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 50%;
  background-color: $warning-surface-default;
}

.loadingTrans div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 26px;
  height: 26px;
  border: 3px solid;
  border-radius: 50%;
  animation: loadingTrans 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: $text-btn-default transparent transparent transparent;
}

.loadingTrans div:nth-child(1) {
  animation-delay: -0.45s;
}

.loadingTrans div:nth-child(2) {
  animation-delay: -0.3s;
}

.loadingTrans div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes loadingTrans {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
