@import 'src/styles/mixins';
@import 'src/styles/variables';
@import 'src/styles/themes';

.stepbystep {
  width: 100%;
  .stepbar {
    counter-reset: step;
    li {
      list-style-type: none;
      float: left;
      width: 20%;
      position: relative;
      text-align: center;
      @include theme() {
        color: theme-get('sea-stone-200');
      }
      &::before {
        content: '';
        position: relative;
        z-index: 1;
        counter-increment: step;
        width: 24px;
        height: 24px;
        @include theme() {
          border: 1px solid theme-get('sea-stone-200');
        }
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius: 50%;
        @include theme() {
          background-color: theme-get('sea-stone-200');
        }
      }
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        @include theme() {
          background-color: theme-get('sea-stone-200');
        }
        top: 11px;
        left: -50%;
        z-index: 0;
      }

      &:first-child::after {
        content: none;
      }
      &.active {
        &::before {
          content: url('../../../assets/images/iconoir_check.png');
          @include theme() {
            border-color: theme-get('sea-stone-200'); // green;
            color: theme-get('sea-stone-200'); // green
            border: 1px solid theme-get('sea-stone-200'); // #2f5711;
            background: theme-get('sea-stone-200'); // #aee67f;
          }
        }
      }
    }
    li.active + li:after {
      background: linear-gradient(#78ca11, #92e54c);
    }
    li.next:before {
      @include theme() {
        border-color: theme-get('sea-stone-200');
      }
    }

    .info-step {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 10px;
      gap: 6px;
      @include mobile() {
        gap: 3px;
      }
      &-balance {
        @include mobile() {
          white-space: nowrap;
          font-size: 12px;
        }
        @include theme() {
          color: theme-get('neutral-text-body');
        }
      }
    }
  }
}
