@import 'src/styles/themes';
@import 'src/styles/mixins';

.tabsTxs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  @include theme() {
    border-bottom: 1px solid theme-get('neutral-5');
  }
  .left {
    display: flex;
    .label {
      width: 120px;
      @include mobile() {
        width: 100px;
      }
      text-align: center;
      padding: 12px;
      text-transform: capitalize;
      cursor: pointer;
      font-size: 16px;
      font-weight: 600;
      @include theme() {
        color: theme-get('neutral-text-body');
      }
      border-bottom-width: 2px;
      border-bottom-style: solid;
      border-bottom-color: transparent;
      transition: all 300ms ease-in-out;
      &.active {
        @include theme() {
          color: theme-get('sea-stone-800');
          border-bottom-color: theme-get('sea-stone-800');
        }
      }
    }
  }

  .right {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;

    .logo {
      width: 30px;
      height: 30px;
    }
    .all-network {
      display: flex;
      flex-direction: column;
      .detail {
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        @include theme() {
          color: theme-get('neutral-text-text-token-name');
        }
      }
      .balance {
        @include theme() {
          color: theme-get('neutral-3');
        }
        font-size: 13px;
        font-weight: 400;
      }
    }
  }

  .network {
    @include theme() {
      background-color: theme-get('neutral-surface-bg');
      border: 1px solid theme-get('neutral-border-border-bold');
    }
    min-width: 300px;
    max-height: 500px;
    border: 1px solid;
    border-radius: 12px;
    overflow-y: auto;
    position: absolute;
    z-index: 2;
    font-weight: 600;
    padding: 16px 12px;
    @include mobile() {
      right: 10px;
    }
    .options {
      display: flex;
      flex-direction: column;
      padding-top: 10px;
      &.border {
        @include theme() {
          border-bottom: 0.5px solid theme-get('neutral-4');
        }
      }
      .item {
        @include theme() {
          background-color: theme-get('neutral-surface-bg');
          color: theme-get('text-color');
        }
        border-radius: 8px;
        display: flex;
        gap: 8px;
        align-items: center;
        font-style: normal;
        font-weight: 500;
        padding: 10px;
        font-size: 16px;
        line-height: 100%;
        font-feature-settings: 'zero' on;

        &:hover {
          cursor: pointer;
          color: $white-color;

          @include theme() {
            background-color: theme-get('neutral-surface-bg-dropdown-hover');
          }
        }

        &.all:hover {
          background-color: inherit !important;
          @include theme() {
            color: theme-get('sea-stone-500') !important;
          }
        }

        .logo {
          width: 28px;
          height: 28px;
        }

        .grow {
          flex-grow: 1;
          @include theme() {
            color: theme-get('neutral-text-text-token-name');
          }
          display: flex;
          flex-direction: column;
          gap: 5px;
        }
      }
    }
  }
}
