@import 'src/styles/themes';
@import 'src/styles/mixins';

.timeline-detail-wrapper {
  width: 100%;
  .timeline-detail {
    height: 36px;
    width: 100%;
    padding: 6px 16px;
    border-radius: 99px;
    color: #232521;

    .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .title {
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 1.5;
    }
  }

  .timeline-info {
    width: 100%;
    margin-top: 12px;
    margin-bottom: 24px;
    padding: 8px;
    border-radius: 8px;
    background-color: rgba(35, 37, 33, 1);

    .text-wrapper {
      display: flex;
      justify-content: space-between;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.5;
      color: rgba(239, 239, 239, 1);
    }
  }
}

.confirmed {
  background: rgba(174, 230, 127, 1);
}

.waiting {
  background: rgba(230, 207, 0, 1);
}

.inactive {
  background: rgba(223, 224, 222, 1);
}
