@import 'src/styles/mixins';
@import 'src/styles/variables';
@import 'src/styles/themes';

.pageWrapper {
  position: relative;
  scroll-behavior: smooth;
}

.container {
  height: auto;
  width: 100%;

  @include mobile {
    min-height: calc(100vh - 110px);
    padding: 24px 8px 24px 8px;
    margin-top: 70px;
  }

  &.withBanner {
    margin-top: 70px;
  }
}

.auction {
  display: flex;
  flex-direction: column;

  .top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex: 1;

    @include mobile {
      flex-direction: column-reverse;
    }

    .bid {
      width: 34%;

      @include medium-desktop {
        width: 44%;
      }

      @include mobile {
        width: 100%;
      }
    }

    .info {
      width: calc(66% - 40px);

      @include medium-desktop {
        width: 54%;
      }

      @include mobile {
        width: 100%;
      }
    }
  }
}