.connected_container {
  height: 52px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 99px;

  .wallet_icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #aee67f;
    border-radius: 50%;
    padding: 6px;
  }

  .down_icon {}

  .content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex: 1;
    margin-left: 12px;

    .title {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      color: #494949;
    }

    .money {
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      color: #232521;
    }
  }
}

.dark {
  .content {
    .title {
      color: #efefef;
    }

    .money {
      color: #f7f7f7;
    }
  }
}