@import 'src/styles/mixins';
@import 'src/styles/themes';

.pool_filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px 16px;
  flex-wrap: wrap;
  margin-bottom: 12px;

  @include mobile() {
    flex-direction: column;
    gap: 6px;
  }

  .pool_filter_right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // flex: 1;

    @include mobile {
      width: 100%;
      margin-top: 16px;
    }
  }
}

.pool_filter_list {
  display: flex;
  align-items: center;
  padding: 4px;
  border-radius: 99px;

  @include theme() {
    background-color: theme-get('neutral-border-border-default');
  }

  .filter_item {
    padding: 3px 20px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 99px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    @include theme() {
      color: theme-get('neutral-text-body');
    }
  }

  .filter_active {
    background-color: $white-color;

    @include theme() {
      color: #163300;
    }
  }

  @include mobile() {
    width: 100%;
    justify-content: space-between;

    .filter_item {
      width: 100%;
    }
  }
}

.pool_search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 99px;

  @media (max-width: 575px) {
    width: 100%;
  }

  input {
    height: 36px;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    margin-right: 8px;
    color: $neutron-text-body-light;

    &::placeholder {
      color: $neutron-text-body-light;
    }
  }

  @include mobile {
  }
}
