@import 'src/styles/themes';
@import 'src/styles/mixins';

.overview {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  border: 1px solid;
  gap: 24px;
  padding: 24px;

  @include theme {
    border-color: theme-get('neutral-surface-bg-btn-disabled');
  }

  @include small-mobile {
    padding: 16px;
    gap: 16px;
  }

  .totalLiquidity {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include small-mobile {
      flex-direction: row;
      // justify-content: space-between;
      align-items: center;
      gap: 0px;
      margin-bottom: 16px;
    }

    @include theme() {
      border-color: theme-get('neutral-border-border-default');
    }

    .totalTop {
      display: flex;

      @include small-mobile {
        margin-right: -40px;
      }

      .pairLogos {
        position: relative;
        width: 100px;

        .logo1,
        .logo2 {
          width: 48px;
          height: 48px;

          @include small-mobile {
            width: 32px;
            height: 32px;
          }
        }

        .logo2 {
          position: absolute;
          left: 22px;
          top: 22px;
          z-index: 1;
        }
      }
    }

    .amountToken {
      .percent {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 12px;

        span {
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 100%;

          @include theme() {
            color: theme-get('neutral-text-body');
          }

          @include small-mobile {
            font-size: 12px;
          }
        }

        .bar {
          margin: 0 10px;
          flex-grow: 1;
          border-radius: 99px;

          @include theme() {
            background-color: theme-get('neutral-text-body');
          }

          .barActive {
            width: 50%;
            height: 4px;
            border-start-start-radius: 99px;
            border-end-start-radius: 99px;

            @include theme {
              background-color: theme-get('primary-highlight-section');
            }
          }
        }
      }

      .amount {
        display: flex;
        justify-content: space-between;
        gap: 8px;

        span {
          font-size: 16px;
          @include small-mobile() {
            font-size: 15px;
          }
          font-style: normal;
          font-weight: 500;
          line-height: 100%;

          @include theme {
            color: theme-get('neutral-9');
          }

          @include small-mobile {
            font-size: 12px;
          }
        }
      }
    }
  }

  .liquidity {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .title {
      @include theme() {
        color: theme-get('neutral-text-body');
      }

      font-size: 16px;
      font-weight: 400;

      @include small-mobile {
        font-size: 14px;
      }
    }

    .pairAmount {
      display: flex;
      flex-direction: column;
      gap: 16px;

      @include small-mobile {
        flex-direction: row;
        gap: 8px;
        justify-content: space-between;
        align-items: flex-end;
      }

      .amountUsdt {
        font-size: 24px;
        font-weight: 500;
        line-height: 100%;

        @include theme() {
          color: theme-get('neutral-text-title');
        }

        @include small-mobile {
          font-size: 18px;
        }
      }

      .amountLp {
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;

        @include theme() {
          color: theme-get('neutral-text-body');
        }

        @include small-mobile {
          font-size: 16px;
        }
      }
    }
  }

  .divider {
    height: 1px;
    width: 100%;

    @include theme {
      background: theme-get('neutral-surface-bg-btn-disabled');
    }
  }

  .isShowMore {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .volume,
  .apr {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .icon {
      padding: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      width: fit-content;

      @include theme() {
        background-color: theme-get('neutral-border-border-bold');
      }
    }

    .title {
      @include theme() {
        color: theme-get('neutral-text-body');
      }

      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;

      @include small-mobile {
        font-size: 14px;
      }
    }

    .value {
      display: flex;
      gap: 8px;
      align-items: flex-end;
    }

    .volumeAmount {
      @include theme() {
        color: theme-get('neutral-text-title');
      }

      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 100%;

      @include small-mobile {
        font-size: 18px;
      }
    }

    .percent {
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 100%;
    }

    .positiveVol {
      color: $success-color;
    }

    .negativeVol {
      color: $error-color;
    }
  }

  .showMore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    gap: 7px;
    width: 100%;

    @include theme() {
      color: theme-get('primary-surface-default');
    }

    svg {
      path {
        @include theme() {
          stroke: theme-get('primary-surface-default');
        }
      }
    }
  }

  @include small-mobile() {
    flex-wrap: wrap;

    .totalLiquidity {
      width: 100%;
    }

    .volume,
    .apr {
      width: 50%;
      // display: none;
      transition: display 0.2s ease-in-out;
    }

    .open {
      display: block;
    }
  }
}
