.maintenance {
  background: linear-gradient(
    144.98deg,
    rgba(51, 51, 51, 0.8) 5.29%,
    rgba(7, 7, 7, 0.8) 95.51%
  );
  border-radius: 24px;
  padding: 24px;
  width: calc(60% - 20px);
  border: 1px solid #a871df !important;

  @media (max-width: 1200px) {
    width: calc(50% - 10px);
  }

  @media (max-width: 600px) {
    width: calc(100%);
  }

  &_content {
    margin: 40px;
  }
}