@import 'src/styles/variables';
@import 'src/styles/mixins';
@import 'src/styles/themes';

.transferTab {
  width: 100%;
  margin-top: 20px;

  // @include flex(space-between);
  .tfBtn {
    @include theme() {
      background-color: theme-get('bg-btn-primary');
      box-shadow: theme-get('shadow-btn');
    }

    color: $white-color;
    border-radius: 8px;
    padding: 16px;
    @include flex();
    align-content: center;
    margin-top: 24px;
    cursor: pointer;

    svg {
      margin-right: 5px !important;
    }
  }

  .tfTxt {
    font-weight: 600;
    font-size: 16px;
  }

  @include mobile {
    flex-direction: column;
    align-items: center;
  }
}

.balanceDescription {
  width: 100%;
  text-align: left !important;

  @include mobile {
    padding-top: 10px;
  }

  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #777e90;
  align-self: flex-start;
  margin: 8px 8px 8px 0;
}

.balanceAmount {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.token {
  @include flex();
  margin-right: 10px;

  .tokenInfo {
    padding-left: 16px;

    .tokenName {
      font-weight: 600;
      font-size: 22px;
    }
  }
}

.table {
  .tableDes {
    padding: 24px;
    padding-top: 0px;
    justify-content: space-between;
    display: flex;
  }
}

.subLabel {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: #777e90;

  &.token {
    align-self: flex-end;
  }
}

.fromBalanceDes {
  @include flex(space-between);
}

.balanceFromGroup {
  display: flex;

  @include mobile {
    width: 50%;
  }

  @media (max-width: 575px) {
    width: 100%;
    margin-top: 10px;
  }

  // padding-left: 24px;
  // padding-left: 12px;
  .balanceBtn {
    cursor: pointer;
    background: #191b21;
    border-radius: 8px;
    width: 66px;
    padding: 10px;
    margin-left: 12px;

    &:first-child {
      @media (max-width: 575px) {
        margin-left: 0;
      }
    }

    @include mobile {
      margin-left: 8px;
      padding: 6px;
    }

    color: #a871df;
  }
}

.amount {
  text-align: left;
  background: #2b2d3b;
  border-radius: 8px;
  height: 48px;
  width: 180px;
  padding: 12px;
  box-sizing: border-box;
  color: #ebebeb;
  font-weight: 600;
  font-size: 24px;

  &.light {
    background: #efefef;
    color: $light-text-color;
  }

  @include mobile {
    width: 100%;
    font-size: 20px;
  }
}

.tokenSubAmouts {
  display: flex;
  flex-direction: column;
  text-align: end;
}

.itemSubAmounts {
  color: #777e90;
  font-weight: 600;
  font-size: 13px;
}

.tokenFromGroup {
  margin: 5px 0;

  &.small {
    .amount {
      height: 48px;
      font-size: 16px;

      @include mobile {
        // width: 106px;
      }

      border-radius: 8px;
    }

    .balanceBtn {
      background: #2e283d;
      font-weight: 500;
      border-radius: 8px;

      &.light {
        background-color: #efe6f8;
      }

      @include desktop {
        width: 66px;
        font-size: 16px;
      }

      @include mobile {
        width: 25%;
        font-size: 12px;
      }

      height: 48px;
      color: #a871df;
      text-align: center;
    }

    .tfBtn {
      margin-top: 15px;
      width: 100%;
      border-radius: 8px;
      display: flex;
      gap: 10px;

      &.light {
        background-color: $blue-color;
      }
    }
  }
}

.tokenIcon {
  width: 44px;
  height: 44px;
}

.network {
  @include desktop {
    @include flex(space-between);
  }

  @include mobile {
    width: 100%;
  }

  .box {
    @include desktop {
      width: 50%;
    }

    .transfer {
      .content {
        @include flex(space-between);

        @include mobile {
          padding-top: 20px;
          justify-content: flex-start;
        }

        .title {
          font-size: 16px;
          font-weight: 600;
          color: #ebebeb;
          text-overflow: ellipsis;
          -webkit-line-clamp: 1;
          display: -webkit-box;
          -webkit-box-orient: vertical;

          &.light {
            color: $light-text-color;
          }
        }

        .address {
          margin-left: 10px;
          border-radius: 8px;
          border: 1px solid #777e90;
          padding: 2px 8px;
          color: #777e90;
          font-size: 13px;
          display: flex;
          justify-content: center;
        }
      }
    }

    .search {
      position: relative;
      padding-top: 16px;
      cursor: pointer;

      &_filter {
        background: #2b2d3b;
        text-align: center;
        border-radius: 8px;
        padding: 12px;

        &.light {
          background: #efefef;
        }
      }

      &_box {
        @include flex(space-between);
        padding: 0 10px;
      }

      &_logo {
        display: flex;
        align-items: center;
      }

      &_text {
        font-size: 16px;
        font-weight: 600;
        padding-left: 10px;

        &.light {
          color: #6f767e;
        }
      }
    }
  }
}

.loading {
  @include desktop {
    width: 50%;
    height: 180px;
  }

  @include flex();
}

.tokenFromGroupBalance {
  @include mobile {
    @include flex(space-between, center, column-reverse);
  }

  .bridgeFee {
    font-weight: 400;
    font-size: 14px;
    margin-top: 12px;

    @include theme() {
      color: theme-get('text-color-third');
    }

    span {
      color: $spanish-yellow;
    }
  }

  .relayerFee {
    display: inline-flex;
    gap: 2px;
  }
}

.items {
  position: absolute;
  width: 100%;
  background: #2b2d3b;
  border: 1.5px solid #5a5270;
  z-index: 1;

  &_chain {
    display: flex;
    align-items: center;
  }

  &.light {
    background: #efefef;
    border-color: none;
  }

  border-radius: 8px;
  margin-top: 10px;

  li {
    padding: 12px 24px 12px 24px;
  }

  li:hover {
    background-color: #703cde;

    div {
      color: $white-color;
    }
  }

  &_title {
    padding-left: 10px;
    color: #ebebeb;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;

    &.light {
      color: #6f767e;
    }
  }
}