@import 'src/styles/themes';
@import "src/styles/mixins";

.select {
  background: #141416;
  border-radius: 24px;
  padding: 30px 24px;

  &.light {
    background-color: #ffffff;
  }

  .title {
    display: flex;
    align-items: flex-end;

    gap: 5px;
    margin-bottom: 25px;

    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    /* identical to box height, or 18px */

    text-align: center;

    /* aiRight/White */

    &.light {
      @include theme() {
        color: theme-get('text-color');
      }
    }
  }

  .options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: calc(100vh - 300px);
    overflow: auto;

    .item {
      // @include theme() {
      //   background-color: theme-get('bg-color');
      //   color: theme-get('text-color');

      // }
      &.light {
        @include theme() {
          color: theme-get('text-color');
        }
      }

      border-radius: 8px;
      display: flex;
      gap: 10px;
      align-items: center;
      padding: 16px;

      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 100%;
      /* identical to box height, or 16px */

      font-feature-settings: 'zero' on;

      /* aiRight/White */

      // color: #ffffff;f
      @include theme() {
        color: theme-get('text-color');
      }

      &:hover {
        cursor: pointer;
        background: #333642;
      }

      &.light:hover {
        background-color: #612fca;
        color: #fff;
      }

      .logo {
        width: 30px;
        height: 30px;
      }

      .grow {
        flex-grow: 1;

        display: flex;
        flex-direction: column;
        gap: 10px;
      }

      .arrow-right {
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;

        border-left: 8px solid #ffffff;
      }
    }
  }
}