.table {
    overflow-y: auto;
    padding-bottom: 29px;
    width: 100%;
    table-layout: fixed;

    td {
        overflow-wrap: break-word;
    }

    thead {
        background: var(--background-color);
        border-bottom: 1px solid #e1dfdf;

        box-sizing: border-box;
        position: sticky;
        top: 0;
        z-index: 1;

        tr {
            display: flex;
            border-radius: 4px 4px 0 0;
            padding: 5px 0;
            color: var(--dark-color);
            font-weight: 500;
            line-height: 18px;
            align-items: center;
        }
    }

    tbody {
        tr {
            display: flex;
            padding: 15px 0;
            align-items: center;
            margin: 0;
            cursor: pointer;
            border-bottom: 1px solid #383E49;

            &:hover {
                background-color: var(--background-color);
            }

            &>td {
                font-size: 12px !important;
                padding-left: 4px !important;
                padding-right: 4px !important;

                &>div,
                &>span {
                    font-size: 12px !important;
                }
            }
        }
    }
}