@import 'src/styles/themes';
.loaderRoot {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 22;
  opacity: 0;
  transition: all 0.3s;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  &.light {
    background-color: $light-bg-btn-active-gray;
  }
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.loaderRootBorderRadius {
  border-radius: 16px;
}
.loaderRootDisplayed {
  opacity: 1;
}
.osmosisContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.svgLogo {
  opacity: 0.7;
  width: 50%;
  height: 50%;
}
.loading {
  text-shadow: 1px 1px 1px #231d4b;
  font-weight: 500;
  span {
    opacity: 0.2;
  }
}
.letter1 {
  animation: loadins 2s linear infinite;
  animation-delay: 0.1s;
}
.letter2 {
  animation: loadins 2s linear infinite;
  animation-delay: 0.2s;
}
.letter3 {
  animation: loadins 2s linear infinite;
  animation-delay: 0.3s;
}
.letter4 {
  animation: loadins 2s linear infinite;
  animation-delay: 0.4s;
}
.letter5 {
  animation: loadins 2s linear infinite;
  animation-delay: 0.5s;
}
.letter6 {
  animation: loadins 2s linear infinite;
  animation-delay: 0.6s;
}
.letter7 {
  animation: loadins 2s linear infinite;
  animation-delay: 0.7s;
}
.letter8 {
  animation: loadins 2s linear infinite;
  animation-delay: 0.8s;
}
.letter9 {
  animation: loadins 2s linear infinite;
  animation-delay: 0.9s;
}
.letter10 {
  animation: loadins 2s linear infinite;
  animation-delay: 1s;
}
.letter11 {
  animation: loadins 2s linear infinite;
  animation-delay: 1.1s;
}

@keyframes loadins {
  0%,
  100% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
}
