@import 'src/styles/mixins';
@import 'src/styles/variables';
@import 'src/styles/reboot';
@import 'src/styles/utils';

html,
body {
  // background-image: url(images/BackgroundPattern.svg);
  // @include mobile {
  //   background-image: url(images/BackgroundPatternMobile.svg);
  // }
  font-family: $font-family;
  width: 100%;
  height: 100%;
}

button {
  transition: opacity 0.2s ease-in-out;
  opacity: 1;
}

button:hover {
  opacity: 0.8;
}

button:disabled,
button[disabled] {
  opacity: 0.6;
}

.Toastify {
  position: fixed;
  z-index: 10000000;
  padding: 16px 8px 16px 16px;
  .Toastify__toast-theme--dark {
    background: #2d2938;
  }
  .Toastify__toast-container--top-right {
    top: 35px;
    right: 35px;
  }
}

.Toastify__toast-container {
  z-index: 99 !important;
  max-width: 360px !important;
  min-width: 360px !important;

  @media (max-width: 767px) {
    min-width: 280px !important;
    width: 100% !important;
    padding: 0 20px !important;
    right: 0 !important;
    left: unset !important;
  }
}

.Toastify__toast--default {
  background: #2d2938 !important;
  max-width: 360px !important;
  min-width: 360px !important;
  border-radius: 8px !important;

  @media (max-width: 767px) {
    min-width: 280px !important;
    margin-top: 10px;
    width: 100%;
  }
}

.Toastify__toast {
  padding: 20px 12px 20px 20px !important;
  overflow: visible !important;

  @media (max-width: 767px) {
    padding: 16px !important;
  }
}

.Toastify__toast-body {
  padding: 0 !important;
}

#oraiswap {
  font-size: $font-size;
  min-height: 100%;
  display: flex;
  width: 100%;
}

#basement {
  min-height: 100vh;
}

@font-face {
  font-family: $font-family;
  src: url('./assets/fonts/IBMPlexSans-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: $font-family;
  src: url('./assets/fonts/IBMPlexSans-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: $font-family;
  src: url('./assets/fonts/IBMPlexSans-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: $font-family;
  src: url('./assets/fonts/IBMPlexSans-Regular.ttf');
  font-weight: 400;
}
