@import 'src/styles/mixins';
@import 'src/styles/variables';
@import 'src/styles/reboot';
@import 'src/styles/colors';
@import 'src/styles/utils';

#oraiswap {
  font-size: $font-size;

  position: relative;
  min-height: 100vh;
  min-height: 100vh;
  background-color: $darkblue;
  background-image: url(images/BackgroundPattern.svg);
  background-repeat: no-repeat;
  background-position: 50% calc(100% + 180px);
  font-family: $font-family-swap;
  background-attachment: fixed;
}

#basement {
  min-height: 100vh;
}
