@import 'src/styles/mixins';
@import 'src/styles/variables';
@import 'src/styles/reboot';
@import 'src/styles/colors';
@import 'src/styles/utils';

html {
  // background-image: url(images/BackgroundPattern.svg);
  // @include mobile {
  //   background-image: url(images/BackgroundPatternMobile.svg);
  // }
}

#oraiswap {
  font-size: $font-size;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#basement {
  min-height: 100vh;
}
