@import 'src/styles/themes';
@import 'src/styles/mixins';

.parentSize {
  flex: 1 1 0%;
  overflow: hidden;

  svg {
    overflow: visible;
  }
}

.toolTip {
  display: flex;
  position: relative;
  padding: 0.75rem;
  flex-direction: column;
  gap: 0.25rem;
  border-radius: 0.75rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

  h6 {
    font-weight: 600;
  }

  p {
    font-weight: 500;
  }
}
