@import 'src/styles/mixins';

.content {
  background-image: url(../assets/images/background_dark.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #111111;

  &.light {
    background-color: #f4f4f4;
  }

  flex-grow: 1;
  height: auto;
  width: 100%;
  padding-left: 120px;
  padding-right: 120px;

  @include mobile {
    min-height: calc(100vh - 110px);
    padding: 90px 16px 20px 16px;
  }
}