@import 'src/styles/mixins';
@import 'src/styles/themes';

.future-promotion {
  position: fixed;
  bottom: 90px;
  right: 43px;
  border-radius: 12px;
  @include theme() {
    border: 1px solid theme-get('neutral-5');
    background: theme-get('neutral-surface-bg');
  }
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  width: 300px;

  .future-promotion-container {
    .future-promotion-img {
      img {
        width: 100%;
      }
    }

    .content-container {
      padding: 24px;
      .title {
        font-size: 16px;
        @include theme() {
          color: theme-get('neutral-2');
        }
      }
      .description {
        font-size: 14px;
        padding: 20px 0;
        @include theme() {
          color: theme-get('neutral-text-body');
        }
      }
      .actions {
        display: flex;
        justify-content: flex-end;

        button {
          padding: 8px 16px;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          &:last-child {
            margin-left: 10px;
          }
        }
      }
    }
  }
}
