@import 'src/styles/themes';
@import 'src/styles/mixins';
@import 'src/styles/variables';
@import 'src/styles/reboot';
@import 'src/styles/utils';

html {
  background-color: $primary-background-other;
}

.fb-feedback-widget-feedback-button-container {
  display: none !important;
  // @include mobile {
  //   display: none !important;
  // }
}

.app {
  font-size: $font-size;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: $menu-height;

  @include mobile {
    padding-top: 0;
  }

  background-color: $primary-background-other;

  &.light {
    background-color: $white-color;
  }

  .main {
    display: flex;

    .appRight {
      margin-left: $sidebar-width;
      width: 100%;

      @include mobile {
        margin-left: 0;
      }
    }

    .bannerWithContent {
      margin-top: 50px;
    }
  }
}
