@import 'src/styles/mixins';
@import 'src/styles/themes';

.maintainWrapper {
  z-index: 900;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 91px;
  padding: 16px;

  background: $warning-surface-default;
  color: $dropdown-bg-color-hover-dark;

  @include mobile {
    top: 85px;
    padding: 10px;
  }

  .note {
    flex: 1;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;

    @include mobile {
      font-size: 14px;
    }
  }

  .closeBanner {
    cursor: pointer;
    svg {
      margin-left: 4px;
      vertical-align: middle;
      width: 20px;
      height: 20px;

      @include mobile {
        width: 14px;
        height: 14px;
      }

      path {
        fill: $dropdown-bg-color-hover-dark;
      }
    }
  }
}

.maintainModal {
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
  position: fixed;
  background: rgba(7, 10, 19, 0.4);
  width: 100vw;
  height: 100vh;

  @include small-mobile {
    align-items: flex-end;
  }

  .modalContentWrapper {
    border-radius: 12px;
    width: 100%;
    max-width: 576px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.05);

    .closeModal {
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
    }

    @include small-mobile {
      border-radius: unset;
      border-start-end-radius: 12px;
      border-start-start-radius: 12px;
    }

    @include theme {
      background: theme-get('neutral-surface-bg-modal');
      color: theme-get('neutral-9');
    }

    img {
      width: 100%;
      border-start-end-radius: 12px;
      border-start-start-radius: 12px;
    }

    .contentText {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 13px;
      font-weight: 400;
      line-height: 140%; /* 18.2px */
      letter-spacing: 0.013px;

      gap: 24px;
      padding: 0 24px;
    }

    .footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 24px 24px 24px;

      .contactUs {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: underline;
        gap: 4px;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px; /* 150% */
        cursor: pointer;
      }
    }
  }
}
