.menu {
  width: 17%;
  background: radial-gradient(89.33% 89.33% at 50% 0%, #352C47 0%, rgba(28, 30, 37, 0) 100%);
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #443E55;
  padding-bottom: 20px;
}

.logo_text {
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  margin-left: 10px;
  color: #fff;
}

.menu_items {
  display: flex;
  flex-direction: column;
}

.menu_item {
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 12px 16px;

  &:hover {
    background: #2D2938;
    cursor: pointer;
  }

  &.active {
    background: #2D2938;
  }
}

.menu_item_text {
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  color: #fff;
  margin-left: 10px;
}