@import 'src/styles/mixins';
@import 'src/styles/themes';

.menu {
  display: flex;
  justify-content: space-between;
  padding: 20px 120px;
  position: sticky;
  z-index: 9999;
  top: 0;
  transition: margin-left 0.2s ease-in-out;

  @include mobile {
    margin-left: calc(-1 * var(--menu-width));
    padding-top: 75px;
    overflow: auto;

    &.open {
      margin-left: 0;
    }
  }

  @include theme() {
    background-color: theme-get('bg-color');
    border-bottom: 1px solid theme-get('neutron-5');
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;

  &_text {
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    margin-left: 10px;
    color: #fff;
  }

  @include mobile {
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 16px;
    z-index: 9999;
    background-color: #111111;
  }
}

.menu_list {
  display: flex;

  .menu_item {
    box-sizing: border-box;
    position: relative;
    vertical-align: middle;
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 6px 10px;
    margin-left: 17px;
    margin-right: 17px;
    cursor: pointer;

    &::before,
    &::after {
      box-sizing: inherit;
      content: '';
      position: absolute;
      top: 8px;
      width: 102%;
      height: 67%;
    }

    &:hover {
      .menu_item_text {
        @include theme() {
          color: theme-get('neutral-1');
        }
      }
    }

    &.active {
      @include theme() {
        color: theme-get('neutral-1');
      }

      &::before {
        @include theme() {
          border-left-color: theme-get('neutral-1');
          border-right-color: theme-get('neutral-1');
          border-bottom-color: theme-get('neutral-1');
        }
      }

      &::after {
        border: 0 solid transparent;
      }

      &::after {
        transform: rotate(240deg);
      }
    }

    &_text {
      font-weight: 400;
      font-size: 16px;
      line-height: 100%;

      @include theme() {
        color: theme-get('neutral-3');
      }

      &.active {
        @include theme() {
          color: theme-get('neutral-1');
        }
      }
    }
  }
}

.connect_wallet_wrapper {
  display: flex;
  align-items: center;

  .menu_theme {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 28px;
    padding: 9px;
    width: 45px;
    height: 45px;
    margin-right: 20px;
    box-shadow: 0px 3.33333px 6.66667px -3.33333px rgba(0, 0, 0, 0.25),
      inset 0px -0.833333px 0.833333px rgba(0, 0, 0, 0.49), inset 0px 1.66667px 0.833333px rgba(255, 255, 255, 0.06);
  
    &:hover {
      background: #2d2938;
      cursor: pointer;
    }
  
    &.active {
      background: #2d2938;
  
      &.light {
        background-color: #fcfcfc;
        box-shadow: 0px 1px 6px -2px rgba(0, 0, 0, 0.25), inset 0px -0.833333px 0.833333px rgba(0, 0, 0, 0.04),
          inset 0px 1.66667px 0px rgba(255, 255, 255, 0.25);
      }
    }
  
    &_text {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 100%;
      margin-left: 10px;
    }
  }
  
}

.spin {
  border-radius: 86%;
  box-shadow: none;

  &::before,
  &::after {
    top: 0;
    left: 0;
    border-radius: 86%;
  }

  &::before {
    border: 1px solid transparent;
  }

  &:active::before {
    @include theme() {
      border-left-color: theme-get('neutral-1');
      border-right-color: theme-get('neutral-1');
      border-bottom-color: theme-get('neutral-1');
    }

    transition: border-left-color 0.05s linear,
    border-right-color 0.05s linear 0.05s,
    border-bottom-color 0.05s linear 0.05s;
  }

  &::after {
    border: 0 solid transparent;
  }

  &:active::after {
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    transform: rotate(240deg);
    transition: transform 0.1s linear 0s, border-left-width 0s linear 0.25s;
  }
}