.menu {
  width: 17%;
  background: radial-gradient(
    89.33% 89.33% at 50% 0%,
    #352c47 0%,
    rgba(28, 30, 37, 0) 100%
  );
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 100%;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #443e55;
  padding-bottom: 20px;

  &_text {
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    margin-left: 10px;
    color: #fff;
  }
}

.menu_items {
  display: flex;
  flex-direction: column;
}

.menu_item {
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 12px 16px;

  &:hover {
    background: #2d2938;
    cursor: pointer;
  }

  &.active {
    background: #2d2938;
  }

  &_text {
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    color: #fff;
    margin-left: 10px;
  }
}

.menu_themes {
  display: flex;
  justify-content: space-evenly;
  margin-top: 400px;
}

.menu_theme {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  width: 138px;
  padding: 5px 24px 6px;

  &:hover {
    background: #2d2938;
    cursor: pointer;
  }

  &.active {
    background: #2d2938;
  }

  &_text {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    margin-left: 10px;
  }
}

.menu_footer {
  text-align: center;
  margin-top: 100px;
}

.connect_btn {
  background: #612fca;
  box-shadow: inset 0px -2px 0px #4b2993, inset 1px 2px 0px #804af2;
  border-radius: 8px;
  padding: 16px;
  margin-top: 32px;
  margin-bottom: 32px;
  justify-content: space-around;
  display: flex;
  align-items: center;
}

.connect {
  font-weight: 600;
  font-size: 16px;
}
