@import 'src/styles/mixins';
@import 'src/styles/themes';
@import 'src/styles/variables';

.noticeWrapper {
  z-index: 900;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: $menu-height;
  left: $sidebar-width;

  @include mobile {
    left: 0;
  }

  right: 0;
  padding: 14px;
  padding-left: 80px;
  padding-right: 80px;

  background: $primary-banner-default;
  color: $dropdown-bg-color-hover-dark;

  @include medium-desktop {
    padding-left: 80px;
    padding-right: 80px;
  }

  @include mobile {
    top: $menu-height;
    padding: 10px 8px;
  }

  .note {
    display: flex;
    align-items: center;
    gap: 12px;

    flex: 1;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;

    @include mobile {
      font-size: 14px;
    }

    .icon {
      svg {
        width: 40px;
        height: 40px;
      }
    }

    &.onlyText {
      font-size: 16px;
      font-weight: 500;

      @include mobile {
        font-size: 14px;
      }
    }

    .text {
      display: flex;
      align-items: center;
      justify-items: flex-start;
      gap: 12px;

      flex-wrap: wrap;
      vertical-align: middle;

      .title {
        font-size: 18px;
        font-weight: 600;
      }

      .link {
        font-size: 15px;
        font-weight: 500;

        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }

  .closeBanner {
    cursor: pointer;

    svg {
      margin-left: 4px;
      vertical-align: middle;
      width: 20px;
      height: 20px;

      @include mobile {
        width: 14px;
        height: 14px;
      }

      path {
        fill: $dropdown-bg-color-hover-dark;
      }
    }
  }
}
