@import 'src/styles/mixins';
@import 'src/styles/variables';

.header {
  position: sticky;
  top: 0;
  border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.15);
}

@include mobile {
  .header {
    position: sticky;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.container {
  @include flex(space-between);
}

.wrapper {
  @include flex;
  font-size: 20px;
  color: #ffffff;
}

.logo,
.connect {
  @include flex;
  @include desktop;
  margin: 0 10px 0 20px;
}
