@import 'src/styles/themes';
@import 'src/styles/mixins';

.modal {
  max-width: 650px;
}

.chooseWalletModalContainer {
  //   display: flex;
  //   justify-content: center;
  z-index: 1021;

  .chooseWalletModalWrapper {
    width: 670px;
    background: #fff;
    // display: flex;
    // flex-direction: column;
    color: #232521;
    border-radius: 12px;
    padding: 24px;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      margin-bottom: 24px;

      .closeIcon {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }

    .stepperWrapper {
      max-height: 600px;
      overflow-y: scroll;
    }
  }
}

.dark {
  .chooseWalletModalWrapper {
    background: #121511;

    .title {
      color: #f7f7f7;
    }

    .downloadPlatform {
    }
  }
}
