@import 'src/styles/mixins';
@import 'src/styles/themes';
@import 'src/styles/variables';

.tooltip-smart-route {
  border-radius: 8px;
  padding: 16px 16px 40px 16px;

  &.isBotomSheet {
    position: absolute;
    bottom: 0;

    border-radius: 12px;

    z-index: 1;
    width: 100%;

    border: 1px solid $dropdown-border-color-light;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    gap: 10px;

    .title {
      display: flex;
      align-items: center;

      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 100%;
      /* identical to box height, or 18px */
      text-align: center;

      img {
        margin-right: 10px;
      }

      div {
        padding-left: 6px;
      }
    }

    .close-icon {
      cursor: pointer;
      width: 14px;
      height: 14px;

      path {
        fill: #777e90;
      }
    }
  }
}

.light-modal {
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.05);
  background-color: $white;
  color: $darkblue;
}

.dark-modal {
  background-color: $dropdown-bg-color-dark;

  &.isBotomSheet {
    border: 1px solid $dropdown-bg-color-hover-dark;
  }

  .header {
    .title {
      .btn {
        path {
          fill: $white;
        }
      }
    }

    .close-icon {
      path {
        fill: #bdc3d3;
      }
    }
  }

  .subtitle {
    color: #f7f7f7;

    .label {
      color: #979995;
    }
  }
}
