# This is a basic workflow to help you get started with Actions

name: IBC

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: ["feat/ibc"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    runs-on: orai-self-hosted #self-hosted #ubuntu-20.04
    strategy:
      matrix:
        node-version: [14.16.0]

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.8.0
        with:
          access_token: ${{ github.token }}
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - uses: actions/cache@v2
        id: yarn-cache
        with:
          path: |
            ${{ steps.yarn-cache-dir-path.outputs.dir }}
            ./node_modules/
          key: ${{ runner.os }}-yarn-${{ hashFiles('./yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: Install Yarn
        run: npm install -g yarn
      - name: Install Dependencies
        run: yarn install
      - name: Copy env
        run: cp .env.example .env
      #- name: Copy env
      #  run: 'echo "$ENV_VAR" > .env'
      #  shell: bash
      #  env:
      #    ENV_VAR: ${{secrets.ENV_MAINNET}}
      - name: Build Production
        run: yarn build
        env:
          CI: false
      # Deploy master
      - name: Set firebase project alias
        run: |
          yarn firebase use default --token ${{ secrets.FIREBASE_TOKEN }}
          yarn firebase target:apply hosting oraiswap-ibc oraiswap-ibc --token ${{ secrets.FIREBASE_TOKEN }}
          yarn firebase deploy --only hosting:oraiswap-ibc --token ${{ secrets.FIREBASE_TOKEN }} -m "${{ github.event.head_commit.message }}"
#      - name: Send discord message
#        uses: appleboy/discord-action@master
#        with:
#          webhook_id: ${{ secrets.DISCORD_WEBHOOK_ID }}
#          webhook_token: ${{ secrets.DISCORD_WEBHOOK_TOKEN }}
#          username: "GitBot"
#          message: "Deployed to production."
