@import 'src/styles/mixins';
@import 'src/styles/variables';
@import 'src/styles/themes';

.harvestInfo {
  line-height: 100%;

  .contentWrapper {
    position: relative;
    width: 100%;

    .content {
      position: relative;
      left: 0;
      top: 0;
      z-index: 1;
      height: 100%;
      width: calc(100% - 12px);
      padding: 24px;

      display: flex;
      justify-content: space-between;

      @include small-mobile {
        flex-direction: column;
      }

      //   @include theme() {
      //     border: 1px solid theme-get('neutral-6');
      //     background: theme-get('neutral-white');
      //     box-shadow: theme-get('shadow-swap-box');
      //   }

      border-radius: 24px;
      border: 2px solid #000;
      background: #c9ff85;

      .value {
        display: flex;
        flex-direction: column;
        color: #232521;
        font-size: 32px;
        font-weight: 600;
        line-height: 120%;
      }

      .heading {
        @include theme() {
          color: theme-get('text-color');
        }

        font-size: 16px;
        font-weight: 500;
        line-height: 100%;

        margin-bottom: 12px;

        svg {
          vertical-align: sub;
          margin-left: 4px;
        }
      }

      .balance {
        display: flex;
        align-items: center;
        margin-bottom: 12px;

        svg {
          margin-right: 8px;
        }
      }

      .usd {
        font-size: 18px;
        font-weight: 600;
        line-height: 150%; /* 27px */
      }
    }

    .shadow {
      position: absolute;
      right: 0;
      top: 8px;
      height: 100%;
      width: calc(100% - 10px);
      z-index: 0;
      border-radius: 24px;
      // theme
      background: #000;
    }
  }
}
